@charset "UTF-8";


.round (@radius: 2px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;

	-moz-background-clip: border;
	-webkit-background-clip: border-box;
	background-clip: border-box;
}

.rounds (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.gradient (@from, @to) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image:    -moz-linear-gradient(top, @from, @to);
	background-image:      -o-linear-gradient(top, @from, @to);
	background-image:         linear-gradient(to bottom, @from, @to);
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	box-shadow: @arguments;
}

.inner-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
	-webkit-box-shadow: inset @arguments;
	-moz-box-shadow: inset @arguments;
	box-shadow: inset @arguments;
}

.text-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
	 text-shadow: @arguments;
}

.transition (@duration: 0.2s, @ease: ease-out) {
	-webkit-transition: all @duration @ease;
	-moz-transition: all @duration @ease;
	-o-transition: all @duration @ease; 
	transition: all @duration @ease;
}

@primary: #226078;
@secondary: #FE8502;
@ultralight: #cccccc;
@light: #aaaaaa;
@dark: #888888;
@bodyFont: 'Lato', Helvetica, Arial, sans-serif;
@headingsFont: 'Roboto Slab', Georgia, serif;



/* External styes */


/* General styles */
html {
	height: 100%;
}
body {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: @dark;
	font-family: @bodyFont;
	position: relative;
}

a {
	text-decoration: none;
	color: @secondary;
	.transition(.2s);

	&:hover,
	&:focus {
		text-decoration: none;
		color: darken(@primary, 20%);
		.transition(.2s);
	}
}

p {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headingsFont;
	color: @primary;
	line-height: 1;
	font-weight: 700;
}

h1 {
	font-size: 3.25em;
}

h2 {
	font-size: 2.625em;
}

h3 {
	font-size: 2.25em;
}

h4 {
	font-size: 1.75em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.125em;
}

section {
	clear: both;
}

section,
section .container {
	&>h1, &>h2, &>h3, &>h4, &>h5, &>h6 {
		&:not(.special-heading) {
			margin-top: 0;
			margin-bottom: 40px;
		}
	}
}

.dark-section {
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


/* Buttons */
.btn {
	font-family: @headingsFont;
	font-weight: 700;
	border-radius: 100px;
	padding: 8px 25px;
	font-size: 1em;
	.transition(.3s);
	border: none;
}

.btn-default {
	outline: none;
	background: @secondary;
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 1px @secondary;
	-moz-box-shadow: inset 0 0 0 1px @secondary;
	box-shadow: inset 0 0 0 1px @secondary;

	&:hover, &:active, &:focus,
	&:active:focus, &:active:hover {
		border-color: @primary;
		-webkit-box-shadow: inset 0 0 0 30px @primary;
		-moz-box-shadow: inset 0 0 0 30px @primary;
		box-shadow: inset 0 0 0 30px @primary;
		color: #ccc;
	}
}

.btn-outline {
	background: none;
	color: @secondary;

	&:hover, &:active, &:focus,
	&:active:focus, &:active:hover {
		border-color: @secondary;
		-webkit-box-shadow: inset 0 0 0 30px @secondary;
		-moz-box-shadow: inset 0 0 0 30px @secondary;
		box-shadow: inset 0 0 0 30px @secondary;
		color: #fff;
	}
}

.btn-white {
	background: #fff;
	color: @light;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;

	&:hover, &:active, &:focus,
	&:active:focus, &:active:hover {
		-webkit-box-shadow: inset 0 0 0 30px #f2f2f2;
		-moz-box-shadow: inset 0 0 0 30px #f2f2f2;
		box-shadow: inset 0 0 0 30px #f2f2f2;
		color: @dark;
	}

	&.btn-outline {
		background: none;
		color: #fff;

		&:hover, &:active, &:focus,
		&:active:focus, &:active:hover {
			border-color: #fff;
			-webkit-box-shadow: inset 0 0 0 30px #fff;
			-moz-box-shadow: inset 0 0 0 30px #fff;
			box-shadow: inset 0 0 0 30px #fff;
			color: @light;
		}
	}
}

.btn-gray {
	background: #ccc;
	color: @primary;
	-webkit-box-shadow: inset 0 0 0 1px #ccc;
	-moz-box-shadow: inset 0 0 0 1px #ccc;
	box-shadow: inset 0 0 0 1px #ccc;

	&:hover, &:active, &:focus,
	&:active:focus, &:active:hover {
		-webkit-box-shadow: inset 0 0 0 30px darken(#ccc, 20%);
		-moz-box-shadow: inset 0 0 0 30px darken(#ccc, 20%);
		box-shadow: inset 0 0 0 30px darken(#ccc, 20%);
		color: #fff;
	}

	&.btn-outline {
		background: none;
		color: #fff;

		&:hover, &:active, &:focus,
		&:active:focus, &:active:hover {
			border-color: #ccc;
			-webkit-box-shadow: inset 0 0 0 30px #ccc;
			-moz-box-shadow: inset 0 0 0 30px #ccc;
			box-shadow: inset 0 0 0 30px #ccc;
			color: @primary;
		}
	}
}

@media (min-width: 768px) {
	.btn-small {
		padding: 8px 25px;
		font-size: 1em;
	}

	.btn-medium {
		padding: 12px 45px;
		font-size: 1.125em;
	}

	.btn-big {
		padding: 14px 55px;
		font-size: 1.3125em;
	}
}


/* ----- Special styles ----- */
.col-condensed {
	margin-left: 0px;
	margin-right: 0px;

	div[class^="col-"]{
		padding-left: 0px;
		padding-right: 0px;
	}
}

.featp {
	font-size: 1.3125em;
	font-weight: 300;
	line-height: 1.476190476190476em;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: @primary;
	opacity: .4;
	z-index: -1;
	.transition(.75s);
}

.spacer {
	display: block;
	clear: both;
	height: 1px;
	margin-bottom: 45px;
}

.separator {
	height: 2px;
	width: 100%;
	max-width: 100px;
	background: @ultralight;
	margin: 20px auto;
	display: block;
}

.plain-section {
	padding: 100px 0;
	overflow: hidden;
}

.photo-section {
	z-index: 0;
	overflow: hidden;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: static;
	padding: 100px 0;
}

.dark-section {
	color: #fff;
}

.gray-section {
	background-color: #f2f2f2;
}

.parallax {
	background-attachment: fixed;
}

.tagline {
	font-size: 0.9375em;
	font-weight: 400;
	text-transform: uppercase;
	color: @light;
	letter-spacing: 3px;
	margin-bottom: 0;

	&+.special-heading {
		margin-top: 13px;
	}
}

.special-heading {
	margin-bottom: 80px;
	position: relative;

	&:after {
		content:'';
		width: 22px;
		height: 22px;
		position: absolute;
		bottom: -51px;
		left: 50%;
		margin-left: -11px;
		background: url(../img/ornament.png) 0 0 no-repeat;
	}

	&.center {
		text-align: center;
	}

	&.left {
		margin-bottom: 30px;
		text-align: left;

		&:after {
			left: -62px;
			bottom: 6px;
		}
	}

	&.left-sm {
		text-align: center;
		margin-bottom: 80px;

		&:after {
			bottom: -51px;
			left: 50%;
			margin-left: -11px;
		}

		@media screen and (min-width: 768px) {
			text-align: left;
			margin-bottom: 30px;

			&:after {
				left: -62px;
				bottom: 6px;
			}
		}
	}

	&.left-md {
		text-align: center;
		margin-bottom: 80px;

		&:after {
			bottom: -51px;
			left: 50%;
			margin-left: -11px;
		}

		@media screen and (min-width: 992px) {
			text-align: left;
			margin-bottom: 30px;

			&:after {
				left: -62px;
				bottom: 6px;
			}
		}
	}

	&.left-lg {
		text-align: center;
		margin-bottom: 80px;

		&:after {
			bottom: -51px;
			left: 50%;
			margin-left: -11px;
		}

		@media screen and (min-width: 1200px) {
			text-align: left;
			margin-bottom: 30px;

			&:after {
				left: -62px;
				bottom: 6px;
			}
		}
	}
}

.dark-section {
	.special-heading {
		&:after {
			background-position: 0 100%;
		}
	}
}

.icon {
	font-size: 64px;
	color: @primary;
}

.icon-small {
	font-size: 2em;
	color: @light;
}

.icon.icon-special {
	border: 2px solid @ultralight;
	border-radius: 15%;
	padding: 18px;
	margin: 20px 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);

	&:before {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
		display: block;
		height: 84px;
		width: 84px;
		line-height: 84px;
		text-align: center;
		vertical-align: middle;
	}
}

.icon-small.icon-special {
	border: 2px solid @ultralight;
	border-radius: 15%;
	padding: 18px;
	margin: 20px 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);

	&:before {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
		display: block;
		height: 32px;
		width: 32px;
		line-height: 32px;
	}
}


/* ========== Bootstrap Custom styles ========== */

// Buttons
button.btn {

	&:focus, &:active, &:active:focus {
		outline: none;
	}
}

.form-control {
	height: 46px;
	border-radius: 0px;
	border-color: @ultralight;
	-webkit-box-shadow: none;
    box-shadow: none;

    &:focus {
		border-color: @primary;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
    }
}

input[type=checkbox], input[type=radio] {
	margin: 7px 0 0;
}

.well {
	background-color: #f5f5f5;
	border-color: @ultralight;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

// Tabs
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: @primary;
	border-width: 0;
	background: none;
	border-bottom: 4px solid @secondary;
}

.nav-tabs>li>a {
	color: @light;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.875em;
	border-width: 0;
	padding: 14px 15px 12px;
	border-bottom: 4px solid transparent;

	&:hover {
		background: none;
	}
}

.nav-tabs {
	border-bottom: 2px solid @ultralight;
}

.tab-content {
	padding-top: 20px;
}

.nav-tabs>li {
	margin-bottom: -2px;
}

// Accordion
.panel-title {
	color: @light;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.875em;
}

.panel-group .panel-heading {
	border-bottom: 2px solid @ultralight;
}

.panel-heading {
	border-radius: 0px;
	border: none;
	border-color: @ultralight;
	padding: 14px 15px;
}

.panel-group .panel {
	border-radius: 0;
}

.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border: none;
}

/* ========== Head Bar ========== */

.head-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid rgba(255,255,255,.1);

	&.dark {
		border-color: rgba(0,0,0,.2);

		.menu-toggle {
			border-color: rgba(0,0,0,.2);

			span.bar {
				background: #333;
			}
		}

		.left-nav,
		.right-nav {
			color: #333;

			ul li a {
				color: #333;

				&:hover {
					color: @secondary;
				}
			}
		}

		.head-cta {
			border-color: rgba(0, 0, 0, 0.2);
		}
	}

	&.matte {
		background: #f2f2f2;
	}
}

.menu-toggle {
	width: 100%;
	height: 77px;
	float: none;
	display: table;
	margin-top: 44px;
	.transition(.3s);
	cursor: pointer;

	.hamburger {
		display: table-cell;
		vertical-align: middle;
	}

	span.bar {
		background: #fff;
		height: 2px;
		border-radius: 5px;
		width: 30px;
		display: block;
		margin: 0 auto 8px;
		.transition(.3s);

		&:nth-child(2) {
			width: 20px;
		}

		&:last-child {
			margin-bottom: 0;
			width: 25px;
		}
	}

	&:hover {
		span.bar {
			width: 25px;

			&:nth-child(2) {
				width: 30px;
			}

			&:last-child {
				width: 20px;
			}
		}
	}

	@media (min-width: 768px) {
		width: 120px;
		height: 120px;
		float: left;
		display: table;
		border-right: 1px solid rgba(255,255,255,.1);
		margin-top: 0;

		span.bar {
			width: 40px;

			&:nth-child(2) {
				width: 30px;
			}

			&:last-child {
				margin-bottom: 0;
				width: 35px;
			}
		}

		&:hover {
			span.bar {
				width: 35px;

				&:nth-child(2) {
					width: 40px;
				}

				&:last-child {
					width: 30px;
				}
			}
		}
	}
}

.left-nav {
	float: left;

	ul {
		list-style: none;
		padding-left: 70px;
		margin-top: 48px;
		margin-bottom: 0;

		li {
			display: inline-block;
			margin-right: 64px;
		}
	}

	a {
		color: @ultralight;

		&:hover {
			color: #fff;
		}
	}
}

.head-logo {
	text-align: center;
	display: block;
	position: absolute;
	width: 200px;
	left: 50%;
	margin-left: -100px;

	a {
		display: inline-block;
		margin-top: 20px;
	}

	@media (min-width: 768px) {
		a {
			margin-top: 48px;
		}
	}
}

.right-nav {
	float: right;
	text-align: right;

	ul {
		list-style: none;
		padding-right: 70px;
		margin-top: 48px;
		margin-bottom: 0;

		li {
			display: inline-block;
			margin-left: 64px;
			font-size: 18px;
		}
	}

	a {
		color: @ultralight;

		&:hover {
			color: #fff;
		}
	}
}

.head-cta {
	float: right;
	padding: 30px 30px 0;
	border-left: 1px solid rgba(255,255,255,.1);
	height: 120px;

	.btn {
		padding-left: 35px;
		padding-right: 35px;
	}
}



/* ========== THe sidebar menu ========== */

.sb-slidebar {
	-webkit-transform: translate(68%);
	-moz-transform: translate(68%);
	-o-transform: translate(68%);
	transform: translate(68%);
	background: darken(@primary, 26%);
}

.side-menu {
	padding: 0;
	list-style: none;
	margin-top: 0px;
	background: darken(@primary, 25%);

	a {
		padding: 20px 20px 20px 50px;
		display: block;
		color: @dark;
		font-size: 21px;
		font-weight: 300;

		&:hover {
			color: @ultralight;
			background: rgba(255,255,255,.05);
		}
	}
}

.side-cta {
	text-align: center;
	padding-top: 20px;
}

.side-social {
	list-style: none;
	padding-left: 0;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	margin: 0;

	li {
		display: inline-block;
		width: 33.33%;
		text-align: center;

		a {
			padding: 20px 0;
			display: block;
			color: @ultralight;

			&:hover {
				background: darken(@primary, 25%);
				color: #fff;
			}
		}
	}
}




/* ========== Head Section ========== */

.head-section {
	padding: 190px 0 70px;
	background-image: url(../img/head-bg.jpg);

	.overlay {
		background: #221b33;
		opacity: .7;
	}
}

.head-slider {
	overflow: visible;

	h2 {
		font-size: 2.625em;
		font-weight: 700;
		margin-bottom: 20px;
		color: inherit;

		@media (min-width: 768px) {
			font-size: 3.75em;
		}
	}

	.slick-track,
	.slick-list {
		overflow: visible;
	}

	.slide {
		outline: none;
		padding: 0 10px;
	}

	.slick-arrow {
		position: absolute;
		left: 50%;
		bottom: -45px;
		text-indent: -9999px;
		width: 32px;
		height: 15px;
		background: url(../img/slider-arrows.png) left center no-repeat;
		margin-left: -87px;
		border: none;
		outline: none;
	}

	.slick-next {
		background: url(../img/slider-arrows.png) -32px center no-repeat;
		margin-left: 55px;
	}
}

.slide-content {
	width: 100%;
	height: 500px;
	display: block;
	margin: 0 auto;
	position: relative;
	padding: 100px 60px;
	.round(12px);
	.box-shadow(0, 20px, 35px, rgba(0,0,0,.4));
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	.slide-content-outer {
		display: table;
		height: 100%;
		width: 100%;

		.slide-content-inner {
			display: table-cell;
			text-align: center;
			vertical-align: top;

			@media (min-width: 768px) {

				&.left {
					text-align: left;
				}

				&.center {
					text-align: center;
				}

				&.right {
					text-align: right;
				}

				&.top {
					vertical-align: top;
				}

				&.middle {
					vertical-align: middle;
				}

				&.bottom {
					vertical-align: bottom;
				}
			}
		}

	}

	&.dark {
		color: #fff;

		p {
			color: #ccc;
		}
	}

	@media (min-width: 1200px) {
		width: 1140px;
		height: 640px;
	}
}



/* ========== Image carousel ========== */

.image-carousel {
	width: 100%;
	padding: 0;
}

.carousel  {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		float: left;

		a {
			display: block;
			position: relative;
			text-align: left;

			span {
				position: absolute;
				width: 100%;
				left: 0;
				bottom: 0;
				padding: 20px;
				color: #fff;
				font-family: @headingsFont;
				font-size: 1.3125em;
				line-height: 1.142857142857143em;
				font-weight: 700;
			}
		}
	}

	.slick-arrow {
		position: absolute;
		left: 50%;
		bottom: -45px;
		text-indent: -9999px;
		width: 32px;
		height: 15px;
		background: url(../img/slider-arrows.png) left center no-repeat;
		margin-left: -87px;
		border: none;
		outline: none;
	}

	.slick-next {
		background: url(../img/slider-arrows.png) -32px center no-repeat;
		margin-left: 55px;
	}
}



/* ========== Services Row ========== */
.services-row {

	h4 {
		font-size: 1.3125em;
	}
}

.service-col {
	padding-left: 35px;
	padding-right: 45px;
	margin-bottom: 80px;

	figure {
		margin-bottom: 37px;
	}

	h4 {
		margin-bottom: 28px;
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: 992px) {
		margin-bottom: 40px;
	}

	&.small {
		figure {
			margin-bottom: 30px;
		}

		.icon {
			font-size: 32px;
		}

		&.horizontal {
			text-align: left;

			figure {
				float: left;
			}

			h4, p, .read-more {
				margin-left: 62px;
				margin-bottom: 8px;
			}
		}
	}
}

.read-more {
	font-size: 0.75em;
	text-transform: uppercase;
	font-weight: 800;
	color: @ultralight;

	&:after {
		content:'\f105';
		font-family: FontAwesome;
		margin-left: 10px;
	}

	&:hover {
		color: @secondary;
	}
}



/* ========== Services Page ========== */
.service-left,
.service-right {
	text-align: center;
}

@media screen and (min-width: 768px) {

	.service-left {
		text-align: left;

		figure {
			text-align: right;
			padding-right: 40px;
		}
	}

	.service-right {
		text-align: right;

		figure {
			text-align: left;
			padding-left: 40px;
		}
	}

}

.service-row {

	.icon-special {
		position: relative;
		overflow: hidden;
		.transition(.3s);

		&:after {
			content:'';
			position: absolute;
			height: 0px;
			width: 0px;
			background: @primary;
			left: 50%;
			top: 50%;
			margin-left: 0px;
			margin-top: 0px;
			border-radius: 50%;
			z-index: -1;
			.transition(.3s);
		}
	}

	&:hover {
		.icon-special {
			color: #fff;
			border-color: transparent;

			&:after {
				width: 200px;
				height: 200px;
				margin-left: -100px;
				margin-top: -100px;
			}
		}
	}
}


/* ========== Portfolio ========== */
.portfolio-section {
	background: @primary;
	padding-bottom: 70px;
	.transition(.5s);
}

.portfolio {

	.portfolio-items {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-left: -15px;
		margin-right: -15px;
		.transition(.3s);

		li {
			float: left;
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 30px;

			a {
				display: block;
				width: 100%;
				position: relative;
				overflow: hidden;

				img {
					max-width: 100%;
					height: auto;
					.transition(.5s);
					-webkit-transition-timing-function: cubic-bezier(.36,.71,.44,.97);
					transition-timing-function: cubic-bezier(.36,.71,.44,.97);
				}

				&:hover {
					img {
						-webkit-transform: scale(1.1);
						-moz-transform: scale(1.1);
						transform: scale(1.1);
					}

					.item-content {
						background: rgba(81, 172, 224, 0.8);

						&:before, h5, span {
							opacity: 1;
						}

						&:before {
							top: 28%;
							-webkit-transition-delay: .1s;
							transition-delay: .1s;
						}

						h5 {
							top: 50%;
							-webkit-transition-delay: .2s;
							transition-delay: .2s;
						}

						span {
							top: 64%;
							-webkit-transition-delay: .3s;
							transition-delay: .3s;
						}
					}
				}
			}

			.item-content {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(81, 172, 224, 0);
				.transition(.3s);
				-webkit-transition-timing-function: cubic-bezier(.36,.71,.44,.97);
				transition-timing-function: cubic-bezier(.36,.71,.44,.97);

				&:before {
					content:'';
					position: absolute;
					width: 8px;
					height: 8px;
					border-radius: 1px;
					background: #fff;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					transform: rotate(45deg);
					top: 38%;
					left: 50%;
					margin-left: -5px;
				}

				h5 {
					font-family: @bodyFont;
					font-weight: 800;
					font-size: 0.8125em;
					letter-spacing: 2px;
					text-align: center;
					text-transform: uppercase;
					margin-bottom: 0;
					position: absolute;
					left: 0;
					top: 60%;
					margin-top: -5px;
					padding-left: 10px;
					padding-right: 10px;
					width: 100%;
					-webkit-transition-delay: .2s;
					transition-delay: .2s;
				}

				span {
					color: @ultralight;
					text-transform: uppercase;
					font-weight: 400;
					font-size: 0.6875em;
					position: absolute;
					left: 0;
					top: 74%;
					width: 100%;
					-webkit-transition-delay: .4s;
					transition-delay: .4s;
				}

				&:before, h5, span {
					opacity: 0;
					.transition(.3s);
					-webkit-transition-timing-function: cubic-bezier(.36,.71,.44,.97);
					transition-timing-function: cubic-bezier(.36,.71,.44,.97);
				}

				h5 {
					color: #fff;
				}
			}

			@media (min-width: 580px) {
				width: 50%;
			}

			@media (min-width: 992px) {
				width: 25%;
			}
		}
	}
}

.filter-bar {
	width: 100%;
	margin-bottom: 30px;
	border-bottom: 1px solid @ultralight;
}

.filter-list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: block;
		float: none;
		position: relative;

		&:after {
			content:'';
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			height: 100%;
			background: @ultralight;
			-webkit-transform: rotate(15deg);
			-moz-transform: rotate(15deg);
			transform: rotate(15deg);
			display: none;
		}

		a {
			color: @light;
			font-size: 0.875em;
			line-height: 1;
			text-transform: uppercase;
			padding: 10px 20px;
			display: block;

			&:hover {
				color: @secondary;
			}
		}

		&.current {
			a {
				color: @secondary;
			}
		}

		&:last-child {

			&:after {
				right: auto;
				left: 0;
			}
		}

		&:nth-last-child(2) {

			&:after {
				display: none;
			}
		}

		@media (min-width: 768px) {
			float: left;

			&:after {
				display: block;
			}

			&:last-child {
				float: right;

				&:after {
					right: auto;
					left: 0;
				}
			}
		}
	}
}

.dark-section {
	.filter-bar {
		border-bottom: 1px solid rgba(255,255,255,.2);
	}

	.filter-list {
		li {

			&:after {
				background: rgba(255,255,255,.2);
			}

			a {
				color: @light;

				&:hover {
					color: #fff;
				}
			}

			&.current {
				a {
					color: #fff;
				}
			}
		}
	}
}



/* ========== Text section - About Us ========== */
.about-us {
	background: #f2f2f2;
}

.about-us-home {
	background: #f2f2f2;
}

.badges {
	a {
		display: inline-block;
		margin-right: 20px;
	}
}

.team-left-block {
	text-align: center;

	@media screen and (min-width: 992px) {
		text-align: left;
	}
}

.team-member {
	width: 100%;
	margin-bottom: 80px;
	text-align: center;

	.team-photo {
		width: 180px;
		height: 180px;
		margin: 0 auto;
		display: block;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
		overflow: hidden;
		border-radius: 16%;
		margin-bottom: 40px;
		margin-top: 40px;
		position: relative;

		img {
			display: block;
			-webkit-transform: rotate(-45deg) translateY(-42px);
			-moz-transform: rotate(-45deg) translateY(-42px);
			transform: rotate(-45deg) translateY(-42px);
			z-index: -1;
		}

		&:after {
			content:'';
			position: absolute;
			height: 0px;
			width: 0px;
			background: @primary;
			left: 50%;
			top: 50%;
			margin-left: 0px;
			margin-top: 0px;
			border-radius: 50%;
			.transition(.3s);
			z-index: 0;
			opacity: 1;
		}
	}

	.name {
		font-family: @headingsFont;
		font-size: 18px;
		margin-bottom: 0;
		display: block;
		color: @dark;
		font-weight: 700;
	}


	.position {
		font-size: 0.75em;
		color: @light;
		font-weight: 400;
		letter-spacing: 1px;
		display: block;
		text-transform: uppercase;
	}

	&:hover {
		.team-photo {
			&:after {
				height: 300px;
				width: 300px;
				margin-left: -150px;
				margin-top: -150px;
				opacity: .6;
			}

			.team-social-icons {
				opacity: 1;
			}
		}
	}

	@media screen and (min-width: 992px) {
		margin-bottom: 20px;
	}
}

.team-social-icons {
	width: 140px;
	height: 140px;
	background: none;
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 2;
	border-radius: 15%;
	// .box-shadow(0px,2px,10px,rgba(0,0,0,.45));
	opacity: 0;
	.transition(.3s);

	ul {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;
		list-style: none;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -70px;
		margin-top: -15px;

		li {
			display: inline-block;

			a {
				height: 30px;
				width: 30px;
				display: inline-block;
				text-align: center;
				line-height: 30px;
				color: #fff;

				i {
					font-size: 18px;
				}
			}
		}
	}
}



/* ========== Funny Facts ========== */
.funny-facts {
	padding: 70px 0;
}



/* ========== Break 1 section ========== */
.break1 {
	background: url(../assets/break1-bg.jpg);
	padding: 140px 0;

	.btn {
		margin-right: 30px;
		margin-top: 40px;
	}
}



/* ========== Break 1 section ========== */
.title-section {
	padding: 200px 0 80px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url(../img/head-bg.jpg);

	h1 {
		margin-bottom: 0;
	}

	&.text-center {
		padding-bottom: 120px;
	}
}



/* ========== Testimonials section ========== */
.testimonials-section {
	background: #f2f2f2;
	position: relative;
	padding-bottom: 190px;
}

.testimonials {
	list-style: none;
	margin: 0;
	padding: 0;

	.slick-arrow {
		position: absolute;
		left: 0;
		bottom: -40px;
		text-indent: -9999px;
		width: 32px;
		height: 15px;
		background: url(../img/slider-arrows.png) left center no-repeat;
		border: none;
		outline: none;
	}

	.slick-next {
		background: url(../img/slider-arrows.png) -32px center no-repeat;
		margin-left: 55px;
	}

	blockquote {
		padding: 0;
		border: none;
		margin: 0;

		p {
			font-size: 1.3125em;
			line-height: 1.476190476190476em;
			font-weight: 300;
			margin-bottom: 25px;
		}

		footer {
			&:before {
				display: none;
			}

			h5 {
				margin-bottom: 5px;
				margin-top: 0;
			}

			span {
				font-size: 0.75em;
				font-weight: 800;
				text-transform: uppercase;
				color: @ultralight;
			}
		}
	}
}

.photo-holder {
	background-position: left top;
	background-size: auto;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	display: none;

	@media (min-width: 992px) {
		display: block;
	}
}

.testimonial-item {
	.photo-holder {
		height: 80px;
		width: 80px;
		border-radius: 50%;
		position: static;
		float: left;
		background-size: cover;
		margin-right: 20px;
		margin-top: -15px;
		display: block;

		@media (min-width: 992px) {
			display: none;
		}
	}
}



/* ========== Pricing table ========== */
.pricing-col {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	background: #fff;
	margin-bottom: 40px;

	li {
		padding: 10px;
	}

	.pricing-plan {
		background: @primary;
		padding: 40px 20px 80px;
		position: relative;

		h4 {
			font-size: 1.3125em;
			color: #fff;
			margin: 0;
		}

		&:before {
			content:'';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: auto;
			height: 30px;
			background: #000;
			opacity: .2;
		}
	}

	.pricing-price {
		max-width: 100px;
		display: block;
		margin: 0 auto;
		position: relative;
		z-index: 1;
		font-size: 1.5em;
		line-height: 1;
		font-weight: 700;
		margin-top: -17px;
		margin-bottom: 60px;
		padding: 0;

		&:before {
			content:'';
			position: absolute;
			height: 80px;
			width: 80px;
			background: #fff;
			border-radius: 16%;
			top: -21px;
			left: 50%;
			margin-left: -40px;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
			z-index: -1;
			.box-shadow(0px,2px,10px,rgba(0,0,0,.15));
		}

		.pricing-frequency {
			font-size: 0.4166666666666667em;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 1px;
			display: block;
		}

		.pricing-symbol {
			font-size: 0.6666666666666667em;
			line-height: 1;
			vertical-align: top;
			font-weight: 400;
		}
	}

	.pricing-button {
		padding: 30px 0 40px;
	}

	@media screen and (min-width: 768px) {
		margin-bottom: 0;
	}

	&.pricing-featured {
		.pricing-plan {
			background: @secondary;

			&:before {
				opacity: .08;
			}
		}
	}
}

.col-condensed {
	.pricing-col {

		&.pricing-featured {
			margin-top: -20px;
			.box-shadow(0px,2px,10px,rgba(0,0,0,.15));
			z-index: 1;
			position: relative;

			.pricing-plan {
				padding: 50px 20px 90px;
			}

			.pricing-button {
				padding: 40px 0 50px;
			}
		}
	}
}



/* ========== CTA Section ========== */

.cta-section {
	background: @secondary;
	color: #fff;
	padding: 50px 0;

	p {
		margin: 0;
	}
}



/* ========== Blog section ========== */

.blog-section {
	padding-bottom: 100px;
}

.blog-card {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;

	img {
		max-width: 100%;
		height: auto;
	}

	.card-overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		.gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
		.transition(.2s);
		opacity: 0;
	}

	.card-content {
		height: 50%;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 0;

		&:before {
			content:'';
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: #fff;
			z-index: -1;
			-webkit-transition: top .3s cubic-bezier(.36,.71,.44,.97);
			transition: top .3s cubic-bezier(.36,.71,.44,.97);
		}

		h3 {
			font-size: 1.3125em;
			padding: 0 20px;
			margin-top: 0;
			position: absolute;
			top: 35%;
			width: 100%;
			
			a {
				color: @primary;
				.transition(.3s);
			}
		}
	}

	.blog-date {
		display: block;
		position: relative;
		font-size: 1.125em;
		line-height: 1;
		font-weight: 800;
		margin-top: -15px;

		span {
			clear: both;
			display: block;
			font-size: 0.6111111111111111em;
			text-transform: uppercase;
		}

		&:before {
			content:'';
			position: absolute;
			height: 58px;
			width: 58px;
			background: #fff;
			border-radius: 16%;
			top: -14px;
			left: 50%;
			margin-left: -29px;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
			z-index: -1;
			.box-shadow(0px,2px,10px,rgba(0,0,0,.15));
		}
	}

	.category {
		position: absolute;
		display: block;
		top: 73%;
		width: 100%;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.6875em;
		color: @ultralight;
	}

	&:hover {
		.card-overlay {
			opacity: 1;
		}

		.card-content {
			&:before {
				top: 100%;
			}

			h3 {
				a {
					color: #fff;
					.transition(.5s);
				}
			}
		}
	}
}

@media (max-width: 580px) {
	.blog-col {
		width: 100%;
		margin-bottom: 40px;
	}
}




/* ========== Social section ========== */
.social-section {
	overflow: visible;
	position: relative;
	margin-top: -70px;
	margin-bottom: -70px;
	display: block;
}

.social-card {
	background: #fff;
	width: 100%;
	.box-shadow(0px,10px,30px,rgba(0,0,0,.2));
	padding: 45px 0;

	.social-right,
	.social-left {
		text-align: center;
	}

	.social-left {
		margin-bottom: 40px;
	}

	.label {
		font-size: 1.3125em;
		font-weight: 300;
		color: @dark;
		display: block;
	}

	.social-icons {
		padding: 9px 0;
	}

	.social-list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: inline-block;

		li {
			display: inline-block;

			a {
				color: @ultralight;
				padding: 4px 15px;
				font-size: 1.3125em;

				&:hover {
					color: @secondary;
				}
			}
		}
	}

	.form-inline {
		display: inline-block;
		position: relative;
		width: 100%;
		max-width: 260px;

		.form-group {
			width: 100%;
		}

		&.newsletter-form {
			input {
				width: 100%;
				height: 50px;
				border-radius: 30px;
				border: 3px solid @ultralight;
				font-size: 0.875em;
				padding-left: 27px;
				padding-right: 60px;

				@media (min-width: 768px) {
					
				}

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					text-transform: uppercase;
					color: @ultralight;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					text-transform: uppercase;
					color: @ultralight;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					text-transform: uppercase;
					color: @ultralight;
				}
				&:-moz-placeholder { /* Firefox 18- */
					text-transform: uppercase;
					color: @ultralight;
				}

				&:focus {
					border-color: @secondary;
				}
			}

			button {
				background: none;
				border: none;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 1.3125em;
				line-height: 46px;
				padding: 0 20px;
				outline: none;

				i {
					line-height: inherit;
					color: @ultralight;
				}

				&:focus {
					outline: none;
				}
			}
		}
	}

	@media (min-width: 992px) {
		.label {
			display: inline-block;
		}

		.social-icons {
			padding-left: 20px;
		}

		.form-inline {
			margin-right: 20px;

		}

		.social-left {
			text-align: left;
			margin-bottom: 0;
		}

		.social-right {
			text-align: right;
		}
	}

	@media (min-width: 1200px) {
		.social-icons {
			padding-left: 50px;
		}

		.form-inline {
			margin-right: 50px;
			max-width: 310px;
		}
	}
}



/* ========== Contact section ========== */

.contact-section {
	background: #f2f2f2;
	padding-top: 170px;
}

.contact-details {
	width: 100%;
	display: block;

	.contact-col {
		width: 100%;
		float: none;
		margin-bottom: 40px;

		i.fa {
			font-size: 1.5em;
			color: @light;
		}

		p {
			font-size: 0.875em;
		}

		h5 {
			font-size: 1.125em;
		}

		@media (min-width: 768px) {
			width: 33.33%;
			float: left;
			margin-bottom: 0;
		}
	}
}

.contact-form {

	.form-control {
		border-color: @ultralight;
		border-width: 0;
		border-radius: 0;
		background: none;
		-webkit-box-shadow: none;
		box-shadow: none;

	    &:focus {
			-webkit-box-shadow: none;
			box-shadow: none;
	    }
	}
}

.contact-form {
	text-align: center;

	.input-lg {
		font-size: 1em;
	}

	.btn {
		padding-left: 30px;
		padding-right: 30px;
		.transition(.2s);
		color: @primary;
		outline: none;

		&:focus {
			outline: none;
			border-color: @primary;
		}
	}
}

.cr-label {
	position: absolute;
	left: 0px;
	top: 0px;
	font-weight: 400;
	height: 100%;
	width: 100%;
	text-align: left;
	z-index: -1;
	font-size: 0.875em;
	text-transform: uppercase;
	color: @light;
	margin: 0;
	.transition(.3s);

	span {
		position: absolute;
		top: 10px;
		left: 16px;
		.transition(.3s);
	}

	&:after {
		content:'';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		border-color: @ultralight;
		border-width: 0 0 1px;
		border-style: solid;
		.transition(.3s);
	}
}

.cr-input {
	position: relative;
	z-index: 0;

	input {
		font-size: 0.875em;
	}

	textarea {
		font-size: 1em;
		padding: 10px 16px;
	}

	input:focus,
	textarea:focus {
		&+.cr-label {
			color: @light;
			
			span {
				opacity: 0;
			}

			&:after {
				border-width: 1px;
				border-color: @primary;
				height: 100%;
			}
		}
	}

	@media (min-width: 768px) {

		input:focus,
		textarea:focus {
			&+.cr-label {
				color: @primary;
				
				span {
					left: -80px;
					opacity: 1;
				}

				&:after {
					border-width: 1px;
					border-color: @primary;
					height: 100%;
				}
			}
		}
	}
}

.cr-filled {
	input,
	textarea {

		&+.cr-label {
			color: @light;

			span {
				opacity: 0;
			}

			&:after {
				border-width: 1px;
				border-color: @primary;
				height: 100%;
			}
		}
	}

	@media (min-width: 768px) {
		input,
		textarea {
			&+.cr-label {
				color: @primary;
				
				span {
					left: -80px;
					opacity: 1;
				}

				&:after {
					border-width: 1px;
					border-color: @primary;
					height: 100%;
				}
			}
		}
	}
}

#result {
	margin-top: 60px;

	i.fa {
		height: 50px;
		width: 50px;
		border: 2px solid @light;
		color: @dark;
		line-height: 46px;
		border-radius: 50%;
		margin-bottom: 10px;
	}

	.success {
		i.fa {
			border-color: #9dbf67;
			color: #9dbf67;
		}
	}

	.error {
		i.fa {
			border-color: #fc6262;
			color: #fc6262;
		}
	}

	span {
		display: block;
	}
}



/* ========== Map section ========== */

.map-section {
	padding: 0;
	height: 500px;
}



/* ========== Footer ========== */
.footer {
	padding: 50px 0;
	background: @primary;
	color: @light;
	font-size: 0.875em;

	p {
		margin: 0;
	}
}

.footer-left,
.footer-right {
	padding: none;
	display: block;
	width: 100%;
	text-align: center;

	@media (min-width: 768px) {
		width: 50%;
		float: left;
	}
}

.footer-left {
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.footer-left {
		text-align: left;
		margin-bottom: 0;
	}
	.footer-right {
		text-align: right;
	}
}


.footer-menu {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		display: inline;

		a {
			color: @light;
			margin: 0 25px;

			&:hover {
				color: @ultralight;
			}
		}
	}

	@media (min-width: 768px) {
		margin-left: -25px;
	}
}


/* ========== Footer ========== */

.to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background: @secondary;
	color: #fff;
	text-align: center;
	cursor: pointer;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	.transition(.3s);

	i {
		line-height: 50px;
		font-size: 21px;
		.transition(.3s);
	}

	&.to-top-show {
		opacity: 1;
		visibility: visible;
	}

	&:hover {
		height: 60px;
		width: 60px;
		.transition(.2s);

		i {
			line-height: 60px;
			.transition(.2s);
		}
	}
}


/* ========== Helper classes ========== */

.fast-animation {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}

.visible {
	opacity: 1 !important;
}

.animated-entrance {
	opacity: 0;
}

.ie8, .ie9 {
	.animated-entrance {
		opacity: 1;
	}
}

.is-mobile .animated-entrance {
	opacity: 1;
}

.slick-slide {
	outline: none;
}



/* ==========================================================================
   PrettyPhoto lightbox styles
   ========================================================================== */

div.picseel_lightbox:hover {
	.pp_expand, .pp_contract, a.pp_next, a.pp_previous {
		opacity: 1;
	}
}

a.pp_next, a.pp_previous {
	display:block;
	height:30px;
	width: 30px;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -15px;
	text-indent:-10000px;
	background: rgba(0,0,0,0.5);
	.round(2px);
	.transition(0.3s);
	opacity: 0;

	&:before {
		content:'\f054';
		font-family: FontAwesome;
		line-height: 30px;
		height: 30px;
		width: 30px;
		font-size: 14px;
		color: #fff;
		text-indent: 0;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
	}

	&:hover {
		background: @primary;
	}
}

a.pp_previous {
	left: 10px;

	&:before {
		content:'\f053';
	}
}

a.pp_arrow_previous,
a.pp_arrow_next {
	display:block;
	float:left;
	height:15px;
	overflow:hidden;
	text-indent:-10000px;
	width:14px;
}

a.pp_expand,
a.pp_contract {
	cursor:pointer;
	display:none;
	position:absolute;
	right:30px;
	text-indent:-10000px;
	top:10px;
	width:20px;
	z-index:20000;
	opacity: 0;
}

div.picseel_lightbox .pp_expand{
	height: 30px;
	width: 30px;
	background: rgba(0,0,0,0.35);
	.round(2px);
	text-align: center;
	.transition(0.3s);

	&:before {
		content:'\f065';
		font-family: FontAwesome;
		font-size: 14px;
		line-height: 30px;
		position: absolute;
		top: 0;
		left: 0;
		height: 30px;
		width: 30px;
		text-indent: 0;
		z-index: 20100;
		color: #fff;
	}

	&:hover {
		background: @primary;
	}
}

div.picseel_lightbox .pp_contract{
	height: 30px;
	width: 30px;
	background: rgba(0,0,0,0.35);
	.round(2px);
	text-align: center;
	.transition(0.3s);

	&:before {
		content:'\f066';
		font-family: FontAwesome;
		font-size: 14px;
		line-height: 30px;
		position: absolute;
		top: 0;
		left: 0;
		height: 30px;
		width: 30px;
		text-indent: 0;
		z-index: 20100;
		color: #fff;
	}

	&:hover {
		background: @primary;
	}
}

div.picseel_lightbox .pp_close{
	cursor:pointer;
	height: 30px;
	color: @dark;
	.transition(0.3s);
	text-indent: 0;
	padding-left: 20px;
	top: 3px;
	right: 10px;
	line-height: 30px;

	&:before {
		content:'\f00d';
		font-family: FontAwesome;
		position: absolute;
		left: 5px;
		top: 0;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
	}

	&:hover {
		color: @primary;
	}
}

div.picseel_lightbox .pp_nav .pp_play {
	cursor:pointer;
	height: 30px;
	width: 24px;
	color: @dark;
	.transition(0.3s);
	line-height: 30px;

	&:before {
		content:'\f04b';
		font-family: FontAwesome;
		position: absolute;
		left: 5px;
		top: 0;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		text-indent: 0;
	}

	&:hover {
		color: @primary;
	}
}

div.picseel_lightbox .pp_nav .pp_pause {
	cursor:pointer;
	height: 30px;
	width: 24px;
	color: @dark;
	.transition(0.3s);
	line-height: 30px;

	&:before {
		content:'\f04c';
		font-family: FontAwesome;
		position: absolute;
		left: 5px;
		top: 0;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		text-indent: 0;
	}

	&:hover {
		color: @primary;
	}
}

div.picseel_lightbox .pp_arrow_previous {
	cursor:pointer;
	height: 30px;
	width: 24px;
	color: @dark;
	.transition(0.3s);
	line-height: 30px;
	position: relative;

	&:before {
		content:'\f053';
		font-family: FontAwesome;
		position: absolute;
		left: 5px;
		top: 0;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		text-indent: 0;
	}

	&:hover {
		color: @primary;
	}
}

div.picseel_lightbox .pp_arrow_next {
	cursor:pointer;
	height: 30px;
	width: 24px;
	color: @dark;
	.transition(0.3s);
	line-height: 30px;
	position: relative;

	&:before {
		content:'\f054';
		font-family: FontAwesome;
		position: absolute;
		left: 5px;
		top: 0;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		text-indent: 0;
	}

	&:hover {
		color: @primary;
	}
}

div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content {
	height:40px;
	min-width:40px;
	.round(3px);
	background: #fff;
}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px; background: none}
.pp_content_container .pp_right{padding-right:20px; background: none;}
.pp_content_container .pp_details{float:left;margin:0;}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav {
	clear:right;
	float:left;
	margin:0;
	height: 30px;
	left: 10px;
	top: 3px;
	position: absolute;
}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../img/prettyphoto/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}


a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
#pp_full_res img {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px; text-align: center;}

div.picseel_lightbox .pp_content .ppt,div.picseel_lightbox #pp_full_res .pp_inline {color:#000}
div.picseel_lightbox .pp_details {
	position:relative;
	background: #eee;
	height: 36px;
	.round(5px);
}
div.picseel_lightbox .pp_description {margin: 6px 85px 6px 12px;}
div.picseel_lightbox .pp_gallery a.pp_arrow_previous, div.picseel_lightbox .pp_gallery a.pp_arrow_next {margin-top:12px!important}
div.picseel_lightbox .pp_arrow_previous.disabled {background-position:0 -87px;cursor:default}
div.picseel_lightbox .pp_arrow_next.disabled {background-position:-22px -87px;cursor:default}
div.picseel_lightbox .pp_loaderIcon {background:url(../img/prettyphoto/loader.gif) center center no-repeat}

.pp_top,.pp_bottom{display: none;}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}

