/* PAGEs *****2012-6-8****jack********/


/****************
*****public*****
****************/
.top_panel{ margin: 0px;position: relative;border: 1px solid #d3d4d7; }

.title2{ font-size: 38px;margin: 25px 0 19px 22px;font-weight: 500;font-family:Times New Roman,'微软雅黑';color:#000000; }
.secondtitle{ font-size: 38px;margin: 25px 0 19px 22px;font-weight: 500;font-family:Rockwell,Arial,"Myriad Pro",'微软雅黑';color:#000000; }
.thirdtitle{ font-size: 19px;margin: 25px 0 19px 22px;font-weight: 500;font-family:Rockwell,Arial,"Myriad Pro",'微软雅黑';color:#000000; }

.title2 span{ font-size: 14px;font-family:Arial,'微软雅黑'; }

ul.pdf_files{ padding: 0px 0px 0px 8px; }
ul.pdf_files li{ background-image: url("/images/pdf_file.png");background-repeat: no-repeat;height:16px;padding: 25px 0px 0px 47px;margin: 0px 0px 18px 0px; font-size: 14px;text-decoration:underline;cursor: pointer;font-family: Arial,微软雅黑;color:#000; }

.display_table{ display: table; }
.margin_left_60{ margin-left:60px; }
.margin_left_70{ margin-left:70px; }
.width_500{ width:500px; }
.text_r{ text-align: right; }

.legal a{ height:14px;display:block }
.legal li{ list-style-image:url("/images/index/legal_li.png");color:#787878;list-style-position: inside; }
.legal li:hover{ list-style-image:url("/images/index/legal_li2.png");color:#3087af }

.page_area_1{ display: table;margin: 30px 0 35px 22px; }
.page_area_1 .dli{ float: left;display: table-cell;width:205px;font-family:Arial,'微软雅黑';font-size: 18px;color: #000;line-height: 28px;  }
.page_area_1 .dli img{ margin: 0px 10px 0px 0px; }

.page_area_2{ display: table;margin: 30px 0 35px 22px; }
.page_area_2 .dli{ float: left;display: table-cell;width:473px;margin-bottom: 16px; }
.page_area_2 .dli .title_{ font-family:Arial,'微软雅黑';font-size: 18px;color: #000;line-height: 48px;text-decoration:underline; }
.page_area_2 .dli .title_ img{ margin: 0px 10px 0px 0px; }
.page_area_2 .dli .content_{ font-family:Arial,'微软雅黑';font-size: 14px;color: #818181;line-height: 20px; }
.page_area_2 .dli .content_ span.black{ color:black;font-family:Arial,'微软雅黑';font-size: 14px; }

.page_area_3 .pdf_files li{ float: left;padding: 0px 0px 0px 47px;height:41px;margin:0px 70px 15px 0px;line-height: 20px; }

.page_area_4{ display: table;margin: 30px 0 35px 22px; }
.page_area_4 .display_table{ margin: 10px 0px 10px 0px; }
.page_area_4 .dli{ float: left;display: table-cell;width:310px;margin-bottom: 16px;position: relative;padding-left: 164px; }
.page_area_4 .dli img{ position: absolute;right:323px;bottom:10px; }
.page_area_4 .dli .title_{ font-family:Arial,'微软雅黑';font-size: 22px;color: #000;margin-bottom: 18px; }
.page_area_4 .dli .title_:hover{ color: #178bbe;text-decoration: underline; }
.page_area_4 .dli .content_{ font-family:Arial,'微软雅黑';font-size: 14px;color: #494949;line-height: 20px; }
.page_area_4 .dli .content_ span.black{ color:black;font-family:Arial,'微软雅黑';font-size: 14px; }
.page_area_4 .dli .more_{ font-family:Arial,'微软雅黑';font-size: 14px;color: #178bbe;line-height: 20px;cursor: pointer; }

.page_area_5{ display: table;margin: 20px 0 35px 22px; }
.page_area_5 .dli{ float: left;display: table-cell;width:300px;margin-bottom: 16px; }
.page_area_5 .dli .title_{ font-family:Arial,'微软雅黑';font-size: 18px;color: #000;text-decoration:underline;margin-bottom: 15px;  }
.page_area_5 .dli .title_ img{ margin: 0px 10px 0px 0px; }
.page_area_5 .dli .content_{ font-family:Arial,'微软雅黑';font-size: 14px;color: #494949;line-height: 20px; }
.page_area_5 .dli .content_ span.black{ color:black;font-family:Arial,'微软雅黑';font-size: 14px; }

.reason{ border: 1px solid #dddee0;width:1063px;-webkit-border-radius: 0px 0px 5px 5px;  -moz-border-radius: 0px 0px 5px 5px;border-radius: 0px 0px 5px 5px; }
.reason ul.title .light{ background:#FFF; }
.reason ul.title .light span{ color:#167dab; }

.reason ul.title{ margin: 0 0 0 0px;display: table;padding: 0px;width:1063px;  }
.reason ul.title li{ cursor: pointer; float: left;display:table-cell;width:189px;height:104px; background: url("/images/deposit/reason_bg.png") repeat-x;padding: 0px 0px 0px 0px;margin: 0 1px 0 0; border-right: 1px solid #c9c9c9; }
.reason ul.title li .align_middle{ display:table-cell;vertical-align: middle; }
.reason ul.title li img{ float: left;display:table-cell;vertical-align: middle;margin: 20px 5px 0px 10px; }
.reason ul.title li span{ display:table-cell;vertical-align: middle;margin: 25px 0px 0px 0px;width:83px;float: left;font-size: 16px;font-family:Arial,'微软雅黑';color:#000; text-align: left;font-weight:600; }
.reason ul.title .last{ border:0px;margin: 0px;padding: 0px 0px 0px 0px;width:189px; }

.reason ul.quantity2{ margin: 0 0 0 0px;  }
.reason ul.quantity2 li{ cursor: pointer;position: relative; float: left;display:block;text-align: center;width:531px;height:142px;background: url("/images/cards/reason_bg.png") repeat-x;padding: 00px 0px 0px 0px;margin: 0 1px 0 0; border-right: 1px solid #c9c9c9; }
.reason ul.quantity2 li img{ display:block;float:none;margin: 14px auto 0px auto; }
.reason ul.quantity2 li span{ display:block;position: absolute; top:108px;float:none;font-size: 16px;color:#000;width:531px; text-align: center; }
.reason ul.quantity2 .last{ border:0px;margin: 0px;padding: 0px 0px 0px 0px;width:530px; }
.reason ul.quantity2 li span{ margin: 0px; }

.reason ul.quantity3_b{ margin: 0 0 0 0px;  }
.reason ul.quantity3_b li{ cursor: pointer;position:relative; float: left;display:block;text-align: center;width:530px;height:138px;background: url("/images/cards/reason_bg.png") repeat-x;padding: 00px 0px 0px 0px;margin: 0 1px 0 0; border-right: 0px solid #c9c9c9; }
.reason ul.quantity3_b li img{ display:block;float:none; margin: 14px auto 0px auto; }
.reason ul.quantity3_b li span{ display:block;position: absolute; top:108px;float:none;font-size: 16px;color:#000;width:530px; text-align: center; }
.reason ul.quantity3_b .last{ border:0px;margin: 0px;padding: 0px 0px 0px 0px;width:355px; }
.reason ul.quantity3_b li span{ margin: 0px; }

.reason ul.quantity3{ margin: 0 0 0 0px;display: table;  }
.reason ul.quantity3 li{ cursor: pointer;float: left;display:table;width:353px;height:100px;background: url("/images/deposit/reason_bg.png") repeat-x;padding: 0px 0px 0px 0px;margin: 0 1px 0 0; border-right: 1px solid #c9c9c9; }
.reason ul.quantity3 li img{ float: left;display:table-cell;vertical-align: middle;margin: 0px 0px 0px 45px; }
.reason ul.quantity3 li span{ display:table-cell;vertical-align: middle;font-size: 18px;color:#000;width:160px;  }
.reason ul.quantity3 li.last{ border:0px;margin: 0px;padding: 0px;width:353px; }
.reason ul.quantity3 li span{ margin: 0px; }

.reason ul.quantity5{ margin: 0 0 0 0px;display: table;  }
.reason ul.quantity5 li{ cursor: pointer; float: left;display:table-cell;width:146px;height:87px;background: url("/images/transfers/reason_bg.png") repeat-x;padding: 00px 0px 0px 5px;margin: 0 1px 0 0; border-right: 1px solid #c9c9c9; }
.reason ul.quantity5 li img{ float: left;display:table-cell;vertical-align: middle;margin: 15px 0px 0px 0px; }
.reason ul.quantity5 li span{ display:table-cell;vertical-align: middle;font-size: 14px;color:#000; text-align: left; }
.reason ul.quantity5 .last{ border:0px;margin: 0px;padding: 0px 10px 0px 10px;width:130px; }
.reason ul.quantity5 li span{ width:73px;margin-top: 15px; }

.reason .cnt{ margin: 0px;display: table;padding: 33px;position: relative;width:997px; }
.reason .cnt .cc{ width:997px;border:0px solid #000;padding:0px 0px 0px 0px; }
/*.reason .cnt .ttl{ font-size: 20px;font-family: Constantia,"Myriad Pro","微软雅黑";font-weight: 500;color:#000;position: absolute;top:33px; }*/
.reason .cnt .ttl{ font-size: 20px;font-family: Arial,"微软雅黑";font-weight: 500;color:#000;margin: 0px 0px 20px 0px; }
.reason .cnt .yellow{ color:#000; }
.reason .cnt p{ margin: 0px 0px 0px 0px;color:#000;/*#818181*/line-height: 23px;font-family: Arial,"微软雅黑";font-size: 14px; }
.reason .cnt p span.blue{ font-size: 16px;font-family:Arial,"微软雅黑";color:#167dab; }
.reason .cnt p span.black{ font-size: 14px;font-family:Arial,"微软雅黑";color:#000; }
.reason .cnt .ttl2{ font-size: 14px;margin: 25px 0px 15px 0px;position: absolute;font-family: Arial;font-weight: 500;color:#000; }
.reason .cnt .cc .little_tips{ float: right;font-size: 12px;color:#178bbe;text-decoration:underline;font-family:Arial,'微软雅黑';cursor: pointer;  }
.reason .cnt .cc .r_text_last{ float:right; font-size: 16px;color:#178bbe;text-decoration:underline;font-family:Arial,'微软雅黑';cursor: pointer; }

.reason table{ border: 0px;margin: 0px 0px 0px 0px;width:997px}
.reason table tr{ }
.reason table tr td{ font-size: 14px;margin: 0px;padding: 7px 100px 7px 15px;border-bottom:1px solid #e7e7e7;}
.reason table tr.ttl3 td{ background: #f0f1f1;font-family:Arial,'微软雅黑';font-weight: 500;font-size: 14px;color:#000; }

.folder .title_{ font-size: 18px;font-family:Arial,'微软雅黑';border-left:1px;border-top:1px;border-right:1px;border-style: solid;border-color: #d3d4d7;border-radius:5px 5px 0px 0px;
                            padding: 5px 21px 5px 21px;width:130px;background-color: #ffffff;position: relative;z-index: 1;    }
.folder .content_{ margin: -1px 0px 0px 0px;padding: 15px 21px 15px 21px;border:1px;border-style: solid;border-color: #d3d4d7;border-radius:0px 5px 5px 5px ;  }
.folder .content_ .fo_text_1{ font-size: 24px;font-family:Arial,'微软雅黑';color: #000;font-weight: 600; }
.folder .content_ .fo_text_2{ font-size: 11px;font-family:Arial,'微软雅黑';color:#8c8c8c;margin: 10px 0px 0px 0px;  }
.folder .content_ .fo_text_3{ font-size: 16px;font-family:Arial,'微软雅黑';color: #000;margin:10px 0px;  }
.folder .content_ .fo_text_3 img{ margin: -2px 20px; }
.folder .content_ .fo_text_4{ font-size: 18px;font-family:Arial,'微软雅黑';color: #000; font-weight: 600; }
.folder .content_ .fo_text_5{ font-size: 14px;font-family:Arial,'微软雅黑';color: #818181; font-weight: 200;margin: 10px 0px 0px 0px;  }

.folder .content_ .fo_area_0{ display: table;}
.folder .content_ .fo_area_1{ width:440px;display: table; }
.folder .content_ .fo_area_2{ width:460px;display: table; }

.folder .content_ .fo_radios{ text-align: center;font-weight: 600;color: #000; }
.folder .content_ .fo_radios input{ margin-left:40px; }
.folder .content_ .fo_area_0 table{width:423px;}
.folder .content_ .fo_area_0 table tr td{ padding: 15px 0px 3px 30px;border-right: 2px solid #d3d4d7;border-bottom: 0px;font-family:Arial,'微软雅黑';color: #000;font-size: 16px;  }
.folder .content_ .fo_area_0 table tr.first td{border-right: 0px;border-bottom: 2px solid #d3d4d7;font-size: 20px;font-weight: 600; }
.folder .content_ .fo_area_0 table tr.first td span.tips_{ font-family:Arial,'微软雅黑';font-size: 16px;color:#8c8c8c;font-weight: 500; }
.folder .content_ .fo_area_0 table tr td.last{ border-right: 0px; }

.reason .cnt_style_1 .cc .left_part{ float:left;margin:0px 40px 0px 0px; }
.reason .cnt_style_1 .cc .right_part{ float: left;width:650px; }

.reason .cnt_style_2 .cc img{ float: right; }
.reason .cnt_style_2 ul.pdf_files li{ float: left;padding: 60px 0px 0px 0px;background-position: center;margin: 0px 0px 0px 18px;  }

.reason .cnt_style_3 .ttl{ font-size: 30px;font-family:Arial,'微软雅黑';font-weight: 600;margin: 0px 0px 20px 0px;color:#000; }
.reason .cnt_style_3 .ttl_2{ font-size: 24px;font-family:Arial,'微软雅黑';font-weight: 600;margin: 0px 0px 20px 0px;color:#000; }
.reason .cnt_style_3 .content_2{ font-size: 14px;font-family:Arial,'微软雅黑';color:#000;border-bottom: 1px solid #d3d4d7;padding-bottom: 25px; }
.reason .cnt_style_3 .choose_currency{ display:table; margin: 15px 0px 15px 0px;width:100%; }
.reason .cnt_style_3 .choose_currency .text_{ font-size: 14px;font-family:Arial,'微软雅黑'; }
.reason .cnt_style_3 .choose_currency .name_ { float: left; margin: 0px 0px 0px 250px; }
.reason .cnt_style_3 .choose_currency .name_ div{ float:left;background-color: #eae6e5;border:1px solid #d3d4d7;color:#000;font-size: 14px;font-family:Arial,'微软雅黑';padding: 3px 12px 3px 12px;margin-left:-1px;cursor:pointer; }
.reason .cnt_style_3 .choose_currency .name_ div.light{ background-color: #178bbe;color:#FFF; }
.reason .cnt_style_3 .choose_currency .name_ div:hover{ background-color: #178bbe;color:#FFF; }
.reason .cnt_style_3 .currency_list .title_{ background-color: #f3f1ef; }
.reason .cnt_style_3 .currency_list .title_:hover{ background-color: #f3f1ef; }
.reason .cnt_style_3 .currency_list .title_ td{ font-size: 18px;font-family:Arial,'微软雅黑';font-weight:500;color:#000; }
.reason .cnt_style_3 .currency_list tr:hover{ background-color: #d3e7ee; }
.reason .cnt_style_3 .currency_list tr td{ padding: 5px 15px 5px 15px; }

.common_text{  }
.common_text *{ font-size: 14px;color:#494949;font-family: Arial,'微软雅黑';margin: 0px 0px 27px 0px; }
.common_text br{ margin: 0px 0px 0px 0px; }
.common_text .text2{ font-size: 18px;color:#000; }
.common_text .text3{ font-size: 16px;color:#373737; }
.common_text .text4{ width: 390px;font-size: 18px;color:#000;text-decoration:underline;padding:2px;font-family:Times New Roman,'微软雅黑';  }
.common_text .text5{ font-size: 16px;color:#000; }
.common_text .text6{ float: left;font-size: 12px;color:#818181;padding: 24px 0px 0px 0px;margin: 0px 0px 0px 20px;line-height: 20px; }
.common_text img{ float: left; }
.common_text ul{ margin: 0px 0px 30px 0px;padding: 0px 0px 0px 30px; }
.common_text ul li{ font-family:Arial,微软雅黑;font-weight: 300;  }
.common_text ul.ul1 li{ margin:0px 0px 15px 0px;list-style-image:url("/images/li_tick.png");color:#000;font-size: 16px; }
.common_text ul.ul2{ margin: 0px 0px 20px 0px;padding: 0px 0px 0px 30px; }
.common_text ul.ul2 li{ margin:0px 0px 15px 0px;list-style-image:url("/images/li_tick.png");color:#000;font-size: 16px; }

.cont_table{ display: table;width:100%; }

.test_panel{ margin: 0px 0px 0px 0px;display: table; }
.test_panel .a_line{ margin: 25px 0px 0px 0px; }
.test_panel .a_line .panel{ float: left;width:484px;margin:0px 20px 0px 0px;display: table;  }
.test_panel .a_line .last{ margin:0px 0px 0px 0px; }
.test_panel .a_line .panel .title_panel{ font-size: 18px;font-family: Arial,"微软雅黑";color:#000;text-decoration:underline;margin:0px 0px 15px 0px }
.test_panel .a_line .panel .content_panel{ font-size: 14px;font-family: Arial,"微软雅黑";color:#434343;line-height: 20px; }

.test_panel .style_2 .panel{ width:315px; }
.test_panel .style_3 .panel{ width:400px; }
.test_panel .style_3 .last{ margin-left: 30px; }

span.blue{ color:#178bbe;font-size: 16px;font-family: Arial,"微软雅黑"; }

.content .area_5 p{ font-size: 14px;font-family: Arial,'微软雅黑';margin: 20px 10px 20px 10px;}


.yellow{ background:yellow;color:#000;padding:2px; }
.test_panel .a_line .panel .yellow { color:#000 }

.process{ position: relative;width: 1066px;height:304px;background-repeat: no-repeat; }
.process img{ position: absolute;left: 0px;z-index: 0; }
.process a{ position: relative;z-index: 1;float: left;text-align: center;height:99px;border: 0px solid #000;font-family:Arial,'微软雅黑';font-size: 16px;padding:183px 0px 0px 0px;color:#000;outline:none }
.process .s1{ width:314px;margin: 0px 35px 0px 0px;color:#0090c0; }
.process .s2{ width:304px;margin: 0px 35px 0px 0px; }
.process .s3{ width:378px; }

.clear{clear:both}


.easy{ width:450px;margin:10px 0px;float:left; }
.easy_title{ height:80px}
.easy .tt{font-size:24px;font-family: Times New Roman,'微软雅黑';line-height:55px;margin-left:20px}
.easy .cont{font-size:14px;line-height:150%;}
.easy_content ul{margin-left:-20px;list-style-image:url('/images/li_disc_m.png');}
.easy_content ul li{font-size:18px;margin-bottom:8px}
.how_to{ width:465px }
.how_to .easy_title{ height:50px}
.how_to .tt{font-size:22px;margin-left:0px}
.how_to .cont{font-size:16px;color:#434343}
.secure{ width:1000px; }
.secure .easy_title{ height:100px;}
.secure .tt{font-size:18px;font-family:Arial;margin-left:0px;line-height:120%}
.secure .cont{font-size:16px;color:#434343}

.special{ display: table; }
.special ul{ padding-left: 15px;display: table;margin: 0px 0px 0px 22px; }
.special ul li{ font-size: 20px;color:#000;margin-bottom: 16px;list-style-image: url("/images/li_disc_m.png");font-family:Arial,'微软雅黑'; }

.align{text-align:right;display:inline-block;width:250px;font-size:14px;font-weight:bold;margin-right:12px;color:#000}
.align2{text-align:right;display:inline-block;width:155px;line-height:90%;font-size:14px;font-weight:;margin-right:12px;color:#000}

/*selector*/
.formdiv .option{line-height:130%;width:;height:245px;overflow:hidden;border:1px solid #B7B6BB;border-top:0;position:absolute;z-index:1;background:#FFF}
.formdiv .option ul{margin-left:-41px;width:;margin-top:0px}
.formdiv .option li{font-family:Arial,"微软雅黑";color:#636363;font-size:16px;padding:5px 0px;text-indent:3px;cursor:pointer}
.formdiv .option .v{border-left:1px solid #b7b6bb;}
.formdiv .option .v:hover{background:#e4e4e5;color:#3b3b3b}
.formdiv .option .select{background:#178bbe;color:#fff}
.formdiv .option .select:hover{background:#178bbe;color:#fff}

.formdiv .slider_cover{width:17px;height:248px;border-left:1px solid #c5bebb;float:right;background:#e4e4e5;margin-top:-1px}
.formdiv .slider_btn{background:url("/images/slider/option1.png");height:27px;width:18px;position:absolute;right:0px;top:0px;cursor:pointer;}

/*-------selector end------*/
.new_reason{ border-left:0;border-bottom:0; }
.new_reason ul.quantity9{ margin: 0 0 0 0px;float:right;width:auto;  }
.new_reason ul.quantity9 li{ cursor: pointer;position: relative; float: none;display:block;text-align: center;width:279px;height:103px;background: url("/images/cards/btn_bg.png") repeat-x;padding: 0px 0px 0px 0px;margin-right:-1px; border: 1px solid #c9c9c9;border-top:0; }
.new_reason ul.quantity9 li span{ display:block;font-size: 24px;color:#178bbe;width:279px; text-align: center;margin-top:20px }
.new_reason ul.quantity9 .light{ border-right:1px solid #fff }
.new_reason ul.quantity9 .light span{ color:#000; }
.new_reason .cnt{ margin: 0px;float:right;display: table;padding: 20px;position: relative;width:710px;border: 1px solid #c9c9c9;border-top:0;border-right:0 }
.new_reason .cnt .cc{ width:740px;border:0px solid #000;padding:0px 0px 0px 0px; }
.new_reason .cnt .cc .fill_in{ width:227px;height:41px;line-height:38px;background:url('/images/cards/app_btn.png');font-size:18px;color:#fff;text-align:center;margin: 30px 0px 0px 0px; }
.new_reason .test_panel .a_line{ margin:0px }
.new_reason .test_panel .a_line .panel{ width:auto;margin-bottom:30px}
.new_reason .test_panel .a_line .panel .title_panel{ font-size: 18px;font-family: Arial,"微软雅黑";background:#178bbe;color:#fff;text-decoration:none;padding:2px 4px;margin:0px 0px 15px 0px }

.new_reason .cnt .c2 ul{ list-style-image:url('/images/li_tick.png');width:700px;text-align:left }
.new_reason .cnt .c2 ul li{ float:left;width:350px;font-size:16px;color:#000;margin:20px 0;line-height:150% }

.new_reason .cnt .c3{ height:270.5px }
.new_reason .cnt .c3 ul{ list-style-image:url('/images/li_tick.png'); }
.new_reason .cnt .c3 ul li{ font-size:16px;color:#000;margin:20px 0;line-height:150% }

.black_bottom{ width:100%;min-width:1200px;height:195px;background:#262626; }
.black_bottom .center_part{ width:1200px;margin:0px auto;padding-top:30px; }
.black_bottom .center_part .div_part{ height:135px;float:left;border-right:1px solid #343434;padding:0px 40px 0px 20px; }
.black_bottom .center_part .div_part a{ outline:none;font-family:Arial; }
.black_bottom .center_part .div_part .a_title{ display:block;color:#fffffe;font-size:9px; }
.black_bottom .center_part .div_part .a_first{ display:block;color:#fffffe;font-size:9px;margin-top:25px; }
.black_bottom .center_part .div_part .a{ display:block;color:#fffffe;font-size:9px;margin-top:5px; }
.black_bottom .center_part .div_part .share_a{ text-align:center; }
.black_bottom .center_part .div_part .share_a a{ margin-right:5px; }
.black_bottom .center_part .div_part .share_a img{ width:30px; }


