/* banner start */
.top_panel{height: 203px;width: 362px;overflow: hidden;background: url('/imagescn/savings/top_pic.jpg') no-repeat;font-family: 'Times New Roman';font-size: 43px;padding: 110px 0 0 703px;color:#303637;}
.top_panel .btn{height: 30px;display: inline-block;margin: 16px 0 0 50px;}
.top_panel .btn .btn_l{background: url('/imagescn/savings/open_btn_bg.png') no-repeat;float: left;width: 13px;height: 30px;}
.top_panel .btn .btn_mid{background: url('/imagescn/savings/open_btn_bg.png') 0px -60px repeat-x;float: left;font-size: 13px;text-align: center;color:#555555;padding: 2px 5px;height: 26px;line-height: 26px;}
.top_panel .btn .btn_r{background: url('/imagescn/savings/open_btn_bg.png') 0px -30px no-repeat;float: left;width: 13px;height: 30px;}
/* banner end */
/* saver products start */
.title{margin: 0 auto;text-align: center;}
.title span a{margin: 0;padding: 0;display: inline-block;float: left;height: 40px;cursor:pointer;}
.title .tit_l{background: url('/imagescn/savings/a_bg.gif') no-repeat 0 0;width: 22px;display: inline-block;float: left;height: 40px;cursor:pointer;}
.title .tit_r{background: url('/imagescn/savings/a_bg.gif') no-repeat 0 -40px;width: 22px;display: inline-block;float: left;height: 40px;cursor:pointer;}
.title .text{color: #000;background: #fff;font-size: 16px;text-align: center;width: 216px;height: 38px;line-height: 38px;border-top: 1px solid #8fc429;border-bottom: 1px solid #8fc429;}
.title .cent .text{border: 1px solid #8fc429;}
.title .tit_l.selected{background: url('/imagescn/savings/a_hover_bg.gif') no-repeat 0 0;}
.title .tit_r.selected{background: url('/imagescn/savings/a_hover_bg.gif') no-repeat 0 -40px;}
.title .text.selected{color: #fff;background: #90c229;}

.saver-products{ width: 1065px; margin-top: 42px; }
.saver-products .left-part{ width: 239px;height: 324px; float: left;background: url('/imagescn/savings/sav_pro_l_bg.jpg') no-repeat;}
.saver-products .left-part .list-title{ height: 42px; line-height: 38px;font-family: Georgia; font-size: 16px; color: #FFFFFF; text-align: center;margin-bottom: 30px;}
.saver-products .left-part .list-option{ height: 40px;cursor: pointer;}
.saver-products .left-part .list-option-selected {background:#007fb8;}
.saver-products .left-part .list-option span{ line-height: 40px; font-family:Arial; font-size: 14px; color: #000000; text-align: left;background: url('/imagescn/savings/sav_pro_list_bg.png') 26px 7px no-repeat;padding-left: 35px;position: relative;}
.saver-products .left-part .list-option-selected span{color: #fff;background: url('/imagescn/savings/sav_pro_list_selc.png') 26px 7px no-repeat;}

.saver-products .right-part{ width: 784px; float: right;text-align: center;}
.saver-products .conts{margin-top: 35px;}
.saver-products .content-title{ height: 33px; line-height: 33px; font-family: Georgia; font-size: 24px;text-align: center;margin-bottom: 34px;}
.saver-products .rates_and_terms{ height: 169px;width: 734px;margin:0px auto 6px auto;position: relative;}
.saver-products .period-list{ width: 575px; margin-top: 14px;float: left;}
.saver-products tr{ height: 45px; }
.saver-products td{ font-family: Arial; font-size: 16px; border-bottom: 1px solid #909090;}
.saver-products .period-list-icon{ background: url('/imagescn/savings/saver-products-list.png') no-repeat 0% 50%; border-color: #FFFFFF; width: 10px; }
.saver-products .table_l{text-align: left;padding-left: 10px;}
.saver-products .period-list-title{ height: 18px; }
.saver-products .period-list-title td{ background: none; border-bottom: 1px solid #FFFFFF; }
.saver-products .period-list-last td{ border-bottom: 1px solid #FFFFFF; }
.saver-products .period-hourglass{ width: 108px; height: 116px; background: url('/imagescn/savings/saver-products-img.png') no-repeat 0 0;margin: 26px 0px 0px 50px;float: left; }

.saver-products .conts .cont{float: left;font-size: 14px;border-right: 1px solid #bdbdbd;height: 69px;padding: 23px 12px 0 12px;text-align: left;}
.saver-products .conts .cont.last{border: none;}
.saver-products .conts .cont span{font-size: 14px;font-weight: bold;margin-bottom: 3px;display: block;line-height: 16px;}

.saver-products .right-part .interest_payment{text-align: left;font-size: 14px;width: 734px;margin: 0 auto;}
.saver-products .inte{padding-top:84px;float: left;}
.saver-products .inte2{width: 378px;}
.saver-products .inte1 .cont{padding:23px 20px 0 12px;}
.saver-products .inte2 .cont{padding:23px 12px 0 20px;}
.saver-products .inte1{background: url('/imagescn/savings/inte1.png') no-repeat center top;}
.saver-products .inte2{background: url('/imagescn/savings/inte2.png') no-repeat center top;}

.saver-products .saver_any_time{margin:0 auto;}
.saver-products .sat {width: 260px; padding-top: 78px;float: left;}
.saver-products .sat1{background: url('/imagescn/savings/to_one_account.png') no-repeat center top;}
.saver-products .sat2{background: url('/imagescn/savings/to_any_account.png') no-repeat center top;}
.saver-products .sat3{background: url('/imagescn/savings/to_cash.png') no-repeat center top;}
/* saver products end */

/* insurance start */
.insurance{ margin: 63px auto 81px auto; }
.insurance .left-part{ background: url('/imagescn/savings/insure_l_bg.jpg') no-repeat center top; width: 239px; height: 327px;float: left; }
.insurance .list-title{font: 16px/20px Georgia,'宋体';text-align: center;color:#fff;margin-bottom:35px;padding-top:5px;}
.insurance .list-option{ height: 40px;cursor: pointer;}
.insurance .list-option-selected {background:#007fb8;}
.insurance .list-option span{ line-height: 40px; font-family:Arial; font-size: 14px; color: #000000; text-align: left;background: url('/imagescn/savings/sav_pro_list_bg.png') 26px 7px no-repeat;padding-left: 35px;position: relative;}
.insurance .list-option-selected span{color: #fff;background: url('/imagescn/savings/sav_pro_list_selc.png') 26px 7px no-repeat;}
.insurance .right-part{ width: 784px; float: right;text-align: center;}
.insurance .title .text{width: 302px;}
.insurance .conts{margin-top: 35px;}
.insurance .cont_1{text-align: left;}
.insurance .cont-tit{font-family:Georgia,'宋体';font-size:18px;line-height:26px;background: url('/imagescn/savings/insure_cont_tit.png') no-repeat left 4px;padding-left: 28px;}
.insurance .cont{font-family:Arial,'微软雅黑';font-size:14px;line-height:18px;margin-bottom:42px;}
.insurance .content-title{ height: 33px; line-height: 33px; font-family: Georgia; font-size: 24px;text-align: center; margin-bottom: 12px;}
.insurance .rates_and_terms{ height: 169px;width: 734px; margin: 0px auto;position: relative;}
.insurance .period-list{ width: 575px; margin-top: 14px;float: left;}
.insurance tr{ height: 45px; }
.insurance td{ font-family: Arial; font-size: 16px; border-bottom: 1px solid #909090;}
.insurance .period-list-icon{ background: url('/imagescn/savings/saver-products-list.png') no-repeat 0% 50%; border-color: #FFFFFF; width: 10px; }
.insurance .table_l{text-align: left;padding-left: 10px;}
.insurance .period-list-title{ height: 18px; }
.insurance .period-list-title td{ background: none; border-bottom: 1px solid #FFFFFF; }
.insurance .period-list-last td{ border-bottom: 1px solid #FFFFFF; }
.insurance .period-hourglass{ width: 108px; height: 116px; background: url('/imagescn/savings/saver-products-img.png') no-repeat 0 0;margin: 26px 0px 0px 50px;float: left; }
.insurance sup{color: #ff0000;font-size: 18px;}
#content .content .insurance p{text-align: left;font-family: Arial,'微软雅黑';font-size: 12px;margin: 0;}
/* insurance end */

/* open your saver start */
.open-your-saver{ width: 1065px; margin-top: 68px; }
.open-your-saver .left-part{ width: 238px; float: left;position: relative;}
.open-your-saver .left-part .list-title{ height: 33px; line-height: 33px; background-color: #555555; font-family: Georgia; font-size: 18px; color: #FFFFFF; text-align: center; }
.open-your-saver .left-part .list-option{font-size: 18px;text-align: left;border-bottom: 1px solid #aaa;width: 192px;height: 102px;padding: 44px 12px 0 34px;line-height: 26px;}
.open-your-saver .left-part .list-option1{ background: url('/imagescn/savings/open-saver-left-bg1.png') no-repeat;}
.open-your-saver .left-part .list-option2{ background: url('/imagescn/savings/open-saver-left-bg2.png') no-repeat;}
.open-your-saver .left-part .list-option3{ background: url('/imagescn/savings/open-saver-left-bg3.png') no-repeat; height: 103px; padding-top: 54px;}
.open-your-saver .left-part .point{width: 43px;height: 44px;position: absolute;top:0px;left: 178px;background: url('/imagescn/savings/open-saver-left-point.png') no-repeat;z-index: 2;}
.open-your-saver .left-part .point_1{top:156px;}
.open-your-saver .left-part .point_2{top:303px;}

.open-your-saver .right-part{ width: 784px; float: right; }
.open-your-saver .right-part .content-title{ height: 33px; line-height: 33px; font-family: Georgia; font-size: 24px;}
.open-your-saver .right-part .content-part1{ height: 300px;}
.open-your-saver .right-part .content-part1 .content-title{width: 816px;}
.open-your-saver .right-part .content-part1 .part1-option{width: 194px; padding-top: 130px;float: left;}
.open-your-saver .right-part .content-part1 .part1-option .cont{font-size: 14px;border-right: 1px solid #bdbdbd;height: 75px;padding:23px 12px 0 20px;}
.open-your-saver .right-part .content-part1 .part1-option .cont.last{border: none;}
.open-your-saver .right-part .content-part1 .part1-option1{background: url('/imagescn/savings/saver-right-icon1.png') no-repeat 50% 40px;}
.open-your-saver .right-part .content-part1 .part1-option2{background: url('/imagescn/savings/saver-right-icon2.png') no-repeat 50% 40px;}
.open-your-saver .right-part .content-part1 .part1-option3{background: url('/imagescn/savings/saver-right-icon3.png') no-repeat 50% 40px;}
.open-your-saver .right-part .content-part1 .part1-option4{background: url('/imagescn/savings/saver-right-icon4.png') no-repeat 50% 40px;}
.open-your-saver .right-part .content-part2{ height: 217px; background: url('/imagescn/savings/open-saver-right-bg2.png') no-repeat 100% 9px; }
.open-your-saver .right-part .content-part2 .part2-option{ width: 515px; height: 50px; margin-top: 25px; padding-left:25px; background: url('/imagescn/savings/li-style-big.png') no-repeat; font-family: Arial; font-size: 13px; }
.open-your-saver .right-part .content-part2 .part2-option div{ font-family: Arial; font-size: 13px; font-weight: bold; margin-bottom: 5px; }
/* open your saver end */

/* banking start */
.banking{ width: 1065px; margin-top: 30px; }
.banking .left-part{ width: 238px; height: 260px; padding-top: 35px; float: left; background: url('/imagescn/savings/banking-left-bg.jpg') no-repeat; }
.banking .left-part .list-title{ height: 34px; line-height: 34px; background: rgba(255, 255, 255, 0.5) !important; background: #FFFFFF; filter: alpha(opacity=50); text-indent: 30px; cursor: pointer; }
.banking .left-part .list-title-selected{ background: rgba(0, 100, 184, 0.7) !important; background: #0064B8; filter: alpha(opacity=70); }
.banking .left-part .list-title span{ font-family: Arial; font-size: 13px; font-weight: bold; color: #000000; position: relative; }
.banking .left-part .list-title-selected span{ color: #FFFFFF; }

.banking .right-part{ width: 784px; float: right; }
.banking .right-part .content-title{height: 33px; line-height: 33px; font-family: Georgia; font-size: 24px;}
.banking .right-part .content-part{height:260px;}

.banking .right-part .mobile-banking .content-part .text{ font-family: Arial; font-size: 14px; padding-top: 20px; margin-left: 5px; color: #5A5A5A;line-height: 22px; }
.banking .right-part .mobile-banking .content-part .list{ padding-top: 20px; height: 188px; position: relative; }
.banking .right-part .mobile-banking .content-part .list .right-image{ position:absolute; top: 8px; right: -27px; }
.banking .right-part .mobile-banking .content-part .list .list-option{ width: 680px; margin-left: 5px; padding-left: 20px; margin-bottom: 10px; background: url('/imagescn/savings/li-style-small.png') no-repeat; font-family: Arial; font-size: 13px; }
.banking .right-part .mobile-banking .content-part .list .list-button{ width: 168px; height: 26px; line-height: 24px; position: absolute; bottom: 5px; background: url('/imagescn/savings/button-bg.png') no-repeat; font-family: Arial; font-size: 12px; text-align: center; }


.banking .right-part .internet-banking .content-part .text{ width: 400px; font-family: Arial; font-size: 14px; padding-top: 20px; margin-left: 5px; }
.banking .right-part .internet-banking .content-part .list{ padding-top: 20px; height: 188px; position: relative; }
.banking .right-part .internet-banking .content-part .list .right-image{ position:absolute; top: 0px; right: 15px; box-shadow: 0px 5px 5px #888888; }
.banking .right-part .internet-banking .content-part .list .list-option{ width: 460px; margin-left: 5px; padding-left: 20px; height: 30px; line-height: 30px; background: url('/imagescn/savings/li-style-small.png') no-repeat 0% 50%; font-family: Arial; font-size: 13px; }
.banking .right-part .internet-banking .content-part .list .list-button{ width: 168px; height: 26px; line-height: 24px; position: absolute; bottom: 5px; background: url('/imagescn/savings/button-bg.png') no-repeat; font-family: Arial; font-size: 12px; text-align: center; }
/* banking end */

 /*how start*/
.how_open{ margin-top: 27px; }
.how_open .content-title{ height: 33px; line-height: 33px; font-family: Georgia; font-size: 24px; margin-bottom: 25px; }
.how_open .ho_content{ width: 1064px; }
.how_open .ho_content .hc_list{ background: url('/imagescn/savings/process.png') no-repeat top center; width: 1066px; height: 304px; }
.how_open .ho_content .hc_list a{ width: 274px; height: 99px; padding: 183px 20px 0 20px; font-size: 14px; text-align: center;float: left;margin-right: 35px;color: #000; }
.how_open .ho_content .hc_list a.last{width: 327px;margin-right: 0px;}
.how_open .ho_content .hc_list a.hovered{color: #0090c0;}
.how_open .ho_content .agr{ background: url('/imagescn/pdf_file.png') no-repeat 40px 0px; width: 270px; height: 38px; padding-left: 93px; line-height: 38px; display: inline-block; margin-bottom: 15px; }
.how_open .ho_content .agr a{ font-size: 14px; text-decoration: underline; }
/*how end*/

.everbright{ color: #178BBE;font-family: Arial, 微软雅黑;font-size: 14px;line-height: 18px;}
.everbright:hover{ text-decoration: underline}

