/* investment end */
.investment{ width: 1065px; margin:30px auto; }
.investment .left-part{ width: 238px; height: 473px;float: left; background: url('/img/investment-left-bg.jpg') no-repeat 0% 100%; }
.investment .left-part .list-title{ height: 45px; line-height: 45px;  background: rgba(255, 255, 255, 0.5) !important; background: #FFFFFF; filter: alpha(opacity=50); text-indent: 30px; cursor: pointer; }
.investment .left-part .list-title span{ font-family: Arial; font-size: 13px; font-weight: bold; color: #000;position: relative; }
.investment .left-part .list-title-selected{ height: 50px; line-height: 50px;  background: rgba(0, 100, 184, 0.7) !important; background: #0064B8; filter: alpha(opacity=70); text-indent: 30px;  }
.investment .left-part .list-title-selected span{ color: #FFFFFF; }
.investment .right-part{ width: 786px; float: right; }
#content .content .investment p{text-align: left;font-family: Arial,'微软雅黑';font-size: 12px;margin: 0;}
.investment sup{color: #ff0000;margin-left: 2px;font-size: 18px;}
 /* investment end */

/* calculator start*/
.calculator .content-title{ height: 33px; line-height: 33px; font-family: Georgia; font-size: 25px;padding:5px 5px 5px 10px;}
.calculator{ height: 474px;}

.calculator_body{ position: relative;height:474px; overflow:hidden;}
.calculator_body .left_part{width:530px; height:472px;float:left;border: 1px solid #d5dde9;background: #f7f7f7;position: relative;}
.calculator_body .left_part .cal_entry{ width: 530px; height: 75px;}
.calculator_body .left_part .cal_entry .change_curr{ margin-left: 10px; display: table; }
.calculator_body .left_part .cal_entry .change_curr span{ width:90px; font-size:18px; color:#77808b; margin-top: 5px;font-family: Georgia;}
.calculator_body .left_part .cal_entry .change_curr ul{ width:420px; height: 28px; margin: 3px 0px;list-style: none; float: left;padding: 0px; }
.calculator_body .left_part .cal_entry .change_curr ul li{float:left;color:#74a3c7; font-size:14px; text-align: center; margin-left:0px;cursor: pointer;padding: 5px 20px;border: 1px solid #f7f7f7;}
.calculator_body .left_part .cal_entry .change_curr ul li.current_li { background:url('/img/deposite_point_bg.png') 8px 10px no-repeat #fff;border: 1px solid #d5dde9;border-radius:30px;color: #000;}

.calculator_body .left_part .cal_entry .change_country{ margin-left: 10px; display: table; }
.calculator_body .left_part .cal_entry .change_country span{ width:90px; font-size:18px; color:#77808b; margin-top: 5px;font-family: Georgia;}
.calculator_body .left_part .cal_entry .change_country ul{ width:420px; height: 28px; margin: 3px 0px;list-style: none; float: left;padding: 0px; }
.calculator_body .left_part .cal_entry .change_country ul li{float:left;color:#74a3c7; font-size:14px; text-align: center; margin-left:0px;cursor: pointer;padding: 5px 20px;border: 1px solid #f7f7f7;}
.calculator_body .left_part .cal_entry .change_country ul li.current_li { background:url('/img/deposite_point_bg.png') 8px 10px no-repeat #fff;border: 1px solid #d5dde9;border-radius:30px;color: #000;}


.calculator_body .left_part .cal_entry .slider_title{ height:75px;width: 100px;float: left;margin-left: 10px;}
.calculator_body .left_part .cal_entry .slider_title .word{ font-size:14px; color:#77808b;display: inline-block; width: 100px; margin-left: 5px; }
.calculator_body .left_part .cal_entry .slider_content{ width: 395px; height:75px; margin:0 auto; float: left;}
.calculator_body .one_box{ width:311px; height:50px; float:left; margin-top: 12px; margin-left: 10px; }
.calculator_body .one_box .notes{ height:20px;position: relative;color: #77808b;}
.calculator_body .one_box .notes span{ font-family:'Comic Sans MS', cursive;color:#77808b;position:absolute;width:60px;text-align:left;top:42px;}
.calculator_body .slider {width: 330px; margin:50px 0px 0px 30px; }
.calculator_body .slider .l{ margin: -15px 0px 0px -15px; font-size:11px;}
.calculator_body .slider .r{ margin: -15px -15px 0px 0px; font-size:11px;}
.calculator_body .slider{ position: absolute;left:0px;top:-50px;}
.calculator_body .slider {  background:#c3d3e4 repeat-x; width:311px; height:4px; position: relative;  margin-left: 0px; }
.calculator_body .slider span{ position: absolute; top:-20px; font-size:11px;}
.calculator_body .slider span.p1{ left:0px; text-shadow: 1px 1px 0px #ccc; color:#717342;}
.calculator_body .slider span.p2{ left:120px; text-shadow: 1px 1px 0px #ccc; color:#717342;}
.calculator_body .slider span.p3{ left:305px; text-shadow: 1px 1px 0px #ccc; color:#717342;}
.calculator_body .slider .slider_count{ position: absolute;left:315px;top:-10px;width:50px;height:26px;line-height:26px;text-align:right;display: inline-block;color: #74a3c7;font: 300 13px/25px pragmatica,Helvetica,Arial,sans-serif;}
.calculator_body .slider div .cover { background: #ffdd2e repeat-x; width:0px; height:4px;position:absolute;top:10px;left:3px; z-index:1;}
.calculator_body .left_part .cal_entry .slider_content .one_box .the_sd{ margin:-11px 0px 0px -3px;position:absolute;width:315px; }
.calculator_body .left_part .cal_entry .slider_content .interest_rate_div{ display: inline-block;font: 300 23px/31px pragmatica,Helvetica,Arial,sans-serif;height: 75px;line-height: 75px; width: 65px;text-align: center;margin: 0 10px 0 20px;color: #77808b; }
.calculator_body .left_part .cal_entry .slider_content .interest_span{color: #77808b;font: 300 23px/31px pragmatica,Helvetica,Arial,sans-serif;}
.calculator_body .left_part .cal_entry .interest_select{display: inline-block; float: left;padding: 5px 20px;margin-top: 17px;font-size: 14px;color:#74a3c7;border: 1px solid #f7f7f7;}
.calculator_body .left_part .cal_entry .interest_select.selected{background: url('/img/deposite_point_bg.png') 9px 11px no-repeat #fff;border: 1px solid #d5dde9;border-radius:30px;color: #000;}
.calculator_body .left_part .tari_bd{position: absolute;width: 0;height: 0;border-top: 14px solid transparent;border-bottom: 14px solid transparent;border-left: 14px solid #d5dde9;bottom: 228px;right: -15px;}
.calculator_body .left_part .tari{position: absolute;width: 0;height: 0;border-top: 14px solid transparent;border-bottom: 14px solid transparent;border-left: 14px solid #f7f7f7;right: 1px;top:-14px;}

.calculator_body .right_part{ width: 234px; height: 473px; float: left;margin-left: 20px;text-align: center;background: #fff;position: relative;}
.calculator_body .right_part .liquid_container{ float:left;margin:0 0px 10px 0;position: relative;width: 100%;height: 200px;}
.calculator_body span.green_span { color: #74a3c7;font: 300 15px/25px pragmatica,Helvetica,Arial,sans-serif;}
.calculator_body span.months_span{top: -11px; margin-left: 335px; left: 0px;width: 40px;}

.calculator_body .right_part .interests_entry tr{border-bottom: 1px solid #d5dde9;}
.calculator_body .right_part .interests_entry tr.last{border: none;}
.calculator_body .right_part .interests_entry tr td{ width: 22px;padding: 5px 0;}
.calculator_body .right_part .interests_entry tr td.left_td{ width: 136px;color: #77808b;text-align: left;font: 300 15px/21px pragmatica,Helvetica,Arial,sans-serif;}
.calculator_body .right_part .interests_entry tr td.right_td{ width: 98px;text-align: right; }
.calculator_body .right_part .interests_entry tr td div{ display: inline-block;font: 300 15px/21px pragmatica,Helvetica,Arial,sans-serif;}
.calculator_body .right_part .interests_entry tr td span{font: 300 15px/21px pragmatica,Helvetica,Arial,sans-serif;}
.calculator_body .right_part .interests_entry tr td .green_span{color: #000;}

.calculator_body .right_part .liqus{width:100px;float: left;position: absolute;bottom: 0;}
.calculator_body .right_part .liqu_1{left: 0;overflow: hidden;}
.calculator_body .right_part .liqu_2{right: 0;}
.calculator_body .right_part .liqu_inside{height: 160px;overflow: hidden;}
.calculator_body .right_part .liqus .conts{width: 100%; height: 35px;margin-bottom: 5px;}
.calculator_body .right_part .liqus .cont{font-size: 14px;text-align: center;color:#77808b;}
.calculator_body .right_part .liquids{background: none repeat scroll 0 0 #c9ccd1;display: inline-block;height: 0;margin-top: 2px;transition: height 0.4s ease 0s;vertical-align: bottom;width: 100%;}
.calculator_body .right_part .round{border-radius: 3px 3px 0 0;position: relative;}
.calculator_body .right_part .blue{background: none repeat scroll 0 0 #94bae2;}
.calculator_body .right_part .yell{background: none repeat scroll 0 0 #ffdd2e;}
#liquid_1{min-height: 10px;}
#liquid_2{min-height: 2px;}
#liquid_3{height: 2px;}
#liquid_4{position: absolute;left: 0;bottom: 0;min-height: 20px;}

.calculator_body .right_part .month_text{ font: 300 15px/21px pragmatica,Helvetica,Arial,sans-serif;margin-left: 10px;text-align: left;}
.calculator_body .right_part .month_v{font: 300 15px/21px pragmatica,Helvetica,Arial,sans-serif;}
.calculator_body .right_part .receive_money{width: 200px; float: left;font: 300 32px/60px pragmatica,Helvetica,Arial,sans-serif;color:#000;margin-left:10px;text-align: left;}
.calculator_body .right_part .fill_in{display: inline-block;position: absolute;bottom: 0px;left: 19px;height: 47px;}
#submit_btn{background: none repeat scroll 0 0 #ffdd2e;border: 0 none;border-radius: 2em;box-shadow: 0 2px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 0 0 #b59d21;color: #000;cursor: pointer;display: inline-block;font: 300 17px/23px pragmatica,Helvetica,Arial,sans-serif;margin: 0;outline: 0 none;padding: 10px 28px;text-decoration: none;transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;vertical-align: top;white-space: nowrap;}
#submit_btn:hover{background: #ffcd33;}
/* calculator end */