<div class="title-section dark-section text-center parallax">
    <div class="container">
        <h1 class="special-heading center">О фонде
        </h1>
    </div>
</div>

<section class="plain-section about-us-home text-center">
    <div class="container">
        <p class="tagline animated-entrance" data-animation="fadeInUp">Фонд «Сайбель Финансовое партнерство» приглашает частных и корпоративных инвесторов для финансирования проектов в сфере IT</p>
        <h2 class="special-heading animated-entrance" data-animation="fadeInUp">Кто мы и чем отличаемся?</h2>
        <div class="row animated-entrance" data-animation="fadeInUp">
                <div class="col-sm-4 col-md-4 animated-entrance" data-animation="fadeInUp">
                    <figure><i class="icon-small icon-special  icon-toolbox"></i></figure>
                    <p>Наша задача – найти перспективный бизнес или идею и обеспечить ее всем необходимым для активного роста и развития </p>
                </div>
                <div class="col-sm-4  col-md-4 animated-entrance" data-animation="fadeInUp">
                    <figure><i class="icon-small icon-special  icon-presentation"></i></figure>
                    <p>Задачи инвестора оказать финансовую поддержу проекта и получить прибыль от своих вложений</p>
                </div>
                <div class="col-sm-4  col-md-4 animated-entrance" data-animation="fadeInUp">
                    <figure><i class="icon-small icon-special icon-lightbulb"></i></figure>
                    <p>Мы предлагаем два типа инвестиционных продуктов:</p>
                    <ul>
                        <li>Покупка акций и торговля на бирже проектов Фонда</li>
                        <li>Приобретение долей в компаниях</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="photo-section dark-section parallax break1">
    <div class="overlay" style="opacity: .7;"></div>
    <div class="container">
        <p class="tagline animated-entrance" data-animation="fadeInRight"></p>

        <h2 class="special-heading left animated-entrance" data-animation="fadeInRight">Чем мы отличаемся от краудфаундинговых площадок?</h2>
        <div class="row animated-entrance" data-animation="fadeInRight">
            <div class="col-md-8">
                <p class="featp">Мы даем уникальную возможность приобрести долю в проекте посредством покупки акций на бирже Фонда.</p>
                <ul>
                    <li>Фонд НЕ является посредником между авторами проектов и инвесторами. Каждый проект является собственностью Фонда и финансируется из наших собственных средств</li>
                    <li>Наши инвесторы застрахованы от ситуаций, когда проект просто исчезает с площадки или разработчики не выходят на контакт с инвесторами, а следовательно не производят обещанных выплат</li>
                    <li>Все обязательства по выплате дивидендов лежат на плечах Фонда. Клиенты заключают договор о приобретении акций/долей напрямую с Фондом</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="plain-section service-left">
    <div class="container">
        <div class="row service-row">
            <div class="col-md-4">
                <figure><i class="icon icon-special icon-tools"></i></figure>
            </div>
            <div class="col-md-8">
                <p>Большинство инвестиционных площадок в настоящее время имеют ограниченный срок жизни, так как по сути своей являются финансовыми пирамидами. «Мертвые» проекты лишь собирают суммы на свое развитие, но развития не происходит и между владельцами акций распределяется не чистая прибыль компании, а средства инвесторов. С падением количества инвесторов, прекращаются и выплаты. Обещания доходности, существенно превышающей банковский депозиты – лишь слова, за которые платят новые инвесторы.</p>
            </div>
        </div>
    </div>
</section>
<div class="separator"></div>

<section class="plain-section ">
    <div class="container">
        <div class="row service-row">
            <div class="col-sm-4 col-sm-push-8">
                <figure><i class="icon icon-special icon-chat"></i></figure>
            </div>
            <div class="col-sm-8 col-sm-pull-4">
                <p>Мы не обещаем мгновенной и заоблачной прибыли от торговли акциями или от приобретения долей в компаниях. Риски, сопровождающие инвестирование в бизнес присутствуют всегда. Но мы подходим к процессу инвестирования честно и обеспечиваем максимальную прозрачность формирования прибыли и ее распределения между участниками.</p>
            </div>
        </div>
    </div>
</section>
<div class="separator"></div>
<section class="plain-section service-left">
    <div class="container">
        <div class="row service-row">
            <div class="col-md-4">
                <figure><i class="icon icon-special icon-tools"></i></figure>
            </div>
            <div class="col-md-8">
                <p>Каждый инвестор, оформивший долю в проекте, независимо от вложенных средств, получает право участвовать в правлении компании. В конце каждого квартала будут организовываться встречи всех бенефициаров по каждому проекту, на которых будут озвучены результаты деятельности за пройденный квартал, а также приниматься решение по дальнейшему развитию проекта и целям.</p>
            </div>
        </div>
    </div>
</section>
<div class="separator"></div>

<section class="plain-section ">
    <div class="container">
        <div class="row service-row">
            <div class="col-sm-4 col-sm-push-8">
                <figure><i class="icon icon-special icon-chat"></i></figure>
            </div>
            <div class="col-sm-8 col-sm-pull-4">
                <p>Каждый инвестор-бенефициар сможет принимать активное участие в деятельности компании и получении прибыли за отчетный период относительно размера своей доли. Все участники ежеквартальных встреч  оповещаются заранее о дате и времени встречи бенефициаров.</p>
            </div>
        </div>
    </div>
</section>