<link rel="stylesheet" type="text/css" href="/js/calc/savings_deposit.css">

<div class="investment">
	<form action="/?p=reg&type=3" id="the_form" method="post" name="the_form" enctype="multipart/form-data" class="clearfix">
		<div class="left-part">
			{foreach from=$all_saving item=row name=foo}
				<div class="list-title h" var="{$row.number_product}" vur="{$row.insurance}" ver="{$row.number_product}" country="{$row.country}"><span>{$row.title}</span>{if $row.insurance=='1'}<sup>*</sup>{/if}</div>
			{/foreach}
			<input type="hidden" name="id_product">
			<input type="hidden" name="insurance">
		</div>
		
		<div class="right-part">
      <div class="calculator">
        <div class="calculator_body" >

           <div class="left_part">
           	<div class="content-title">Калькулятор</div>
           	<div class="cal_entry h" style="height: 55px;">
           		<div class='change_country'>
		<span class='l' >Страна</span>
                 <ul>
                  	<li var="4" class="" style="display: none;">{if $langs=='en'}New Zealand{else}新西兰{/if}</li>
                  	<li var="3" class="">Россия</li>
                  	<li var="1" class="" style="display: none;">{if $langs=='en'}China{else}中国{/if}</li>
                  	<li var="5" class="" style="display: none;">{if $langs=='en'}Hong Kong{else}香港{/if}</li>
                   <input type="hidden" name="savings_country">
                 </ul>
              </div>
            	<div class='change_curr'>
		            <span class='l' >Валюта</span>
                 <ul>
                    {foreach from=$saving_currency item=row}
                   	<li class="currency_list" var="{$row.id_currency}" ver="{$row.id_product}" vor="{$row.number_product}" vur="{$row.calculate_interests}" vpr="{$row.interest_payment}" vda="{$row.max_savings}" vdi="{$row.min_savings}" vri="{$row.min_replenishment}" vra="{$row.max_replenishment}" syl="{$row.symbol}" data-insurance="{$row.insurance}" style="display: none;">Currency</li>
                    {/foreach}
                    <input type="hidden" name="currency">
                 </ul>
              </div>
           	</div>
            <div class="cal_entry" style="margin-top:25px;">
              <div class="slider_title">
                    <span class="word" style="margin-top: 25px;">Сумма вклада</span>
                </div>
                <div class="slider_content">
                    <div class="one_box">
                        <div class="notes">
                        	<span style="left:0px;width:60px;" class="slider_note1">5 тыс.</span>
                            <span style="left:70px;width:60px;" class="slider_note2">200 тыс.</span>
                            <span style="left:144px;width:60px;" class="slider_note3">500 тыс.</span>
                            <span style="left:216px;width:60px;" class="slider_note4">1 млн.</span>
                            <span style="left:289px;width:60px;" class="slider_note5">15 млн.</span>
                        </div>

                        <div class="slider slider1">
                            <div class="the_sd">
                                <img src="/img/btn_white.png" style="cursor:pointer;z-index:2">
                                <div class="cover"></div>
                            </div>

                            <div style="text-align:right;" value="0" id="slider_count_1" class="tx slider_count">5 тыс.</div>
                            <span style="top: -10px; margin-left: 390px;" class="green_span">руб.</span>
				<input type="hidden" name="amount">
                        </div>

                    </div>
                </div>
            </div>

               <div class="cal_entry">
               	<div class="slider_title">
                    <span class="word" style="margin-top: 34px;">Период вложения</span>
                </div>
<style>
.months_rates_p_1{ position: absolute; left: 77px; height: 10px; border-left: 1px solid; top: -5px;}
.months_rates_p_2{ position: absolute; left: 150px; height: 10px; border-left: 1px solid; top: -5px;}
.months_rates_p_3{ position: absolute; left: 225px; height: 10px; border-left: 1px solid; top: -5px;}
.saving_months_div{ height:00px;position:relative;top:-40px;padding-top: 4px;}
.saving_months_div span{ font-family: tahoma,cursive; color: rgb(113, 139, 66);}
.saving_months_span_1{  margin-left: 5px;}
.saving_months_span_2{  margin-left: 55px;}
.saving_months_span_3{  margin-left: 60px;}
.saving_months_span_4{  margin-left: 60px;}
.saving_months_span_5{  margin-left: 60px;}
</style>
                <div class="slider_content">
                    <div class="one_box">
                        <div class="notes" style="padding-bottom: 15px;">
                        	{foreach from=$saving_deposit_rate item=row key=key}
					<span style="top:0px; left: 30px;" class="months_rates_span_1 months_rates_spans months_rates_span-{$row.id_product}-{$row.id_currency}-{$row.insurance}">{$row.0}%</span>
                             <span style="top:0px; left: 130px;" class="months_rates_span_2 months_rates_spans months_rates_span-{$row.id_product}-{$row.id_currency}-{$row.insurance}">{$row.1}%</span>
                             <span style="top:0px; left: 230px;" class="months_rates_span_3 months_rates_spans months_rates_span-{$row.id_product}-{$row.id_currency}-{$row.insurance}">{$row.2}%</span>
                             <span style="top:0px; left: 230px;" class="months_rates_span_4 months_rates_spans months_rates_span-{$row.id_product}-{$row.id_currency}-{$row.insurance}">{$row.3}%</span>
                        	{/foreach}

				<p style="" class="months_rates_p_1"></p>
                            <p style="" class="months_rates_p_2"></p>
                            <p style="" class="months_rates_p_3"></p>
                        </div>

                        <div class="slider slider2">
                            <div class="the_sd">
                                <img style="cursor: pointer; z-index: 2; position: relative;" src="/img/btn_white.png" class="ui-draggable">
                                <div class="cover"></div>

                            </div>
                            <div class="tx slider_count" id="slider_count_2" value="3" style="top: -10px; left: 311px; width: 20px;">3</div>
                                <span class="green_span months_span">мес.</span>
                            <input type="hidden" name="term">
                        </div>
                        <div style="" class="saving_months_div">
                          <span style="" class="saving_months_span_1">3</span>
                          <span style="" class="saving_months_span_2">6</span>
                          <span style="" class="saving_months_span_3">12</span>
		                      <span style="" class="saving_months_span_4">36</span>
		                      <span style="" class="saving_months_span_5">60</span>
                        </div>

                    </div>

                </div>
               </div>

<div class="cal_entry">
	<div class="slider_title">
                    <span class="word" style="margin-top: 30px;">Процентная ставка</span>

                </div>
                <div class="slider_content">
                	<div class="interest_rate_div">7.50%</div>
                	<span class="green_span interest_span">&nbsp;в год</span>
                	<input type="hidden" name="rate">
                </div>
</div>

               <div class="cal_entry">
               	<div class="slider_title" id='slider3_title'>
                    <span class="word" style="margin-top: 25px;">Пополнение в месяц</span>
                </div>
                <div class="slider_content" id='slider3_content'>
                    <div class="one_box">
                        <div class="notes">
                        	<span class="rep_note1" style="left: 0px;">0</span>
                            <span class="rep_note2" style="left: 30px;">5 тыс.</span>
				<span class="rep_note3" style="left: 95px;">20 тыс.</span>
                            <span class="rep_note4" style="left: 159px;">50 тыс.</span>
                            <span class="rep_note5" style="left: 223px;">100 тыс.</span>
                            <span class="rep_note6" style="left: 289px;">500 тыс.</span>
                        </div>
                        <div class="slider slider3">
                            <div class="the_sd">
                                <img src="/img/btn_white.png" style="cursor:pointer;z-index:2">

                                <div class="cover"></div>

                            </div>
				<div style="text-align: right; top: -10px;" value="10000" name="term" id="slider_count_3" class="tx slider_count">0</div>
                                <span style="top: -10px; margin-left: 390px; left: 0px;" class="green_span">руб.</span>
                        </div>

                    </div>
                </div>
               </div>

               <div class="cal_entry">
               	<div id='interest'>
                 <div class="slider_title">
                     <span class="word" style="margin-top: 25px;">Проценты по вкладу</span>
                 </div>
                 <div style="width:360px;margin:0px auto; float:left;">
                     <div class="interest_select_2 interest_select selected">
                         На текущий счет
                     </div>
                     <div class="interest_select_1 interest_select">
                          На сберегательный счет
                     </div>
                 </div>
            	</div>
            </div>
            <div class="tari_bd"><div class="tari"></div></div>
               <input type="hidden" name="interest_payment_period">
                  <input type="hidden" name="interest_payment">
                  <input type="hidden" name="interest_payment_type">
                  <input type="hidden" name="id_savings_product">
           </div>

	                <div class="right_part">
	                	<div class="liquid_container">
	                		<div class="liqus liqu_1">
	                			<div class="conts"><div class="tit cont">Вклад сегодня</div><div class="v cont">200.00 руб.</div></div>
								<div id="liquid_1" class="liquids round"></div>
	                		</div>
	                		<div class="liqus liqu_2">
	                			<div class="conts"><div class="tit cont">Вы получаете</div><div class="v cont">500.00 руб.</div></div>
	                			<div class="liqu_inside round">
	                				<div id="liquid_2" class="liquids round blue"></div>
		                			<div id="liquid_3" class="liquids yell"></div>
		                			<div id="liquid_4" class="liquids"></div>
	                			</div>
	                		</div>
		                </div>
		                <div class="month_text">За <span class="month_v">18</span> мес. вы получите:</div>
		                <div class="receive_money">$505.00</div>
		                

		                <table class="interests_entry">
		                	<tr>
		                		<td class="left_td">Первоначальная сумма вклада</td>
		                		<td class="right_td">
		                			<div id="td_saving_amount">500</div>
		                			<span class="green_span">руб.</span>
		                		</td>
		                	</tr>
		                	<tr>
		                		<td class="left_td">Проценты за вклад</td>
		                		<td class="right_td">
		                			<div id="td_saving_interest">0</div>&nbsp;<span class="green_span">руб.</span>
		                		</td>
		                	</tr>
		                	<tr class="last">
		                		<td class="left_td">Пополнение вклада</td>
		                		<td class="right_td">
		                			<div id="td_saving_rep">0</div>
		                			<span class="green_span">руб.</span>
		                		</td>
		                	</tr>
		                </table>
						<div class="fill_in">
							<input type="button" id="submit_btn" class="apply_send" value="Открыть пакет сейчас">
							<input type="hidden" name="apply_savings">
						</div>
	                </div>	
	            </div>
			</div>
		</div>
	</form>
</div>
<div class="clear"></div>