		<div class="title-section dark-section text-center parallax">
			<div class="container">
				<h1 class="special-heading center">Долевое инвестирование</h1>
			</div>
		</div>

		<section class="plain-section service-left">
			<div class="container">
				<div class="row service-row">
					<div class="col-md-4">
						<figure><i class="icon icon-special icon-tools"></i></figure>
					</div>
					<div class="col-md-8">
						<h3>Что такое «долевое инвестирование в проект»?</h3>
						<p>На этапе начала финансирования проекта Фонд и создатель проекта создают новое юридическое лицо. </p>
                        <p>При учреждении юридического лица доли каждого из участников распределяются в зависимости от вкладов. Вкладом владельца создателя является проект и перспектива его развития со всеми показателями, имеющимися наработками и требованиями. Вклад Фонда – это средства на развитие проекта, а также его всесторонняя поддержка и продвижение. </p>
                        <p>После учреждения юридического лица все составляющие проекта становятся собственностью юридического лица. Размер доли каждого участника юридического лица определяется в индивидуальном порядке в результате переговоров между Фондом и создателем проекта и закрепляется в учредительных документах.</p>
                        <p>Доля Фонда в проекте как правило равна от 30%  до 65% в зависимости от индивидуальной договоренности, степени самостоятельности проекта и его готовности к выходу на рынок, а также степени вовлеченности ресурсов Фонда.</p>

			
					</div>
					<div class='clearfix'></div>
					<div class='col-sm-1 col-sm-offset-5'>
					   <div class="portfolio">

                			<ul class="portfolio-items">
                				<li class="item user-interface animated-entrance" data-animation="fadeInUp">
                					<a href="img/sheme2.jpg" rel="prettyPhoto">
                						<img src="img/sheme2.jpg" alt="">
                						<div class="item-content">
                							<h5>Схема распределения долей</h5>
                		
                						</div>
                					</a>
                				</li>
                			</ul>
                            
                        </div>
					</div>   
				</div>
			</div>
		</section>

		<div class="separator"></div>

		<section class="plain-section ">
			<div class="container">
				<div class="row service-row">
					<div class="col-sm-4 col-sm-push-8">
						<figure><i class="icon icon-special icon-chat"></i></figure>
					</div>
					<div class="col-sm-8 col-sm-pull-4">
						<h3>Что получает проект от сотрудничества с Фондом</h3>
						<ul>
    						<li>финансирование в объеме, достаточном для доработки проекта, его запуска и рекламного продвижения</li>
                            <li>юридическую и административную поддержку</li>
                            <li> бухгалтерское сопровождение</li>

						</ul>
						<p>На правах участника юридического лица Фонд имеет право распоряжаться своей долей в проекте и, по мере развития и успешности проекта частично или полностью реализовать свою долю другим участникам Фонда по текущей рыночной цене. </p>
					</div>
				</div>
			</div>
		</section>

		<div class="separator"></div>

		<section class="plain-section service-left">
			<div class="container">
				<div class="row service-row">
					<div class="col-sm-4">
						<figure><i class="icon icon-special icon-tools"></i></figure>
					</div>
					<div class="col-sm-8">
						<h3>Биржа акций проектов</h3>
						<p>Текущая стоимость доли проекта, находящейся в собственности Фонда отображается на внутренней бирже на нашем сайте. Каждый проект имеет свои акции, стоимость которых будет формироваться исходя из спроса и предложения на них на бирже, результатов работы проекта, его финансовых показателей и темпов роста.</p>
        		<div class="portfolio">

			<ul class="portfolio-items">
				<li class="item user-interface animated-entrance" data-animation="fadeInUp">
					<a href="img/sheme1.jpg" rel="prettyPhoto">
						<img src="img/sheme1.jpg" alt="">
						<div class="item-content">
							<h5>Схема проекта</h5>
		
						</div>
					</a>
				</li>
			</ul>
</div>

						
					</div>
				</div>
			</div>
		</section>

		<div class="separator"></div>

		<section class="plain-section ">
			<div class="container">
				<div class="row service-row">
					<div class="col-sm-4 col-sm-push-8">
						<figure><i class="icon icon-special icon-presentation"></i></figure>
					</div>
					<div class="col-sm-8 col-sm-pull-4">
						<h3>Как инвестор может оценить потенциал проекта перед покупкой доли?</h3>
						<p>Следить за этапами развития проекта, его новостями, событиями можно прямо на нашем сайте. Каждый потенциальный инвестор, желающий приобрести долю в проекте может оценить весь жизненный цикл стартапа с момента запуска до текущего времени. </p>
						
						<h5>Информация о проекте включает в себя</h5>
						<ol>
<li>Новости компании: заключение партнерских соглашений, выступление на выставках, конференциях, открытие нового направления (услуги) и т.д. 
</li><li>Оценка роста числа клиентов (пользователей) проекта 
</li><li>	Финансовые показатели компании</li>
						</ol>

						<h5>Преимущества инвестирования через покупку доли в бизнес-проекте</h5>
<ul>						
<li>надежность и безопасность инвестиций в сравнении с венчурными инвестициями в новый проект на этапе разработки
</li><li>позволяет получать наибольший доход. Проект уже начинает зарабатывать деньги и имеет положительную динамику развития
</li></ul>
						
					</div>
				</div>
			</div>
		</section>
{include file='panel_slogan.html'}