<section class="head-section photo-section">
	<div class="overlay"></div>
		<div class="head-slider owl-carousel">
			<div class="slide slide1" data-bg="#81551d" data-bg-opacity="0.8" data-header-color="light" data-image="img/slide0.jpg">					
    			<div class="slide-content dark">
					<div class="slide-content-outer">
						<div class="slide-content-inner center bottom">
							<h2>Добро пожаловать в</br> Фонд «Сайбель Финансовое партнерство» </h2>
							<p style=' color:#fff'>С 2012 года основным направлением деятельности Фонда «Сайбель Финансовое партнерство» является поддержка и развитие инновационных проектов и стартапов на любом этапе их существования.</p>
							<a href="/?p=about" class="btn btn-gray btn-outline btn-big">Узнать больше</a>
						</div>
					</div>
				</div>
			</div>
			<div class="slide slide2" data-bg="#519473" data-bg-opacity="0.9" data-header-color="light" data-image="img/slide1.jpg">
				<div class="slide-content dark">
					<div class="slide-content-outer">
						<div class="slide-content-inner left middle">
							<h2>Долевое инвестирование <br>в проекты</h2>
							<p style=' color:#fff'>Прекрасно подойдет для амбициозных, активных инвесторов,<br>желающих стать частью развивающегося инновационного бизнеса. 
</p>
							<a href="/?p=reg" class="btn btn-gray btn-outline btn-big">Инвестировать</a>
						</div>
					</div>
				</div>
			</div>
{*
			<div class="slide slide3" data-bg="#28466f" data-bg-opacity="0.9" data-header-color="dark" data-image="img/slide2.jpg">
				<div class="slide-content dark">
					<div class="slide-content-outer">
						<div class="slide-content-inner left middle">
							<h2>Инвестиционные пакеты</h2>
							<p>Для гарантированного регулярного получения дохода, <br>с ежемесячным и ежеквартальным начислением процентов и возможностью пополнения.</p>
							<a href="#" class="btn btn-gray btn-outline btn-big">Выбрать пакет</a>
						</div>
					</div>
				</div>
			</div>
*}
		</div>
</section>

<section class="plain-section about-us-home text-center">
	<div class="container">
		<p class="tagline animated-entrance" data-animation="fadeInUp">Сайбель Финансовое партнерство</p>
		<h2 class="special-heading animated-entrance" data-animation="fadeInUp">О фонде</h2>
		<div class="row animated-entrance" data-animation="fadeInUp">
			    <div class="col-sm-6 animated-entrance" data-animation="fadeInUp">
    			    <figure><i class="icon-small icon-special  icon-toolbox"></i></figure>
                    <p>В настоящее время для своих клиентов мы предлагаем возможность участия в долевом инвестировании проектов, финансируемых Фондом. Мы вкладываем средства только в проекты с низким инвестиционным риском и начинаем привлекать сторонних инвесторов только после того, как проект начинает показывать устойчивую положительную динамику. </p>
                </div>
                <div class="col-sm-6 animated-entrance" data-animation="fadeInUp">
                    <figure><i class="icon-small icon-special  icon-presentation"></i></figure>
                    <p>Список проектов постоянно пополняется. Действующие проекты постепенно выходят в работу и начинают приносить первую прибыль. Познакомиться с каждым проектом: посмотреть на финансовые показатели, предстоящие мероприятия можно прямо на нашем сайте.</p>
                </div>
                <div class='clearfix'></div>
                <div class="col-sm-6 animated-entrance" data-animation="fadeInUp">
                    <figure><i class="icon-small icon-special  icon-wallet"></i></figure>
                    <p>Перспективным проектам и стартапам мы предлагаем возможность получить финансирование для полноценного запуска и развития. Никаких конкурсов и долгих ожиданий. Для разработчиков и владельцев стартапов достаточно просто в любое время подать заявку на финансирование, объяснить суть своей идеи нашим специалистам. В случае если проект нас заинтересует, мы предложим варианты сотрудничества и финансовой поддержки. </p>
                </div>
                <div class="col-sm-6 animated-entrance" data-animation="fadeInUp">
                    <figure><i class="icon-small icon-special icon-lightbulb"></i></figure>
                    <p>За 3 года успешной работы с проектами молодых, перспективных разработчиков специалисты Фонда еще больше убедились в том, что своевременная финансовая поддержка инициатив может не только существенно помочь в самореализации молодых людей, но и стать доходным инвестиционным инструментом для инвесторов</p>
                </div>
			</div>
		</div>

	</div>
</section>

<section class="photo-section dark-section parallax break1">
	<div class="overlay" style="opacity: .7;"></div>
	<div class="container">
		<p class="tagline animated-entrance" data-animation="fadeInRight"></p>

		<h2 class="special-heading left animated-entrance" data-animation="fadeInRight">Долевое инвестирование в действующие проекты (покупка акций)</h2>
		<div class="row animated-entrance" data-animation="fadeInRight">
			<div class="col-md-8">
				<p class="featp">Мы даем уникальную возможность приобрести долю в проекте посредством покупки акций на бирже Фонда.</p>
				<ol>
    				<li>Доходность инвестиций существенно выше, чем у большинства других инвестиционных продуктов.</li>
    				<li>Возможность стать владельцем доли перспективного бизнеса (часто, принципиально нового продукта, у которого нет аналогов на рынке).</li>
    				<li>Сфера IT, в которой развиваются стартапы, не связаны с реальной экономикой, упадок которой мог бы повлиять на прибыльность стартапа.</li>
				</ol>
				<a href="/?p=equity" class="btn btn-gray btn-outline btn-big">Узнать подробнее</a>
				<a href="/?p=reg" class="btn btn-gray btn-big">Инвестировать</a>
			</div>
		</div>
	</div>

</section>
<section class="plain-section dark-section portfolio-section text-center">
	<div class="container">
		<p class="tagline animated-entrance" data-animation="fadeInUp">Самые важные новости за последнюю неделю</p>
		<h2 class="special-heading animated-entrance" data-animation="fadeInUp">Новости</h2>

		<div class="portfolio">
			<div class="filter-bar animated-entrance" data-animation="fadeInUp">
				<ul class="filter-list clearfix">
					<li class="current"><a href="#" data-id="found">Все новости</a></li>
{*					<li><a href="#" data-id="user-interface">Новости проектов</a></li>
					<li><a href="#" data-id="html-css">Стартапы в мире</a></li>
*}
					<li><a href="#" data-id="item"></a></li>

				</ul>
			</div>
			<ul class="portfolio-items 4-col">
    			{foreach from=$news item=row}
				<li class="item found animated-entrance" data-animation="fadeInUp">		
				    <a href='/?p=news&id_news={$row.id}'><h5>{$row.title}</h5>
						<p>{$row.project_title}</p>
                    <span class='badge bg-danger'>{$row.date_create|date_format:"%d-%m-%Y"}</span></a>
				</li>    			
    			{/foreach}
			</ul>
		</div>
	</div>
</section>

<section class="plain-section blog-section" id="projects">
	<div class="container">
		<p class="tagline animated-entrance text-center" data-animation="fadeInUp">Инвестиции</p>
		<h2 class="special-heading center animated-entrance" data-animation="fadeInUp">Проекты нашего фонда</h2>
		<div class="row">
{foreach from=$ProjectList item=row}

			<div class="col-lg-3 col-md-3 col-xs-6  blog-col animated-entrance" data-animation="fadeInRight">
				<div class="blog-card">
					<img src="/img.php?f={$row.img1}" alt="">
					<div class="card-content">
						<div class="blog-date">{$row.authorized_capital/1000000}<span>млн. руб.</span></div>
						<h3><a href="/?p=projects&id={$row.id}">{$row.title}</a></h3>
						<span class="category">Запуск 01.09.2015</span>
					</div>
				</div>
			</div>
{/foreach}
{*
			<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
				<div class="blog-card">
					<img src="/img/project2_mini.jpg" alt="">
					<div class="card-content">
						<div class="blog-date">100<span>тыс. руб.</span></div>
						<h3><a href="/?p=projects&id=2">Ex2change.com</a></h3>
						<span class="category">Запуск 01.09.2016</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
				<div class="blog-card">
					<img src="/img/project3_mini.jpg" alt="">
					<div class="card-content">
						<div class="blog-date">450<span>тыс. руб.</span></div>
						<h3><a href="/?p=projects&id=3">HK & China Business Consulting</a></h3>
						<span class="category">Запуск 01.05.2016</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
				<div class="blog-card">
					<img src="/img/project4_mini.jpg" alt="">
					<div class="card-content">
						<div class="blog-date">18<span>млн. руб.</span></div>
						<h3><a href="/?p=projects&id=4">Страсти по пасте</a></h3>
						<span class="category">Запуск 01.06.2016</span>
					</div>
				</div>
			</div>
*}
		</div>
	</div>
</section>

<section class="social-section">
	<div class="container">
		<div class="social-card">
			<div class="row">
				<div class="col-md-12 social-left animated-entrance" data-animation="fadeInLeft">
					<div class="social-icons">
						<span class="label">Следите за нами:</span>
						<ul class="social-list">
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 social-right animated-entrance hidden" data-animation="fadeInRight">
					<span class="label">Заказать звонок:</span>
					<form class="form-inline newsletter-form" action="#" method="POST">
						<div class="form-group">
							<label class="sr-only" for="exampleInputEmail3">Введите свой телефон</label>
							<input type="hidden" name="u" value="353176c755359f8a86033ee33">
							<input type="hidden" name="id" value="c506270f12">
							<input type="text" class="form-control" id="newsletter_input" name="quest" placeholder="Введите свой телефон">
						</div>
						<button class="icon-submit click-send-order"><i class="fa fa-envelope-o"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="plain-section contact-section text-center" id='contacts'>
	<div class="container">
		<p class="tagline animated-entrance" data-animation="fadeInUp">Наши контакты</p>
		<h2 class="special-heading animated-entrance" data-animation="fadeInUp">Свяжитесь с нами</h2>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>Узнайте подробнее о нашей деятельности, проектах и возможностях инвестирования прямо сейчас</p>

				<div class="spacer"></div>

				<div class="contact-details clearfix">
					<div class="contact-col animated-entrance" data-animation="fadeInUp">
						<i class="fa fa-map-marker"></i>
						<h5>Адрес</h5>
						<p>123317, Россия, г. Москва, Пресненская набережная 10, Блок С, Помещение III, офис 41</p>
					</div>
					<div class="contact-col animated-entrance" data-animation="fadeInUp">
						<i class="fa fa-envelope-o"></i>
						<h5>Email</h5>
						<p>info@sblinvest.ru</p>
					</div>
					<div class="contact-col animated-entrance" data-animation="fadeInUp">
						<i class="fa fa-phone"></i>
						<h5>Телефон</h5>
						<p>+7 800 200 03 76</p>
					</div>
				</div>
			</div>
		</div>

		<div class="spacer"></div>

		<div class="row animated-entrance" data-animation="fadeInUp">
			<div class="col-sm-6 col-sm-offset-3">

				<form class="contact-form" id="contact_form" action="#" method="post">
					<div class="form-group cr-input">
						<input name="name" type="text" class="form-control input-lg" id="nameinput" value="">
						<label for="nameinput" class="cr-label"><span>Ваше имя</span></label>
					</div>
					<div class="form-group cr-input">
						<input name="email" type="email" class="form-control input-lg" id="emailinput" value="">
						<label for="emailinput" class="cr-label"><span>E-mail</span></label>
					</div>
					<div class="form-group cr-input">
						<textarea name="quest" class="form-control" rows="10" id="messageinput" value=""></textarea>
						<label for="messageinput" class="cr-label"><span>Сообщение</span></label>
					</div>
					<div class="form-group">
						<button id="submit_btn" type="submit" class="btn btn-gray btn-medium btn-outline click-send-order">Отправить</button>
					</div>
				</form>

				<div id="result" class='submit-status'></div>

			</div>
		</div>

	</div>
</section>