<div class="title-section dark-section text-center parallax">
    <div class="container">
        <h1 class="special-heading center">«Биржа» проектов Фонда</h1>
    </div>
</div>
<section class="plain-section about-us-home text-center">
    <div class="container">
        <p class="tagline animated-entrance" data-animation="fadeInUp">О бирже проектов</p>
        <h2 class="special-heading animated-entrance" data-animation="fadeInUp">Что это?</h2>
        <div class="row animated-entrance" data-animation="fadeInUp">
            <div class="col-sm-10 col-sm-offset-1">
                <p>Биржа представляет из себя виртуальный сервис, позволяющий владельцам компаний, авторам инновационных проектов и стартапов, привлекать в свои проекты сторонних инвесторов путем продажи долей и виртуальных акций. При этом в роли инвестора может выступать как физическое лицо, так и компания, желающая владеть долей в инновационном интернет бизнесе.</p>
            </div>
        </div>
        <span class="spacer" style="margin-bottom: 20px;"></span>
        <div class="row text-center">
            <div class="col-md-2 col-md-offset-3 animated-entrance" data-animation="fadeInUp">
                <figure><i class="icon-small icon-special icon-lightbulb"></i></figure>
            </div>
            <div class="col-md-2 animated-entrance" data-animation="fadeInUp">
                <figure><i class="icon-small icon-special icon-hotairballoon"></i></figure>
            </div>
            <div class="col-md-2 animated-entrance" data-animation="fadeInUp">
                <figure><i class="icon-small icon-special icon-happy"></i></figure>
            </div>
        </div>
        <span class="spacer" style="margin-bottom: 20px;"></span>

         <h4 class="special-heading animated-entrance" data-animation="fadeInUp">Мы предлагаем два способа участия в проектах Фонда в зависимости от потребностей инвестора:</h4>

        <div class="row animated-entrance" data-animation="fadeInUp">
            <div class="col-md-6">
                <p>1. Долевое участие в проектах – покупка доли в бизнесе. Подходит для крупных инвесторов: юридических лиц и опытных инвесторов, желающих получить высокую прибыль, а также для начинающих бизнесменов, которые хотели бы участвовать в управлении компанией и получать часть прибыли от деятельности. Стоимость доли в бизнесе соответствует котировке виртуальных акций проекта на бирже Фонда.</p>
            </div>
            <div class="col-md-6">
                <p>2. Покупка виртуальных акций компаний, зарегистрированных на бирже проектов Фонда.  Отличный продукт для частных инвесторов, нацеленных на получение быстрой прибыли. Простой процесс регистрации на бирже и оформления покупки без необходимости вникать в юридические нюансы, касающиеся оформления доли в бизнесе.</p>
            </div>
        </div>
    </div>
</section>
<section class="photo-section dark-section parallax break1">
    <div class="overlay" style="opacity: .7;"></div>
    <div class="container">
       
        <div class="row animated-entrance" data-animation="fadeInRight">
            <div class="col-md-8">
                <p class="featp">Для начала работы на бирже Фонда необходимо пройти простую процедуру регистрации и получить доступ к личному кабинету участника биржи. Выбирать компании для покупки акций можно с помощью каталога проектов, ориентируясь на текущую цену акций.</p>

            </div>
                    
            <div class="col-md-6">             <h4 class="special-heading animated-entrance" data-animation="fadeInUp"> </h4>
                <p><strong>Каталог действующих проектов</strong> – включает в себя всю необходимую информацию о проекте:</p>
                <ul>
                    <li>учредительные документы, </li>
                    <li>бизнес-планы,</li>  
                    <li>финансовые показатели</li>
                    <li>основные новости компании.</li>
                </ul>
            </div>
            <div class="col-md-6">             
                <h4 class="special-heading animated-entrance" data-animation="fadeInUp"> </h4>
                <p><strong>Личный кабинет участника биржи</strong> – простой и безопасный способ работы на бирже проектов Фонда:</p>
                <ul>
<li>управление покупкой-продажей акций, </li>
<li>отслеживание цены акций на графике котировок, </li>
<li>возможность отправки заявки на покупку доли в проекте, </li>
<li>сервисы по выводу средств от продажи акций,</li>
<li>обмен пакета акций на долю в компании,</li>
<li>справочная информация и контакты технической поддержки.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="plain-section service-left">
    <div class="container">
        <div class="row service-row">
            <div class="col-md-4">
                <figure><i class="icon icon-special icon-tools"></i></figure>
            </div>
            <div class="col-md-8">
                <h3>Выгоды и перспективы</h3>
                <p><em>Для компании</em>, реализующей акции и доли в компании - привлечение средств для развития бизнеса.</p>
                <p><em>Для покупателей</em> - получение дивидендов и быстрой прибыли от продажи акций в случае увеличения их стоимости, а также возможность получать прибыль от приобретения реальной доли в перспективном бизнесе.</p>
            </div>
        </div>
    </div>
</section>
<div class="separator"></div>
<section class="plain-section service-right">
    <div class="container">
        <div class="row service-row">
            <div class="col-sm-4 col-sm-push-8">
                <figure><i class="icon icon-special icon-chat"></i></figure>
            </div>
            <div class="col-sm-8 col-sm-pull-4">
                <h3>Реальные доли в компаниях с оформлением согласно законодательству РФ</h3>
                <p>Приоритетным продуктом биржи Фонда являются доли в действующем бизнесе. Фонд не занимается продажей «виртуальных» долей в компаниях и проектах. Покупка долей в компании совершается согласно законодательству РФ и сопровождается оформлением всех необходимых документов.</p>
            </div>
        </div>
    </div>
</section>
<section class="photo-section dark-section parallax break1" style="background-position: 50% 23px; background-attachment: fixed;">
    <div class="overlay" style="opacity: .7;"></div>
    <div class="container">
        <p class="tagline" data-animation="fadeInRight" style="opacity: 1;">Hадежность и ответственность</p>
        <h2 class="special-heading left" data-animation="fadeInRight" style="opacity: 1;">Hадежность и ответственность</h2>
        <div class="row" data-animation="fadeInRight" style="opacity: 1;">
            <div class="col-md-8">
                <p class="featp">Фонд занимается продажей только собственных долей в проектах. Каждая компания в списке проектов на нашем сайте частично (доля) или полностью принадлежит Фонду. </p>
                <p class="featp">Каталог проектов Фонда содержит только реально действующие компании, с полным комплектом необходимых документов, бизнес-планами, отчетами о полученной прибыли. Перед тем как приобрести акции или доли любой инвестор может ознакомиться с учредительными документами каждой компании, представленной на бирже и оценить ее потенциал самостоятельно. </p>
                <p class="featp">Мы отвечаем собственной репутацией за прозрачность и честность каждой сделки, а также за исполнение обязательств перед каждым инвестором и заинтересованы в быстром росте и развитии проектов</p>
                {*<a href="#" class="btn btn-gray btn-outline btn-big">Portfolio</a>
                <a href="#" class="btn btn-gray btn-big">Get Quote</a>*}
            </div>
        </div>
    </div>
</section>