<li><a href="/">Главная</a></li>
<li><a href="/?p=reg">Регистрация</a></li>
<li><a href="/?p=equity">Долевое инвестирование</a></li>
<li><a href="/?p=search">Поиск стартапов</a></li>
<li><a href="/?p=market">Биржа проектов</a></li>
<li><a href="/#projects">Проекты</a></li>
<li><a href="/#contacts">Контакты</a></li>
<li><hr></li>
<li><a href="http://lk.sblinvest.ru" target="blank">Личный кабинет</a></li>
