<div class="title-section dark-section  parallax" style='padding-top:50px; padding-bottom:10px;'>
	<div class="container">
    	<a href='/' class="btn btn-default" style='margin-top:80px'>Назад</a>
	</div>
</div>
		
<section class="plain-section service-left">
	<div class="container">
		<div class="row service-row">
			<div class="col-md-4 col-sm-3 text-right">
				<figure><i class="icon icon-special  icon-megaphone"></i></figure>
				<p>Дата: {$news.date_create|date_format:"%d.%m.%Y"}</p>
			</div>
			<div class="col-md-8 col-sm-9">
				<h3>{$news.title}</h3>
        {$news.body}
				<div class="portfolio hidden">
					<ul class="portfolio-items">
						<li class="item user-interface animated-entrance" data-animation="fadeInUp">
							<a href="img/sheme2.jpg" rel="prettyPhoto">
								<img src="img/sheme2.jpg" alt="">
								<div class="item-content">
									<h5>Схема распределения долей</h5>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="separator"></div>
<section class="cta-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-xs-7">
				<p class="featp">Не нужно откладывать деньги! Инвестируйте сейчас и получайте стабильный доход!</p>
			</div>
			<div class="col-md-3 col-xs-5">
				<a href="#" class="btn btn-white btn-big btn-outline">Инвестировать сейчас</a>
			</div>
		</div>
	</div>
</section>