
<div class="title-section dark-section text-center parallax">
	<div class="container">
		<p class="tagline">Инвестиционные пакеты с фиксированной процентной ставкой</p>
		<h1 class="special-heading center">Инвестиционные продукты Фонда</h1>
	</div>
</div>
<section class="photo-section dark-section parallax break1">
	<div class="overlay" style="opacity: .7;"></div>
	<div class="container">
		<p class="tagline animated-entrance" data-animation="fadeInRight"></p>
		<h2 class="special-heading left animated-entrance" data-animation="fadeInRight">Инвестиционные пакеты с фиксированной процентной ставкой</h2>
		<div class="row animated-entrance" data-animation="fadeInRight">
			<div class="col-md-8">
				<p class="featp">Мы гарантируем доход по выбранным пакетам инвестиций независимо от успешности проектов: выплата процентов происходит по графику согласно выбранному инвестиционному тарифу.</p>

			</div>
		</div>
        <div class="separator"></div>
		<h2 class="special-heading left animated-entrance" data-animation="fadeInRight">Долевое инвестирование в действующие проекты (покупка акций)</h2>
		<div class="row animated-entrance" data-animation="fadeInRight">
			<div class="col-md-8">
				<p class="featp">Мы даем уникальную возможность приобрести долю в проекте посредством покупки акций на бирже Фонда.</p>
				<ol>
    				<li>Доходность инвестиций существенно выше, чем у большинства других инвестиционных продуктов.</li>
    				<li>Возможность стать владельцем доли перспективного бизнеса (часто, принципиально нового продукта, у которого нет аналогов на рынке).</li>
    				<li>Сфера IT, в которой развиваются стартапы, не связаны с реальной экономикой, упадок которой мог бы повлиять на прибыльность стартапа.</li>
				</ol>
				<a href="/?p=equity" class="btn btn-gray btn-outline btn-big">Узнать подробнее</a>
				<a href="/?p=reg" class="btn btn-gray btn-big">Инвестировать</a>
			</div>
		</div>
	</div>

</section>

<div class="plain-section gray-section">
			<div class="container">
				<div class="row ">
    				
    				
{foreach from=$savings item=row name=foo}
<div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<ul class="pricing-col {if $smarty.foreach.foo.index==2}pricing-featured{/if}">
							<li class="pricing-plan"><h4>{$row.title}</h4></li>
							<li class="pricing-price">
								<span class="pricing-symbol">%</span>{$row.percent|number_format:1}<span class="pricing-frequency">годовых</span>
							</li>
							<li>3-5 месяцев <strong>{$row.begin_end1|number_format:1}%</strong></li>
							<li>6-11 месяцев <strong>{$row.begin_end2|number_format:1}%</strong></li>
							<li>12-36 месяцев<strong>{$row.begin_end3|number_format:1}%</strong></li>
							<li>37-60 месяцев <strong>{$row.begin_end4|number_format:1}%</strong></li>
							
                            {if $smarty.foreach.foo.index==0}						
                            <li>
                            <a href="#" class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может пополнить свой инвестиционный счет не позднее 60 дней до окончания срока инвестиций" title="" data-original-title="Срок, в течение которого можно пополнить сумму инвестиций" data-trigger="hover">Срок пополнения<br>не позднее <strong>60</strong> дней</a>
                            </li>
                            <li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Начисление процентов по инвестициям осуществляется ежемесячно на минимальный остаток на инвестиционном счете и зачисляются на текущий счет в валюте инвестиций." title="" data-original-title="Выплата процентов по вкладу" data-trigger="hover">Выплата процентов<br><strong>ежемесячно</strong> на текущий счет</a></li>
                            <li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может осуществлять частичное снятие средств с инвестиционного счета не раньше 60 дней с даты открытия пакета инвестиций. С текущего счета – в любое время." title="" data-original-title="Частичное снятие средств" data-trigger="hover">Частичное снятие<br><strong>не раньше 60 дней</strong></a></li>
                            
                            {/if}    						
                            {if $smarty.foreach.foo.index==1}			
                            <li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Капитализация (остаются на вкладе). Начисление процентов по вкладу осуществляется ежемесячно на минимальный остаток на сберегательном счете и зачисляются на сберегательный счет в валюте вклада." title="" data-original-title="Выплата процентов по инвестициям" data-trigger="hover" >Выплата процентов<br><strong>ежемесячно</strong> на инвестиционный счет</a></li>
                            <li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может осуществлять частичное снятие средств инвестиций и процентов со сберегательного счета не раньше 90 дней с даты открытия пакета инвестиций." title="" data-original-title="Частичное снятие средств" data-trigger="hover">Частичное снятие<br><strong>не раньше 90 дней</strong></a></li>
                            {/if}  
                            {if $smarty.foreach.foo.index==2}	
                            <li>
                            <a href="#" class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может пополнить свой инвестиционный счет не позднее 90 дней до окончания срока инвестиций" title="" data-original-title="Срок, в течение которого можно пополнить сумму инвестиционного счета" data-trigger="hover">Срок пополнения<br>не позднее <strong>90</strong> дней</a>
                            </li>
                            
                            <li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Начисление процентов по инвестициям осуществляется ежеквартально на минимальный остаток на инвестиционном счете и зачисляются на текущий счет в валюте инвестиций." data-original-title="Выплата процентов по вкладу"  data-trigger="hover" >Выплата процентов<br><strong>ежеквартально</strong> на текущий счет</a></li>
                            
                            <li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может осуществлять снятие только процентов по инвестициям с текущего счета не раньше 90 дней с даты открытия пакета инвестиций. С инвестиционного счета частичное снятие не допускается." data-original-title="Частичное снятие средств" data-trigger="hover">Частичное снятие<br><strong>не раньше 90 дней</strong></a></li>
                            {/if}  		
                            
                            {if $smarty.foreach.foo.index==3}	
                            <li><a href="#" class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может пополнить свой инвестиционный счет не позднее 180 дней до окончания срока инвестиций"  data-original-title="Срок, в течение которого можно пополнить сумму инвестиционного счёта" data-trigger="hover">Срок пополнения<br>не позднее <strong>180</strong> дней</a></li>
                            
                            <li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Капитализация (остаются на инвестиционном счете). Начисление процентов по инвестициям осуществляется ежеквартально на минимальный остаток на инвестиционном счете и зачисляются на инвестиционный счет в валюте инвестиций. Выплата процентов и возврат средств инвестиций осуществляется по окончании срока. " data-original-title="Выплата процентов по вкладу"  data-trigger="hover" >Выплата процентов<br><strong>ежеквартально</strong> на инвестиционный счет</a></li>
                            <li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Не допускается. (ни процентов по инвестициям, ни средств инвестиций)" title="" data-original-title="Частичное снятие средств" data-trigger="hover">Частичное снятие<br>Не допускается. (ни процентов по инвестициям, ни средств инвестиций)</a></li>
                            {/if}			

							<li class="pricing-button">
								<a href="/?p=reg" class="btn btn-medium btn-default btn-outline">Инвестировать</a>
							</li>
						</ul>
					</div>
{/foreach}    				
    				
{*	    				
				<div class="col-sm-3">
						<ul class="pricing-col">
							<li class="pricing-plan"><h4>Оптимальный</h4></li>
							<li class="pricing-price">
								<span class="pricing-symbol">%</span>17<span class="pricing-frequency">годовых</span>
							</li>
						<li>C возможностью пополнения инвестиционного счета и ежемесячным начислением процентов. Отлично подойдет для начинающих инвесторов. Начать можно с минимальной суммы 5 000 рублей и посмотреть как это работает.</li>
						<li>От 3 мес. до 60 мес.</li>
						<li>Минимальная сумма<br><strong>5 000 р.</strong></li>
						<li>Максимальная сумма<br><strong>Нет ограничений</strong></li>
						<li>Пополнения<br>от<strong>5 000 руб.</strong> до <strong>500 000 руб.</strong></li>
						<li>
							<a href="#" class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может пополнить свой инвестиционный счет не позднее 60 дней до окончания срока инвестиций" title="" data-original-title="Срок, в течение которого можно пополнить сумму инвестиций" data-trigger="hover">Срок пополнения<br>не позднее <strong>60</strong> дней</a>
						</li>
						<li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Начисление процентов по инвестициям осуществляется ежемесячно на минимальный остаток на инвестиционном счете и зачисляются на текущий счет в валюте инвестиций." title="" data-original-title="Выплата процентов по вкладу" data-trigger="hover">Выплата процентов<br><strong>ежемесячно</strong> на текущий счет</a></li>
						<li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может осуществлять частичное снятие средств с инвестиционного счета не раньше 60 дней с даты открытия пакета инвестиций. С текущего счета – в любое время." title="" data-original-title="Частичное снятие средств" data-trigger="hover">Частичное снятие<br><strong>не раньше 60 дней</strong></a></li>
							<li class="pricing-button">
								<a href="#" class="btn btn-medium btn-default btn-outline">Инвестировать</a>
							</li>
						</ul>
					</div>					
				<div class="col-sm-3">
						<ul class="pricing-col">
							<li class="pricing-plan"><h4>Классический</h4></li>
							<li class="pricing-price">
								<span class="pricing-symbol">%</span>17.5<span class="pricing-frequency">годовых</span>
							</li>
                            <li>C ежемесячным начислением процентов и капитализацией средств на инвестиционном счете. Чтобы не было соблазна потратить доход от инвестиций в первый же месяц, можно ограничить снятие средств и получить внушительную сумму в конце срока инвестирования.</li>
    					 	<li>От 3 мес. до 60 мес.</li>
    						<li>Минимальная сумма<br><strong>5 000 р.</strong></li>
    						<li>Максимальная сумма<br><strong>Нет ограничений</strong></li>
    						<li>Пополнения<br><strong>не допускаются</strong></li>
                            <li>Пополнения<br><strong>не допускаются</strong></li>
    
    						<li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Капитализация (остаются на вкладе). Начисление процентов по вкладу осуществляется ежемесячно на минимальный остаток на сберегательном счете и зачисляются на сберегательный счет в валюте вклада." title="" data-original-title="Выплата процентов по инвестициям" data-trigger="hover" >Выплата процентов<br><strong>ежемесячно</strong> на инвестиционный счет</a></li>
    						<li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может осуществлять частичное снятие средств инвестиций и процентов со сберегательного счета не раньше 90 дней с даты открытия пакета инвестиций." title="" data-original-title="Частичное снятие средств" data-trigger="hover">Частичное снятие<br><strong>не раньше 90 дней</strong></a></li>
                            <li class="pricing-button">
    								<a href="#" class="btn btn-medium btn-default btn-outline">Инвестировать</a>
                            </li>
						</ul>
					</div>
				<div class="col-sm-3">
					<ul class="pricing-col pricing-featured">
						<li class="pricing-plan"><h4>Выгодный</h4></li>
						<li class="pricing-price">
							<span class="pricing-symbol">%</span>18<span class="pricing-frequency">годовых</span>
						</li>
						<li>Ежеквартальное начисление процентов с возможностью снятия средств с текущего счета и возможностью пополнения инвестиционного счета. Пакет сочетает в себе гибкость условий по пополнению и снятию средств и возможность получение высокого дохода. </li>
                        <li>От 3 мес. до 60 мес.</li>
						<li>Минимальная сумма<br><strong>10 000 р.</strong></li>
						<li>Максимальная сумма<br><strong>Нет ограничений</strong></li>
						<li>Пополнения <br>от<strong> 10 000 руб.</strong> до <strong>500 000 руб.</strong></li>
				  <li>
						<a href="#" class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может пополнить свой инвестиционный счет не позднее 90 дней до окончания срока инвестиций" title="" data-original-title="Срок, в течение которого можно пополнить сумму инвестиционного счета" data-trigger="hover">Срок пополнения<br>не позднее <strong>90</strong> дней</a>
					</li>

					<li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Начисление процентов по инвестициям осуществляется ежеквартально на минимальный остаток на инвестиционном счете и зачисляются на текущий счет в валюте инвестиций." data-original-title="Выплата процентов по вкладу"  data-trigger="hover" >Выплата процентов<br><strong>ежеквартально</strong> на текущий счет</a></li>

					<li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может осуществлять снятие только процентов по инвестициям с текущего счета не раньше 90 дней с даты открытия пакета инвестиций. С инвестиционного счета частичное снятие не допускается." data-original-title="Частичное снятие средств" data-trigger="hover">Частичное снятие<br><strong>не раньше 90 дней</strong></a></li>
						<li class="pricing-button">
							<a href="#" class="btn btn-medium btn-default btn-outline">Инвестировать</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<ul class="pricing-col">
						<li class="pricing-plan"><h4>Выгодный +</h4></li>
						<li class="pricing-price">
							<span class="pricing-symbol">%</span>19<span class="pricing-frequency">годовых</span>
						</li>
					<li>Выгода до 19% годовых, ежеквартальные выплаты процентов, капитализация. Большой срок инвестиций вознаграждается максимальным процентом прибыли от вложений.</li>
					<li>От 3 мес. до 60 мес.</li>
					<li>Минимальная сумма<br><strong>10 000 р.</strong></li>
					<li>Максимальная сумма<br><strong>Нет ограничений</strong></li>
					<li>Пополнения <br>от <strong>10 000 руб.</strong> до <strong>500 000 руб.</strong></li>
<li>
						<a href="#" class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Клиент может пополнить свой инвестиционный счет не позднее 180 дней до окончания срока инвестиций"  data-original-title="Срок, в течение которого можно пополнить сумму инвестиционного счёта" data-trigger="hover">Срок пополнения<br>не позднее <strong>180</strong> дней</a>
					</li>

					<li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Капитализация (остаются на инвестиционном счете). Начисление процентов по инвестициям осуществляется ежеквартально на минимальный остаток на инвестиционном счете и зачисляются на инвестиционный счет в валюте инвестиций. Выплата процентов и возврат средств инвестиций осуществляется по окончании срока. " data-original-title="Выплата процентов по вкладу"  data-trigger="hover" >Выплата процентов<br><strong>ежеквартально</strong> на инвестиционный счет</a></li>
					<li><a href="#"  class="pt-popover" data-toggle="popover" data-placement="bottom" data-content="Не допускается. (ни процентов по инвестициям, ни средств инвестиций)" title="" data-original-title="Частичное снятие средств" data-trigger="hover">Частичное снятие<br>Не допускается. (ни процентов по инвестициям, ни средств инвестиций)</a></li>
						<li class="pricing-button">
							<a href="#" class="btn btn-medium btn-default btn-outline">Инвестировать</a>
						</li>
					</ul>
				</div>
*}
				</div>
			</div>
		</div>
		
<div class="plain-section gray-section">
	<div class="container">
		<div class="row ">
    		{include file='calc.html'}
		</div>
	</div>
</div>
{include file='panel_slogan.html'}