<section class="cta-section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-lg-8">
				<p class="featp">
    				{if $slogan==1}Выгодные инвестиции доступны каждому!{/if}
    				{if $slogan==2}Заставьте свои деньги работать на вас уже сегодня!{/if}
    				{if $slogan==3}Не нужно откладывать деньги! Инвестируйте сейчас и получайте стабильный доход!{/if}
				</p>
			</div>
			<div class="col-md-5 col-lg-2">
				<a href="/?p=reg" class="btn btn-white btn-big btn-outline">Инвестировать сейчас</a>
			</div>
		</div>
	</div>
</section>