<div class="title-section dark-section text-center parallax">
	<div class="container">
		<p class="tagline">Инвестиции </p>
		<h1 class="special-heading center">Наши проекты</h1>
	</div>
</div>
{if !isset($smarty.get.id)}
<section class="photo-section dark-section parallax break1">
	<div class="overlay" style="opacity: .7;"></div>
	<div class="container">
		<p class="tagline animated-entrance" data-animation="fadeInRight"></p>

		<h2 class="special-heading left animated-entrance" data-animation="fadeInRight">Долевое инвестирование в действующие проекты (покупка акций)</h2>
		<div class="row animated-entrance" data-animation="fadeInRight">
			<div class="col-md-8">
				<p class="featp">Мы даем уникальную возможность приобрести долю в проекте посредством покупки акций на бирже Фонда.</p>
				<ol>
    				<li>Доходность инвестиций существенно выше, чем у большинства других инвестиционных продуктов.</li>
    				<li>Возможность стать владельцем доли перспективного бизнеса (часто, принципиально нового продукта, у которого нет аналогов на рынке).</li>
    				<li>Сфера IT, в которой развиваются стартапы, не связаны с реальной экономикой, упадок которой мог бы повлиять на прибыльность стартапа.</li>
				</ol>
				<a href="/?p=equity" class="btn btn-gray btn-outline btn-big">Узнать подробнее</a>
				<a href="/?p=reg" class="btn btn-gray btn-big">Инвестировать</a>
			</div>
		</div>
	</div>

</section>
<section class="plain-section blog-section" id="projects">
	<div class="container">
		<p class="tagline animated-entrance text-center" data-animation="fadeInUp">Инвестиции</p>
		<h2 class="special-heading center animated-entrance" data-animation="fadeInUp">Проекты нашего фонда</h2>
		<div class="row">
			<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
				<div class="blog-card">
					<img src="/img/project1_mini.jpg" alt="">
					<div class="card-content">
						<div class="blog-date">9.2<span>млн. руб.</span></div>
						<h3><a href="/?p=projects&id=1">МФО Сайбель Финанс</a></h3>
						<span class="category">Запуск 01.09.2015</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
				<div class="blog-card">
					<img src="/img/project2_mini.jpg" alt="">
					<div class="card-content">
						<div class="blog-date">100<span>тыс. руб.</span></div>
						<h3><a href="/?p=projects&id=2">Ex2change.com</a></h3>
						<span class="category">Запуск 01.09.2016</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
				<div class="blog-card">
					<img src="/img/project3_mini.jpg" alt="">
					<div class="card-content">
						<div class="blog-date">450<span>тыс. руб.</span></div>
						<h3><a href="/?p=projects&id=3">HK & China Business Consulting</a></h3>
						<span class="category">Запуск 01.05.2016</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 blog-col animated-entrance" data-animation="fadeInRight">
				<div class="blog-card">
					<img src="/img/project4_mini.jpg" alt="">
					<div class="card-content">
						<div class="blog-date">18<span>млн. руб.</span></div>
						<h3><a href="/?p=projects&id=4">Страсти по пасте</a></h3>
						<span class="category">Запуск 01.06.2016</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{else}
<style>
	.jqstooltip{
			display: table
	}

</style>
<section class="plain-section testimonials-section text-left" style=" background: #f2f2f2 url('/img/project_bg.jpg') repeat-y ">
	<div id="photo-holder" class="photo-holder"></div>
	<div class="container">
		<div class="row animated-entrance" data-animation="fadeIn">
			<div class="col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
				<p class="tagline">{$Project.descr}</p>
				<h2 class="special-heading left">{$Project.title}</h2>
				<div class="testimonials-slider">
			
					<ul class="testimonials">
						<li class="testimonial-item" data-image="/img/project1_bg.jpg">
							<blockquote>
								<div class='row'>
									<div class="col-xs-4 col-md-3">
									<!--	<p>Текущая цена</p>
										<h4><span class='fa fa-arrow-up text-success'></span>149 <span class='fa fa-rub'></span> </h4>
										<p>Инвесторов:</p>
										<h5>4</h5>
										<p>Инвесторовано:</p>
										<h5>123 тыс</h5>
										<p>Выплачено:</p>
										<h5>10 тыс</h5> -->
									<ul class="pricing-col">
										<li class="pricing-plan "><span class='inlinesparkline' data-spark-width="20%">{$bond.price}</span></li>
										<li class="pricing-price" style=" white-space: nowrap">
											<span class="pricing-symbol fa fa-arrow-up text-success"></span>
											<span class='stock_value'>{$bond.par_now}</span>
											<span class="pricing-frequency">0.89%</span>
										</li>
										<li>Инвесторовано <h6>123 тыс</h6></li>
										<li>Выплачено <h6>10 тыс</h6> </li>
									</ul>
												
									</div>
									<div class="col-xs-8 col-md-9">
										{$Project.body}
									</div>
								</div>
    						<div class='row'>
    							<div class='col-md-6 col-lg-6'>
									<h5>Инвестировано: 12 млн. рублей</h5>
									<p><strong>Старт проекта:</strong> 1 Сентября 2015</p>
									<h5>Документация по проекту:</h5>
									<div class='row text-center file-list'>
									</div>	
								</div>
    						<div class='col-md-6 col-lg-6'>
									<h5>Подробности о проекте:</h5>
    								<p><strong>Веб-сайт:</strong> <a href='{$Project.site}' target="_blank">{$Project.site}</a></p>
										<p><strong>Тел:</strong> {$Project.tel_fax}</p>
										<p><strong>Организационно-правовая форма:</strong> {$Project.legal}</p>
										<p><strong>Форма сотрудничества с Фондом и доля Фонда в проекте:</strong> Учредитель, 100%</p>
								</div>
							</div>
							</blockquote>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{/if}
{if $smarty.get.id==2}
<section class="plain-section testimonials-section text-left" style=" background: #f2f2f2 url('/img/project_bg.jpg') repeat-y ">
	<div id="photo-holder" class="photo-holder"></div>
	<div class="container">
		<div class="row animated-entrance" data-animation="fadeIn">
			<div class="col-md-8 col-md-offset-4">
				<p class="tagline">Сервис «Ex2change» - экономим Ваше время и деньги!</p>
				<h2 class="special-heading left">Сервис по обмену валюты «Ex2change» (г. Москва)</h2>
				<div class="testimonials-slider">
					<ul class="testimonials">
						<li class="testimonial-item" data-image="/img/project2_bg.jpg">
							<blockquote>
								<p>Площадка «Ex2change» предлагает своим клиентам не только качественный мониторинг пунктов обмена валют и частных предложений по обмену по всей Москве, но и позволяет зафиксировать выбранный курс обмена онлайн на необходимый период времени. Выбирайте наиболее выгодный курс обмена в своем районе на сайте или с помощью мобильного приложения «Ex2change», зафиксируйте сумму и время действия курса, приходите в обменный пункт и получайте наличные.</p>
    		
                                <p>Сервис наблюдает за обменными курсами 24 часа в сутки на большом количестве обменных пунктов в разных районах Москвы и отображает самый выгодный курс обмена необходимой валюты на данный момент времени. Период действия курса фиксируется индивидуально с представителем обменного пункта, благодаря чему можно быстро найти наиболее выгодный в ближайшем обменном пункте и гарантированно обменять валюту по именно по этому курсу.</p>
                                <p><strong>Категория клиентов: </strong>частные лица и индивидуальные предприниматели. Основная возрастная группа от 25 до 55 лет. </p>
    						    <div class='row'>
        							<div class='col-md-6 col-lg-6'>
    									<h5>Инвестировано: 12 млн. рублей</h5>
    									<p><strong>Старт проекта:</strong> 01.07.2016 года</p>
    								
                                        <h5>Документация по проекту:</h5>
    								   <div class='row text-center'>
    									   <div class='col-xs-6 col-sm-4 col-md-4 col-lg-4'>
        										<a href="img/project_ex_1.png" rel="prettyPhoto" >
                                                <span class='fa fa-file-image-o fa-4x' ></span><br><span style='font-size:14px'>Экран мобильного приложения #1</span>
                            					</a>
    									   </div>
      									   <div class='col-xs-6 col-sm-4 col-md-4 col-lg-4'>
        										<a href="img/project_ex_2.png" rel="prettyPhoto" >
                                                <span class='fa fa-file-image-o fa-4x' ></span><br><span style='font-size:14px'>Экран мобильного приложения #2</span>
                            					</a>
    									   </div>
    									   <div class='col-xs-6 col-sm-4 col-md-4 col-lg-4'>
        										<a href="img/project_ex_3.png" rel="prettyPhoto" >
                                                <span class='fa fa-file-image-o fa-4x' ></span><br><span style='font-size:14px'>Экран мобильного приложения #3</span>
                            					</a>
    									   </div>
                                        </div>	
                                    </div>
        							<div class='col-md-6 col-lg-6'>
    									<h5>Подробности о проекте:</h5>
        								<p><strong>Веб-сайт:</strong> <a href='http://ex2change.com' target="_blank">ex2change.com</a></p>
                                        <p><strong>Тел:</strong> 8  800 200 03 76, +7 495 651 66 80</p>
                                        <p><strong>Организационно-правовая форма:</strong> Общество с ограниченной ответственностью (ООО)</p>
                                        <p><strong>Форма сотрудничества с Фондом и доля Фонда в проекте:</strong> Учредитель, 100%</p>
                                        
                                        <p><strong>Объем инвестиций Фонда в проект:</strong> 6 млн. рублей</p>
                                        <p><strong>Планируемый объем инвестиций в будущем:</strong> 6 млн. рублей</p>
                                        <p><strong>Общий планируемый объем инвестиций:</strong> 12 млн. рублей</p>
    								</div>												
    							</div>

                            </blockquote>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{/if}
{if $smarty.get.id==3}

<section class="plain-section testimonials-section text-left" style=" background: #f2f2f2 url('/img/project_bg.jpg') repeat-y ">
	<div id="photo-holder" class="photo-holder"></div>
	<div class="container">
		<div class="row animated-entrance" data-animation="fadeIn">
			<div class="col-md-8 col-md-offset-4">
				<p class="tagline">www.hkcnbis.com</p>
				<h2 class="special-heading left">HK & China Business Consulting</h2>
				<div class="testimonials-slider">
					<ul class="testimonials">
						<li class="testimonial-item" data-image="/img/project3_bg.jpg">
							<blockquote>
								<p>Компания HK & China Business Consulting осуществляет консультации по ведению бизнеса в Гонконге и Китае, занимается регистрацией компаний в этом регионе, а также оказывает полный спектр услуг по их полноценному ведению и финансовому сопровождению: бухгалтерский учет, сдача отчетности, открытие счетов. Популярность и востребованность услуг, предоставляемых компанией, обусловлен широкими перспективами азиатского рынка, а также благоприятными условиями для ведения бизнеса: низкое налогообложение, минимальная отчетность, возможность использования компании в качестве офшора, а также минимальные комиссии банков при открытии счета в Гонконге.</p>
    							<p>
                                    <strong>Категория клиентов: </strong>частный бизнес, заинтересованный в выходе на китайский рынок товаров и услуг, а также компании, желающие сократить расходы на услугах международных посредников и вести операции напрямую с партнерами из Китая и Гонконга.

    							</p>
						<div class='row'>
    							<div class='col-md-6 col-lg-6'>
									<h5>Инвестировано: 12 млн. рублей</h5>
									<p><strong>Старт проекта:</strong> 1 Сентября 2015</p>
								
                                    <h5>Документация по проекту:</h5>
									   <div class='row text-center'>
    									   <div class='col-xs-6 col-sm-4 col-md-4 col-lg-4'>
        										<a href="img/project_hk_1.png" rel="prettyPhoto" >
                                                <span class='fa fa-file-image-o fa-4x' ></span><br><span style='font-size:14px'>Главная страница</span>
                            					</a>
    									   </div>

    								</div>	
								</div>
    							<div class='col-md-6 col-lg-6'>
									<h5>Подробности о проекте:</h5>
    								<p><strong>Веб-сайт:</strong> <a href='http://http://hkcnbis.com/' target="_blank">www.hkcnbis.com/</a></p>
                                    <p><strong>Тел:</strong> офис в Москве: +7 800 707 02 17,
         офис в Гонконге: +85 26 717 27 36</p>
                                    <p><strong>Организационно-правовая форма:</strong> Общество с ограниченной ответственностью (ООО)</p>
                                    <p><strong>Форма сотрудничества с Фондом и доля Фонда в проекте:</strong> Учредитель, 100%</p>
                                    
                                    <p><strong>Объем инвестиций Фонда в проект:</strong> 6 млн. рублей</p>
                                    <p><strong>Планируемый объем инвестиций в будущем:</strong> 6 млн. рублей</p>
                                    <p><strong>Общий планируемый объем инвестиций:</strong> 12 млн. рублей</p>
								</div>
												
								</div>
                                </blockquote>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{/if}

{if $smarty.get.id==4}

<section class="plain-section testimonials-section text-left" style=" background: #f2f2f2 url('/img/project_bg.jpg') repeat-y ">
	<div id="photo-holder" class="photo-holder"></div>
	<div class="container">
		<div class="row animated-entrance" data-animation="fadeIn">
			<div class="col-md-8 col-md-offset-4">
				<p class="tagline">Итальянский ресторанчик</p>
				<h2 class="special-heading left">Передвижной фургон быстрого питания «Страсти по пасте» (г. Сочи)</h2>
				<div class="testimonials-slider">
					<ul class="testimonials">
						<li class="testimonial-item" data-image="/img/project4_bg.jpg">
							<blockquote>
                                <p>В последнее время все большую актуальность приобретает выездная торговля. Мобильные кафе, торгующие фаст-фудом, пользуются большой популярность в США и других западных странах. Существуют сотни поклонников фургончиков с едой, организуются специальные фестивали и конкурсы. В России передвижные пункты быстрого питания еще не превратились в нечто культовое, однако уже нашли своего клиента и приносят немалую прибыль.</p>
                                <p>Этот бизнес привлекателен своей высокой рентабельностью, быстрой окупаемостью и ликвидностью. Нет необходимости платить за аренду, вкладываться в дорогостоящую рекламу, можно постоянно менять дислокацию и без проблем находить новых клиентов. Главное преимущество фургона-киоска – высокая скорость и качество приготовления блюд, а также невысокая цена.  Основное меню фургона быстрого питания «Страсти по пасте» ориентировано на любителей итальянской кухни и включает в себя самые популярные разновидности пасты, овощные салаты, напитки и десерты – основные составляющие полноценного обеда. </p>
                                <p>Территориально проект реализуется в г. Сочи – наиболее популярном туристическом направлении страны за последние 2 года.
</p>
   							<p>
                                    <strong>Категория клиентов: </strong>молодые люди от 18 до 35 лет, предпочитающие здоровое питание, состоящее из качественных ингредиентов. Продукция относится к средней ценовой категории.</p>
						<div class='row'>
    							<div class='col-md-6 col-lg-6'>
									<h5>Инвестировано: 12 млн. рублей</h5>
									<p><strong>Старт проекта:</strong> 01.06.2016</p>
								
                                    <h5>Документация по проекту:</h5>
									   <div class='row text-center'>
    									   <div class='col-xs-6 col-sm-4 col-md-4 col-lg-4'>
        										<a href="img/project4_mini.jpg" rel="prettyPhoto" >  {* - заменить потом реальной страницей*}
                                                <span class='fa fa-file-image-o fa-4x' ></span><br><span style='font-size:14px'>Главная страница</span>
                            					</a>
    									   </div>

    								</div>	
								</div>
    							<div class='col-md-6 col-lg-6'>
									<h5>Подробности о проекте:</h5>
    								<p><strong>Веб-сайт:</strong> <a href='#' target="_blank">strastipopaste.ru</a></p>
                                    <p><strong>Тел:</strong>+7 800 000 00 00</p>
                                    <p><strong>Организационно-правовая форма:</strong> Общество с ограниченной ответственностью (ООО)</p>
                                    <p><strong>Форма сотрудничества с Фондом и доля Фонда в проекте:</strong> Учредитель, 100%</p>
                                    
                                    <p><strong>Объем инвестиций Фонда в проект:</strong> 6 млн. рублей</p>
                                    <p><strong>Планируемый объем инвестиций в будущем:</strong> 6 млн. рублей</p>
                                    <p><strong>Общий планируемый объем инвестиций:</strong> 12 млн. рублей</p>
								</div>
												
								</div>
							</blockquote>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{/if}
{include file='panel_slogan.html'}