{if isset($smarty.get.success)}
<div class="title-section dark-section text-center parallax">
	<div class="container">
		<p class="tagline">Наш менеджер свяжется с вами в ближайшее время!</p>
		<h1 class="special-heading center">Поздравляем вас с успешной регистрацией</h1>
	</div>
</div>
{else}
<div class="title-section dark-section text-center parallax">
	<div class="container">
		<p class="tagline">Выберите нужную форму из списка и заполните поля</p>
		<h1 class="special-heading center">Регистрация участника фонда</h1>
	</div>
</div>
<section class="plain-section  text-center">
	<div class="container">
		{*
		<p class="tagline animated-entrance" data-animation="fadeInUp">Долевое инвестирование</p>
		<h2 class="special-heading animated-entrance" data-animation="fadeInUp">Проекты</h2>
		*}
		<div class="portfolio">
			<div class="filter-bar animated-entrance" data-animation="fadeInUp">
				<ul class="filter-list clearfix">

					<li><a href="#" class='select_type_registration' data-id="reg-stock" >Регистрация участника на биржу </a></li>
					<li class="current"><a href="#" class='select_type_registration'  data-id="reg-invest">Долевое инвестирование </a></li>
					<li><a href="#"  class='select_type_registration'  data-id="reg-startup">Стартапы/Действующие бизнес проекты/Бизнес идеи</a></li>

				</ul>
			</div>
			<!--animated-entrance' data-animation="fadeInUp" -->
			<form method="post" class='the_form_reg'>
				<input type='hidden' name='type_registration' value='reg-invest'> {*значение по умолчанию Регистрация действующих компаний*}
			<div class='row portfolio-items'>
				<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 item  reg-stock reg-invest reg-startup an'>
				<h6>Личная информация</h6>			
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-stock reg-invest reg-startup an'>
					<div class="form-group ">
					<label class="control-label">Фамилия</label>
					<input type="text" class="form-control" name="surname" placeholder='Иванов'>
					</div>
				</div>    		    
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4  item  reg-stock reg-invest reg-startup an'>
					<div class="form-group ">
					<label class="control-label">Имя </label>
					<input type="text" class="form-control" name="name" placeholder='Иванов'>
					</div>
				</div>   
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4  item  reg-stock reg-invest reg-startup an'>
					<div class="form-group ">
						<label class="control-label">Отчество</label>
						<input type="text" class="form-control" name="middle_name" placeholder="Иванович">
					</div>	    		 
				</div>    		    
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4  item  reg-stock reg-invest reg-startup an'>    		    
					 <div class="form-group">
						<label class="control-label">Дата рождения</label>
						<div class="input-group">
							<input type="text" class="form-control datepicker" name='date_of_birth' placeholder='01.05.2015'>
							<span class="input-group-addon">
							  <span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>                
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4  item  reg-stock reg-invest reg-startup an'>    
					<div class="form-group">
						<label class="control-label">Пол</label>
						<div>
							<label class="radio-inline">
								<input type="radio" name="sex" placeholder="" value='1'> Мужской
							</label>
							<label class="radio-inline">
								<input type="radio" name="sex" placeholder="" value='2'> Женский
							</label>
						</div>
					</div>
				</div>

				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4  item reg-startup an'>
					<div class="form-group ">
						<label class="control-label">Информация о проекте</label>
						<textarea type="text" class="form-control" name="startup_descr" placeholder="Напишите кратко в чем суть вашего проекта..."></textarea>
					</div>	    		 
				</div>

				<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 item  reg-stock reg-invest reg-startup an'>
					<h6>Контактная информация</h6>			
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-stock reg-invest reg-startup an'>  
					<div class="form-group">
						<label class="control-label">Мобильный телефон</label>
						<div class="row">
							<div class="col-md-3"><input type="text" class="form-control" name="tel_code" value="+7"></div>
							<div class="col-md-9">
								<input type="tel" class="form-control" name="mobile_phone" placeholder="9267890102" maxlength="10"></div>
						</div>
			  
					</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-stock reg-invest reg-startup an'>  
					<div class="form-group">
						<label class="control-label">Email</label>
						<input type="text" class="form-control" name="email" placeholder='mail@mail.ru'>
					</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-stock reg-invest reg-startup an'>  
					<div class="form-group">
						<label class="control-label">Контактная информация</label>
						<input type="text" class="form-control" name="skype" placeholder='Skype'>
					</div>
				</div>  

				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-stock reg-invest reg-startup an'>  
					<div class="form-group">
						<label class="control-label">Пароль</label>
						<input type="password" class="form-control" name="password" placeholder='Пароль'>
					</div>
				</div>  

				
				
						 
				<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12  item reg-invest an'>
					<h6>Паспортные данные</h6>			
				</div>        
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-invest  an'>  
					<div class="form-group ">
							<label class="control-label">Серия и номер паспорта</label>
							<input type="text" class="form-control"  name="passport" placeholder='1234-55555'>
						</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item reg-invest an'>  
					<div class="form-group">
							<label class="control-label">Дата выдачи паспорта</label>
							<div class="input-group">
								<input type="text" class="form-control datepicker" name="date_of_issue" placeholder='02.01.2012'>
								<span class="input-group-addon">
								  <span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item   reg-invest an'>  
					<div class="form-group ">
						<label class="control-label">Кем выдан</label>
						<input type="text" class="form-control"  name="issued" placeholder='ОВД Центрального р-на г.Москвы'>
					</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item   reg-invest an'>  
					<div class="form-group">
						<label class="control-label">Код подразделения</label>
						<input type="text" class="form-control" name="subdivision_code" placeholder="100-200">
					</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-invest  an'>  
					<div class="form-group">
						<label class="control-label">Место рождения</label>
						<input type="text" class="form-control" name="place_of_birth" placeholder='Москва'>
					</div>
				</div>                
				<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12  item  reg-invest  an'>
					<h6>Адрес постоянной регистрации</h6>		
				</div>        
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-invest  an'>					
					<div class="form-group">
						<label class="control-label">Почтовый индекс</label>
						<input type="text" class="form-control" name="registered_index" placeholder="111001">
						</div>  
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item   reg-invest  an'>  					
					<div class="form-group">
							<label class="control-label">Край/Область/Республика</label>
							<input type="text" class="form-control" name="registered_region" placeholder="МО">
						</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-invest  an'>			
					<div class="form-group">
							<label class="control-label">Город</label>
							<input type="text" class="form-control" name="registered_city" placeholder="Москва">
						</div>  
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-invest  an'>  			
					<div class="form-group ">
							<label class="control-label">Улица</label>
							<input type="text" class="form-control"  name="registered_street" placeholder="Балаклавский проспект">
						</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item   reg-invest an'>  		
					<div class="form-group">
							<label class="control-label">Здание/строение/дом/корпус</label>
							<input type="text" class="form-control"  name="registered_building" placeholder="1">
						</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item   reg-invest  an'>  					
					<div class="form-group ">
							<label class="control-label">Квартира</label>
							<input type="text" class="form-control"  name="registered_apartment" placeholder="2">
						</div>
				</div>    			
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item   reg-invest  an'>  		
					<div class="form-group ">
							<label class="control-label">Дата регистрации</label>
							<div class="input-group">
								<input type="text" class="form-control datepicker" name="registered_date" placeholder="02.03.2011">
								<span class="input-group-addon">
								  <span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
				</div>
{*
				<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12  item  reg-stock reg-invest reg-startup an'>
					<h6>Документы</h6>		
				</div>   
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-stock reg-invest reg-startup an'>  					
					<div class="form-group ">
							<label class="control-label">Презентация проекта</label>
							<input type="file" class="form-control" name="">
					</div>
				</div>    
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-stock reg-invest reg-startup an'>  					
					<div class="form-group ">
							<label class="control-label">Другие документы</label>
							<input type="file" class="form-control" name="">
					</div>
				</div>    
				<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 item  reg-stock reg-invest reg-startup an'>  					
					<div class="form-group ">
							<label class="control-label">Другие документы</label>
							<input type="file" class="form-control" name="">
					</div>
				</div>                  
*}	    			
			</div>		
			
			<div class='row'>
				<div class='col-md-12' >
					<div class="form-group">
						<button type="button" class="btn btn-default btn-big" data-toggle="modal" data-target="#myModal">
							Продолжить
						</button>
					</div>	
				</div>
			</div>
		</form>
		</div>
	</div>
</section>
{/if}