<div class="title-section dark-section text-center parallax">
	<div class="container">
		<p class="tagline">Мы рассматриваем любые заявки и готовы к сотрудничеству</p>
		<h1 class="special-heading center">Поиск стартапов</h1>
	</div>
</div>


<section class="plain-section about-us-home text-center">
	<div class="container">

		<h2 class="special-heading animated-entrance" data-animation="fadeInUp">Какие проекты нам интересны?</h2>
		<div class="row animated-entrance" data-animation="fadeInUp">
    		<div class='col-sm-3  col-md-3 col-lg-3'>  

				<a href="/img/sheme3.jpg" rel="prettyPhoto">
					<img src="/img/sheme3.jpg" alt="Источники финансирования стартапа" class='col-md-12'>
				</a>
            </div>
			<div class="col-sm-9  col-md-9 col-lg-9">		
    	
				<p>Мы занимаемся поиском и финансированием интересных и перспективных проектов в сфере интернет-технологий (IT-сфера). В качестве проектов, привлекательных для финансовой  поддержки, рассматриваются не только стартапы, но и зрелый онлайн-бизнес, дальнейшее развитие которого требует дополнительного финансирования.</p>
				<p>Фонд инвестирует как собственные средства, так и средства, привлеченные от наших участников-инвесторов.</p>
			</div>
		</div>
		<span class="spacer" style="margin-bottom: 20px;"></span>
      
	</div>
</section>
<section class="plain-section services text-center">
			<div class="container">
	
				<h2 class="special-heading" data-animation="fadeInUp" style="opacity: 1;">Чего мы ждем от проекта/идеи?
</h2>
				<div class="row" data-animation="fadeInUp" style="opacity: 1;">
					<div class="col-sm-8 col-sm-offset-2">
						<p class="featp">Учитывая тот факт, что венчурные инвестиции являются одним из самых рискованных инструментов в финансовой сфере и по статистике всего 1-2 из 10 стартапов приносят прибыль и окупают средства, вложенные инвесторами, мы стараемся очень тщательно подходить к выбору кандидатов на финансирование. </p>
                        <p>Мы понимаем, что разработка инновационной идеи - это еще далеко не ключ к успеху проекта. Даже очень хорошая и революционная идея без четкого представления о ее необходимости для конечного потребителя и путях монетизации – изначально обречена на гибель.</p>
					</div>
				</div>
				<div class="row services-row">
					<div class="col-md-6 service-col" data-animation="fadeInLeft" style="opacity: 1;">
						<figure><i class="icon icon-tools"></i></figure>
						<h4>Как происходит процесс получения инвестиций в Фонде Сайбель Финансовое партнерство?
</h4>
						<p class='text-left'><strong>Первый  этап.</strong> Автор проекта/идеи заполняет заявку на финансирование  проекта/стартапа на нашем сайте. По возможности желательно приложить к заявке максимальный объем материала, описывающего проект (подробное описание идеи, бизнес-план, имеющиеся сертификаты/патенты, изображения, ссылки, спецификации и т.д.) </p>
						<p class='text-left'><em>Подробное описание идеи необходимо нам не для того, чтобы украсть Ваш проект или воспользоваться его материалами и наработками, все ключевые моменты идеи, алгоритмы остаются вашей тайной, для нас важно понимать суть продукта, который получится на выходе.</em></p>
						<p class='text-left'><strong>Второй этап.</strong> В случае, если проект показался нам интересным или вызвал дополнительные вопросы, мы связываемся с авторами/разработчиками для уточнения необходимой информации или для назначения встречи с целью обсуждения вариантов финансирования и участия Фонда в проекте.
</p>
						
						{*<a href="#" class="read-more">Read more</a>*}
					</div>
					<div class="col-md-6 service-col" data-animation="fadeInRight" style="opacity: 1;">
						<figure><i class="icon icon-chat"></i></figure>
						<h4>Формы сотрудничества Фонда и стартапа</h4>
						<p>Форму и условия сотрудничества, а также объем инвестирования мы определяем индивидуально с каждым автором/разработчиком:</p>
                        <ul class='text-left'>
                            <li>определяются юридические аспекты сотрудничества: создание компании и распределение долей в ней, назначение директора, управляющих, ответственных лиц, форм отчетности и контроля как в финансовой сфере, так и в организационной.</li>
                            <li>определение объема и условий инвестирования, распределение выделяемых средств согласно срокам этапов выполнения или запуска проекта</li>
                            <li>определение конечных целей и будущих перспектив проекта </li>
                        </ul>


					</div>
				</div>

			</div>
		</section>
<section class="cta-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<p class="featp">Заполните заявку на сайте и получите ответ в течении 24 часов!</p>
					</div>
					<div class="col-md-3">
						<a href="/?p=reg" class="btn btn-white btn-big btn-outline">Подать заявку</a>
					</div>
				</div>
			</div>
		</section>