<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right hidden-xs">
				<code class="mr20"></code>
			</div>
			</div>
		<div class="panel-body pn table-responsive">              
			<table class="table table-striped table-hover sort">
				<thead>
					<tr>
						<th>ID</th>                        
						<th>ID счета</th>
						<th>Value</th>
						<th>Назначение</th>
						<th>Тип перевода</th>
						<th>Метод перевода</th>
						<th>Описание</th>
						<th>Дата создания</th>
						<th>Состояние</th>  
					</tr>
				</thead>
				<tbody>
				{foreach from=$List item=row}
					<tr>
						<td><a href='/?p=account&transaction&bookkeeping&edit&id={$row.id}'>#{$row.id}</a></td>
						<td>{$row.id_account}</td>
						<td>{$row.value}</td>
						<td>{$label.purpose[$row.purpose].title}</td>
						<td>{$label.type_transfer[$row.type_transfer].title}</td>
						<td>{$label.method_transfer[$row.method_transfer].title}</td>
						<td>{$row.reference}</td>
						<td>{$row.date_create|date_format:"%H:%M %d.%m.%y"}</td>
						<td>{$row.vis_text}</td>
					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>