<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right hidden-xs">
				<code class="mr20"></code>
			</div>
			</div>
		<div class="panel-body pn table-responsive">              
			<table class="table table-striped table-hover sort" data-sort=1 data-sortDirect='asc'>
				<thead>
					<tr>
						<th>Время/Дата</th>
						<th>Клиент</th>
						<th>Номер лицевого счета</th>
						<th>Тип счета</th>
						<th>Статус</th>
						<th>Текущий баланс</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$List item=row}
					<tr>
						<td>{$row.date_create|date_format:"%H:%M %d/%m/%y"}</td>
						<td><a href='/?p=client&edit&id={$row.id_user}'>{$row.fio}</a></td>
						<td><a href='/?p=account&edit&id={$row.id}'>{$row.full_account}</a>&nbsp;</td>
						<td>{$row.title}</td>
						<td>{$row.vis_text}</td>
						<td>{$row.value|number_format:2:".":"&nbsp;"} <span class='fa fa-rub'></span></td>
						<td><a href='/?p=account&history&id={$row.id}' class='btn btn-primary btn-xs'>История</a></td>
					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>