<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right hidden-xs">
				<code class="mr20"></code>
			</div>
			</div>
		<div class="panel-body pn table-responsive">              
			<table class="table table-striped table-hover sort">
				<thead>
					<tr>
						<th>Время/Дата</th>
						<th>Сумма</th>
						<th>Состояние счета</th>
						<th>Тип операции</th>
						<th>Описание</th>

					</tr>
				</thead>
				<tbody>
				{foreach from=$List item=row}
					<tr>
						<td>{$row.date_create|date_format:"%H:%M %d/%m/%y"}</td>

						<td>{$row.value}</td>
						<td>{$row.account_value}</td>                                                
						<td>{$row.vis_text}</td>
						<td>{$row.trans_descr}</td>

					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>