<section id="content" class="">
	<div class="row mt30">
		
	  <div class="col-md-9">

		<div class="panel br-t bw5 br-grey">

		  <div class="panel-body pn">
			<div class="p25 br-b">
			  <h2 class="fw200 mb20 mt10">{if isset($GET.id)} Просмотр заявки #{$GET.id} {else} Заявка на регистрацию акций на биржу{/if}</h2>
			  <div class="input-group input-hero mb30 hidden">
				<span class="input-group-addon">
				  <i class="fa fa-search"></i>
				</span>
				<input type="text" id="icon-filter" class="form-control" placeholder="Search FAQ's...">
			  </div>
			</div>
<form name="form" method="post" action=''>
			<div class="table-layout p25 br-t bg-light">
				<div class="col-md-12 va-m">
					<h4 class="text-muted pl5 mt20 mb20"> Юридическая информация о компании</h4>
					 <div class="admin-form">
						 
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-3 ">Компания</label>
						<div class="col-md-9">      
							<label class="field select">
								<select  name="id_project" data-edit=0>
									<option>Выберите компанию</option>
									{foreach from=$Project item=row}
									<option value='{$row.id}' {if $row.id==$order_info.id_project}selected="selected"{/if}>{$row.id} # {$row.title}</option>
									{/foreach}
								</select>
								<i class="arrow double"></i>
							</label>
						</div>
					</div>
					
					
					
					<div class="section row mb10 hidden">
						<label for="account-name" class="field-label col-md-9 ">Размер доли участия в уставном капитале (в процентах) </label>
						<div class="col-md-3">      
							<input type="text" name="capital_in_percent" class="gui-input post" value="{$order_info.capital_in_percent}" data-edit=0>
						</div>
					</div>
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-9">Размер доли участия в уставном капитале (в акциях)</label>
						<div class="col-md-3">
							<input type="text" name="capital_in_stock" class="gui-input post" value="{$order_info.capital_in_stock}" data-edit=0>
						</div>
					</div>
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-9 ">Номинал акций уставного капитала</label>
						<div class="col-md-3">
							<input type="text" name="value_of_stock" class="gui-input post" value="{$order_info.value_of_stock}" data-edit=0>         
						</div>
					</div>
					<div class="section row mb10 hidden">
						<label for="account-name" class="field-label col-md-6 ">Размер доли для продажи на бирже (в процентах и акциях)</label>
						<div class="col-md-6">
							<div class='row'>
								<div class='col-md-6'><input type="text" name="to_market_in_percent" class="gui-input post " value="{$order_info.to_market_in_percent}" data-edit=0>   </div> 
								<div class='col-md-6'><input type="text" name="to_market_in_amount" class="gui-input post " value='{($order_info.value_of_stock*$order_info.capital_in_stock)|number_format:2:".":"&nbsp;"}'>   </div>
							</div>   
						</div>
					</div>
					<div class="section row mb10 hidden">
						<label for="account-name" class="field-label col-md-4 ">Дата выпуска на биржу</label>
						<div class="col-md-8">
							<input type="text" name="date_start" class="gui-input post datepicker" value="{$order_info.date_start}" data-edit=0>         
						</div>
					</div>                                                                                                              
				</div>
			</div>
			  
			</div>
			<div class="p25 br-t">
			  <h4 class="text-muted mb20 mtn">Информация об акции на биржу</h4>
				<div class="admin-form"> 
																
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Название акций</label>
						<div class="col-md-9">
							<input type="text" name="bonds_title" class="gui-input post" value="{$order_info.bonds_title}" data-edit=0>         
						</div>
					</div>      
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Описание акций</label>
						<div class="col-md-9">
							<input type="text" name="bonds_descr" class="gui-input post" value="{$order_info.bonds_descr}" data-edit=0>         
						</div>
					</div>                        
					<div class="section row mb10">
						<label class="field-label col-md-5 ">Короткое название для биржи</label>
						<div class="col-md-7">
							<input type="text" name="short_name" class="gui-input post" value="{$order_info.short_name}" data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10  col-md-6">
						<label class="field-label col-md-8 ">Префикс номера акции</label>
						<div class="col-md-4">
							<input type="text" name="prefix_begin" class="gui-input post" value="{$order_info.prefix_begin}" data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10  col-md-6">
						<label class="field-label col-md-8 ">Суфикс номера акции</label>
						<div class="col-md-4">
							<input type="text" name="prefix_end" class="gui-input post" value="{$order_info.prefix_end}" data-edit=0>         
						</div>
					</div>  
<!--{*  Выключили дивиденды на время
			  
					<div class="section row mb10">
						<label class="field-label col-md-8 ">Начислять дивиденды</label>
						<div class="col-md-4">
							{*<input type="text" name="" class="gui-input post" value="{$order_info.}"> *}
							
							<label class="switch ib switch-primary pull-left input-align mt10">
								<input type="checkbox" name="is_dividend" id="dividends" value='0' data-edit=0>
								<label for="dividends" data-on="Да" data-off="Нет"></label>
							</label>        
						</div>
					</div>  
					<div class="section row mb10 dividend">
						<label class="field-label col-md-8 ">Проценты дивидендов</label>
						<div class="col-md-4">
							<input type="text" name="dividend_percent" class="gui-input post" value="{$order_info.dividend_percent}" data-edit=0>         
						</div>
					</div>  
					
					<div class="section row mb10 dividend">
						<label class="field-label col-md-8 ">Переодичность выплат (30,90 дн)</label>
						<div class="col-md-4">
							<input type="text" name="dividend_payday" class="gui-input post" value="{$order_info.dividend_payday}" data-edit=0>         
						</div>
					</div>        
*}-->                
				</div>   
			</div>

		<input name='command' type="hidden" value="{if isset($_GET['id'])}save{else}create{/if}" data-edit=1>   
</form>
		  </div>
		</div>
	  </div>

	  <!-- FAQ Right Column -->
	  <div class="col-md-3">

		<div class="mb15">
			<button type="button" class="btn btn-success light pv10 fw600  mb10" onclick="history.back(); return false;"><span class='fa fa-arrow-left'></span> Вернуться</button>
			{if !isset($smarty.get.id)}
				<button type="button" class="order_click btn btn-primary pv10 fw600 mb10"  data-command='create'><span class='fa fa-plus'></span> Создать</button> 
			{else}
				 {if $order_info.vis==2 || $order_info.vis==0}<button type="button" class="order_click light btn btn-primary pv10 fw600  mb10"   data-command='save'><span class='fa fa-save'></span> Сохранить</button>{/if} 
				{if $order_info.vis==2}<button type="button" class="order_click dark btn btn-primary pv10 fw600 mb10"  data-command='approve'><span class='fa fa-check'></span> Подтвердить</button>{/if}
				{if $order_info.vis==2}<button type="button" class="order_click btn btn-danger light pv10 fw600 mb10"  data-command='cancel'><span class='fa fa-ban'></span> Удалить</button>{/if}
			{/if}
			
		</div>

		<div class="panel mb10 hidden">
			<div class="panel-heading">
				<span class="panel-icon">
					<i class="fa fa-users"></i>
				</span>
				<span class="panel-title"> Бенефициары проекта</span>
			</div>
			<div class="panel-body text-muted p10">
				
				<ul class="list-unstyled {if $smarty.foreach.foo.index>0}br-t pt10{/if}">
					<li>Имя: <strong class="text-dark"> {$row.name}</strong> <a href='/?p=projects&edit&beneficiary&id={$row.id}' class='text-right '><span class='fa fa-edit'></span></a></li>
					<li>Кол-во акций: {$row.capital_in_percent}</li>
					<li>Статус: {$row.vis_text}</li>
				</ul>

<a href='/?p=projects&new&beneficiary' class='btn btn-primary'>Добавить бенефициара</a>

			</div>
			<div class="panel-footer text-muted p10"></div>
		</div>
	</div>
</div>          
</section>