{if !isset($GET.beneficiary)}
<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right ">
				<a href='/?p={$GET.p}&new' class='btn btn-primary btn-sm'>Добавить заявку</a>
			</div>
			</div>
		<div class="panel-body pn table-responsive">              
			<table class="table table-striped table-hover sort" data-sort=1 data-sortDirect='asc'>
				<thead>
					<tr>
						<th width=100>Время/Дата</th>
						<th width=100>Номер заявки</th>
						<th>Компания</th>
						<th>Кол-во акций</th>
						<th>Статус</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$BondsOrderList item=row}
					<tr>
						<td>{$row.date_create|date_format:"%H:%M %d/%m/%y"}</td>
						<td><a href='/?p={$GET.p}&edit&id={$row.id}'>{$row.id}</a></td>
						<td>{$row.project_title}</td>
						<td>{$row.capital_in_stock}</td>
						<td><a href='/?p={$GET.p}&table&vis={$row.vis}'>{$row.vis_text}</a></td>
					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>
{else}
<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right ">
				<a href='/?p={$GET.p}&beneficiary{if isset($GET.registration)}&registration{/if}&new' class='btn btn-primary btn-sm'>Добавить заявку</a>
			</div>
			</div>
		<div class="panel-body pn table-responsive">              
			<table class="table table-striped table-hover sort"  data-sort=1>
				<thead>
					<tr>
						<th width=100>Время/Дата</th>
						<th width=100>Номер заявки</th>
						<th>Компания</th>
						<th>Бенефициар</th>
						<th>Кол-во акций</th>
						<th>Статус</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$BeneficiaryBondOrderList item=row}
					<tr>
						<td>{$row.date_create|date_format:"%H:%M %d/%m/%y"}</td>
						<td><a href='/?p={$GET.p}&edit&beneficiary{if $row.is_registration==1}&registration{/if}&id={$row.id}'>{$row.id}</a></td>
						<td>{$row.title}</td>
						<td>{$row.surname} {$row.name}</td>
						<td>{$row.to_market_in_amount}</td>
						<td><a href='/?p={$GET.p}&table{if isset($GET.beneficiary)}&beneficiary{/if}{if isset($GET.registration)}&registration{/if}&vis={$row.vis}'>{$row.vis_text}</a></td>
					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>
{/if}