<section id="content" class="">
	<div class="row mt30">
		<div class="col-md-9">
			<div class="panel br-t bw5 br-grey">
				<div class="panel-body pn">
					<div class="p25 br-b">
						<h2 class="fw200 mb20 mt10">
							{if isset($GET.registration)}Регистрация акций в собственность{else}Продажа акций на биржу{/if}.
							{if isset($smarty.get.id)}Просмотр заявки #{$GET.id}{/if}
                        </h2>
						<div class="input-group input-hero mb30 hidden">
							<span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
							<input type="text" id="icon-filter" class="form-control" placeholder="Search FAQ's...">
						</div>
					</div>
					<form name="form" method="post" action=''>

						<input type="hidden" name="cancel_reason" data-edit=0>
						<input type="hidden" name="is_cancel" value=0 data-edit=0>
						{if $order_info.is_cancel==1 || $order_info.vis==0}
						<div class="col-md-12 va-m">
							<div class="alert alert-danger alert-dismissable">
								<i class="fa fa-remove pr10"></i>
								<strong>Удалено по причине:</strong> {if $order_info.cancel_reason!=''}{$order_info.cancel_reason}{else} Причина не указана{/if}
							</div>
						</div>
						{/if}
						<div class="table-layout p25 br-t bg-light">
							<div class="col-md-12 va-m">
								<h4 class="text-muted pl5 mt20 mb20 hidden"> Юридическая информация о компании</h4>
								<div class="admin-form">
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-3 ">Проект</label>
										<div class="col-md-9">
											<label class="field select">
												<select name="id_project" data-edit=0>
													<option value=0>Выберите проект</option>
													{if isset($GET.new)} {foreach from=$Project item=row}
													<option value='{$row.id}' {if $row.id==$Bonds_order.id_project}selected="selected" {/if}>{$row.id} # {$row.title}</option>
													{/foreach} {else}
													<option value='{$order_info.id_project}' selected="">{$order_info.project_title}</option>
													{/if}
												</select>
												<i class="arrow double"></i>
											</label>
										</div>
									</div>
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-3 ">Акции на продажу</label>
										<div class="col-md-9">
											<label class="field select">
												<select name="id_bond_name" data-edit=0>
													<option>Выберите акции</option>
													{if isset($GET.new)} {foreach from=$bond_name_list item=row}
													<option value='{$row.id}' {if $row.id==$Bonds_order.id_project}selected="selected" {/if}>{$row.id} # {$row.title}</option>
													{/foreach} {else}
													<option value='{$order_info.id_bond_name}' selected="">{$order_info.bond_title}</option>
													{/if}
												</select>
												<i class="arrow double"></i>
											</label>
										</div>
									</div>
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-3 ">Бенефициар</label>
										<div class="col-md-9">
											<label class="field select">
												<select name="id_beneficiary" data-edit=0>
													<option>Выберите бенефициара</option>
													{if isset($GET.new)} {foreach from=$beneficiary_list item=row}
													<option value='{$row.id}' {if $row.id==$Bonds_order.id_project}selected="selected" {/if}>{$row.id} # {$row.fio}</option>
													{/foreach} {else}
													<option value='{$order_info.id_beneficiary}' selected="">{$order_info.beneficiary_name}</option>
													{/if}
												</select>
												<i class="arrow double"></i>
											</label>
										</div>
									</div>

{*//---*}
								<div class="section row mb10 {if !isset($GET.registration) || $order_info.id_open_position==0 && !isset($GET.new)} hidden {/if}">
									<label for="account-name" class="field-label col-md-3 ">Открытые позиции</label>
									<div class="col-md-9">
										<label class="field select">
											<select name="id_open_position" data-edit=0>
												<option>Выберите открытые позиции</option>
												{if !isset($GET.new)}
												<option value='{$order_info.id_open_position}' selected="">{$order_info.id_open_position}</option>
												{/if}
											</select>
											<i class="arrow double"></i>
										</label>
									</div>
								</div>
{*//---*}


								{if !isset($GET.registration)}
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-9 ">Размер доли участия в уставном капитале (в процентах) </label>
										<div class="col-md-3">
											<div class="input-group">
												<input type="text" name="capital_in_percent" class="form-control post" value="{$order_info.capital_in_percent}" data-edit=0>
												<span class="input-group-addon">%</span>
											</div>
										</div>
									</div>
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-9">Размер доли участия в уставном капитале (в акциях)</label>
										<div class="col-md-3">
											<input type="text" name="capital_in_stock" class="gui-input post" value="{$order_info.capital_in_stock}" data-edit=0>
										</div>
									</div>
								{/if}	
									
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-9 ">Номинал акций уставного капитала</label>
										<div class="col-md-3">
											<input type="text" name="value_of_stock" class="gui-input post" value="{$order_info.value_of_stock}" data-edit=1>
										</div>
									</div>
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-6 ">Размер доли для продажи на бирже (в процентах и акциях)</label>
										<div class="col-md-6">
											<div class='row'>
    											{if !isset($GET.registration)}
												<div class='col-md-6'>
													<div class="input-group">
														<input type="text" name="to_market_in_percent" class="gui-input post " value="{(($order_info.to_market_in_amount/$order_info.capital_in_stock)*100)|number_format:2}" data-edit=0>
														<span class="input-group-addon">%</span>
													</div>
												</div>
												{/if}
												<div class='col-md-{if !isset($GET.registration)}6{else}12{/if}'>
													<div class="input-group">
														<input type="text" name="to_market_in_amount" class="gui-input post " value='{$order_info.to_market_in_amount}'>
														<span class="input-group-addon">шт.</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-4 ">Дата выполнения заявки</label>
										<div class="col-md-8">
											<div class="input-group">
												<input type="text" name="date_start" class="gui-input post datepicker" value='{$order_info.date_start|date_format:"%Y-%m-%d"}' data-edit=0>
												<span class="input-group-addon"><span class='fa fa-calendar'></span></span>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<input name='is_registration' type="hidden" value="{if isset($order_info)}{$order_info.is_registration}{else}{if isset($GET.registration)}1{else}0{/if}{/if}" data-edit="1">
						<input name='command' type="hidden" data-edit=1> {* data-edit=1 Должна стоять единица иначе команда не будет выполнена*}
					</form>
				</div>
			</div>
		</div>

		<!-- FAQ Right Column -->
		<div class="col-md-3">

			<div class="mb15">
				<a href='/?p={$GET.p}&beneficiary{if isset($GET.registration)}&registration{/if}&table' class="btn btn-success light pv10 fw600  mb10"><span class='fa fa-arrow-left'></span> Вернуться</a> {if !isset($smarty.get.id)}
				<button type="button" class="order_click btn btn-primary pv10 fw600 mb10" data-command='create'><span class='fa fa-plus'></span> Создать</button>
				{else} {if $order_info.vis==2}
				<button type="button" class="order_click light btn btn-primary pv10 fw600  mb10" data-command='save'><span class='fa fa-save'></span> Сохранить</button> {/if} {if $order_info.vis==2}
				<button type="button" class="order_click dark btn btn-primary pv10 fw600 mb10" data-command='approve'><span class='fa fa-check'></span> Подтвердить</button>{/if} {if $order_info.vis==2}
				<button type="button" class="order_click btn btn-danger light pv10 fw600 mb10" data-command='cancel'><span class='fa fa-ban'></span> Удалить</button>{/if} {/if}

			</div>

			<div class="panel mb10 hidden">
				<div class="panel-heading">
					<span class="panel-icon">
                    <i class="fa fa-users"></i>
                </span>
					<span class="panel-title"> Бенефициары проекта</span>
				</div>
				<div class="panel-body text-muted p10">

					<ul class="list-unstyled {if $smarty.foreach.foo.index>0}br-t pt10{/if}">
						<li>Имя: <strong class="text-dark"> {$row.name}</strong> <a href='/?p=projects&edit&beneficiary&id={$row.id}' class='text-right '><span class='fa fa-edit'></span></a></li>
						<li>Кол-во акций: {$row.capital_in_percent}</li>
						<li>Статус: {$row.vis_text}</li>
					</ul>

					<a href='/?p=projects&new&beneficiary' class='btn btn-primary'>Добавить бенефициара</a>

				</div>
				<div class="panel-footer text-muted p10"></div>
			</div>
		</div>
	</div>
</section>