<style>
#content .field-label{
	line-height: 16px;
}
</style>
<section id="content" class="">
	<div class="row mt30">
	  <div class="col-md-8">
		<div class="panel br-t bw5 br-grey">
			<div class="panel-body pn"><form name="form" method="post" action=''>
				<div class="p25 br-b">
					<h2 class="fw200 mb20 mt10 pull-right">
						<div class="switch switch-info round switch-inline pull-right">
							<input type='hidden' name='is_beneficiary' data-edit=0>
							<input id="is_beneficiary" name='file'data-field='is_beneficiary' type="checkbox" {if $order_info.is_beneficiary==1}checked=""{/if}  data-edit=0 value='{$order_info.is_beneficiary}'>
							<label for="is_beneficiary"></label>
						</div> 
						<span class='glyphicons glyphicons-vcard mr5 text-muted' title='Изменить положение, чтобы отменить или сделать анкету доступной для бенефициарского списка'></span>
					</h2>
				  <h2 class="fw200 mb20 mt10">{if empty($order_info.name) || empty($order_info.surname)}Регистрация клиента {else}{$order_info.name} {$order_info.surname}{/if}</h2>
				  <div class="input-group input-hero mb30 hidden">
					<span class="input-group-addon">
					  <i class="fa fa-search"></i>
					</span>
					<input type="text" id="icon-filter" class="form-control" placeholder="Search FAQ's...">
				  </div>
				  
			</div>

			<div class="p25 br-t">
				<div class="col-md-12 va-m">
					<div class="admin-form">
						<div class="section row mb10">
							<div class="col-md-12 text-center">  
								<div class="btn-group">
									<input type="hidden" name="is_legal" value="{$order_info.is_legal}" data-edit=0> 

									<button type="button" class="button_is_legal btn btn-system {if $order_info.is_legal==1}light{else}dark{/if}" data-value=0>
										<i class="fa fa-user"></i> Физическое лицо
									</button>
									<button type="button" class="button_is_legal btn btn-system {if $order_info.is_legal!=1}light{else}dark{/if}" data-value=1>
										<i class="fa fa-briefcase"></i> Юридическое лицо
									</button>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
<span class='is_legal'>
					<div class="table-layout p25 br-t bg-light">
					<div class="col-md-12 va-m">
						<h4 class="text-muted pl5 mt20 mb20"> Юридическая информация о компании</h4>
						<div class="admin-form">
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Название</label>
								<div class="col-md-9">
									<input type="text" name="title" class="gui-input post" value="{$order_info.title}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Организационно-правовая форма</label>
								<div class="col-md-9">
									<input type="text" name="legal" class="gui-input post" value="{$order_info.legal}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">ИНН/КПП</label>
								<div class="col-md-9">
									<input type="text" name="inn" class="gui-input post" value="{$order_info.inn}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">ОГРН</label>
								<div class="col-md-9">
									<input type="text" name="bin" class="gui-input post" value="{$order_info.bin}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">ОКПО/ОКАТО/ОКФС/ОКВЭД/ОКОПФ/ОКОГУ</label>
								<div class="col-md-9">
									<input type="text" name="okpo_etc" class="gui-input post" value="{$order_info.okpo_etc}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">ОКПО</label>
								<div class="col-md-9">
									<input type="text" name="okpo" class="gui-input post" value="{$order_info.okpo}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Юридический адрес</label>
								<div class="col-md-9">
									<input type="text" name="legal_address" class="gui-input post" value="{$order_info.legal_address}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Фактический адрес</label>
								<div class="col-md-9">
									<input type="text" name="actual_address" class="gui-input post" value="{$order_info.actual_address}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Структура органов управления</label>
								<div class="col-md-9">
									<input type="text" name="management_structure" class="gui-input post" value="{$order_info.management_structure}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Сфера деятельности</label>
								<div class="col-md-9">
									<input type="text" name="field" class="gui-input post" value="{$order_info.field}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Система налогообложения</label>
								<div class="col-md-9">
									<input type="text" name="tax_system" class="gui-input post" value="{$order_info.tax_system}" data-edit=0>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="p25 br-t">
					<h4 class="text-muted mb20 mtn"> Внутренняя информация о компании </h4>
					<div class="admin-form">

						<div class="section row mb10">
							<label class="field-label col-md-3 ">Величина уставного капитала</label>
							<div class="col-md-9">
								<input type="text" name="authorized_capital" class="gui-input post" value="{$order_info.authorized_capital}" data-edit=0>
							</div>
						</div>
						<div class="section row mb10">
							<label class="field-label col-md-3 ">Численность персонала</label>
							<div class="col-md-9">
								<input type="text" name="staff_number" class="gui-input post" value="{$order_info.staff_number}" data-edit=0>
							</div>
						</div>

					</div>
				</div>
</span>
<span class='is_no_legal'>

			<div class="table-layout p25 br-t bg-light">
				<div class="col-md-12 va-m">
					<h4 class="text-muted pl5 mt20 mb20"> Персональная информация </h4>
					<div class="admin-form">
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-3 ">Клиент</label>
						<div class="col-md-9">      
							<label class="field select">
								<select  name="type_registration" data-edit=0 required>
									<option>Тип регистрации</option>
									<option>-----------------------</option>
									<option value='reg-stock' {if 'reg-stock'==$order_info.type_registration}selected="selected"{/if}>Регистрация биржи</option>
								   
									<option value='reg-invest' {if 'reg-invest'==$order_info.type_registration}selected="selected"{/if}>Регистрация инвестиций</option>
								   
									<option value='reg-startup' {if 'reg-startup'==$order_info.type_registration}selected="selected"{/if}>Регистрация для стартапа</option>
																
								</select>
								<i class="arrow double"></i>
							</label>
						</div>
					</div>    
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-3 ">Фамилия</label>
						<div class="col-md-9">      
							<input type="text" name="surname" class="gui-input" value="{$order_info.surname}" data-edit=0>
						</div>
					</div>
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-3 ">Имя</label>
						<div class="col-md-9">
							<input type="text" name="name" class="gui-input" value="{$order_info.name}" data-edit=0>
						</div>
					</div>
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-3 ">Отчество</label>
						<div class="col-md-9">
							<input type="text" name="middle_name" class="gui-input" value="{$order_info.middle_name}" data-edit=0>         
						</div>
					</div>
					<div class="section row mb10">
						<label for="date_of_birth" class="field-label col-md-3 ">Дата рождения:</label>
						<div class="col-md-9">
							<label for="date_of_birth" class="field prepend-icon">
								<input type="text" name="date_of_birth" class="gui-input  datepicker" id='date_of_birth' value="{$order_info.date_of_birth|date_format:'%d.%m.%Y'}" placeholder=""  data-edit=0>
								<label for="date_of_birth" class="field-icon">
									<i class="fa fa-calendar"></i>
								</label>
							</label>
						</div>
					</div>
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-3 ">Пол</label>
						<div class="col-md-9">   							
							<label class="field option">
							  <input type="radio" name="sex" value='1' {if $order_info.sex==1}checked=""{/if}  data-edit=0>
							  <span class="radio"></span>Мужской</label>
							<label class="field option">
							  <input type="radio" name="sex" value='2'  {if $order_info.sex==2}checked=""{/if}  data-edit=0>
							  <span class="radio"></span>Женский</label>
						</div>    		
					</div>   
				</div>
			</div>
			</div>
			<div class="p25 br-t">
				<h4 class="text-muted mb20 mtn"> Паспортные данные </h4>
				<div class="admin-form"> 
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Номер паспорта</label>
						<div class="col-md-9">
							<input type="text" name="passport" class="gui-input" value="{$order_info.passport}"  data-edit=0>          
						</div>
					</div>      
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Кем выдан</label>
						<div class="col-md-9">
							<input type="text" name="issued" class="gui-input" value="{$order_info.issued}"  data-edit=0>         
						</div>
					</div>                          
					<div class="section row mb10">
					<label class="field-label col-md-3 ">Дата выдачи</label>
						<div class="col-md-9">      
							<label for="date_of_issue" class="field prepend-icon">
								
								<input type="text" name="date_of_issue" class="gui-input datepicker" value="{$order_info.date_of_issue|date_format:'%d.%m.%Y'}"  data-edit=0>   
								<label for="date_of_issue" class="field-icon">
									<i class="fa fa-calendar"></i>
								</label>  
							</label>     
						</div>
						
					</div>                          
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Код подразделения</label>
						<div class="col-md-9">
							<input type="text" name="subdivision_code" class="gui-input" value="{$order_info.subdivision_code}"  data-edit=0>         
						</div>
					</div>                          
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Место рождения</label>
						<div class="col-md-9">
							<input type="text" name="place_of_birth" class="gui-input" value="{$order_info.place_of_birth}"  data-edit=0>         
						</div>
					</div>  
				</div>   
			</div>
			<div class="table-layout p25 br-t bg-light">
				<div class="col-md-12">
				<h4 class="text-muted pl5 mt20 mb20"> Адрес проживания </h4>
				<div class="admin-form">   
					<h5>Адрес по месту постоянной регистрации</h5>                                                                        
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Индекс</label>
						<div class="col-md-9">
							<input type="text" name="registered_index" class="gui-input" value="{$order_info.registered_index}"  data-edit=0>         
						</div>
					</div>      
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Регион</label>
						<div class="col-md-9">
							<input type="text" name="registered_region" class="gui-input" value="{$order_info.registered_region}"  data-edit=0>         
						</div>
					</div>                          
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Район</label>
						<div class="col-md-9">
							<input type="text" name="registered_locality" class="gui-input" value="{$order_info.registered_locality}"  data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Населенный пункт или город</label>
						<div class="col-md-9">
							<input type="text" name="registered_city" class="gui-input" value="{$order_info.registered_city}"  data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10">
						<label class="field-label col-md-3">Улица</label>
						<div class="col-md-9">
							<input type="text" name="registered_street" class="gui-input" value="{$order_info.registered_street}"  data-edit=0>         
						</div>
					</div>  
					
					<div class='col-md-6'>
						<div class='section'>
							<label class="field-label col-md-5">Дом</label>
							<div class="col-md-7">
								<input type="text" name="registered_home" class="gui-input" value="{$order_info.registered_home}"  data-edit=0>         
							</div>
						</div>
					</div>
					<div class="section row mb10  col-md-6">
						<label class="field-label col-md-5">Корпус</label>
						<div class="col-md-7">
							<input type="text" name="registered_housing" class="gui-input" value="{$order_info.registered_housing}"  data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10 col-md-6">
						<label class="field-label col-md-5">Строение</label>
						<div class="col-md-7">
							<input type="text" name="registered_building" class="gui-input" value="{$order_info.registered_building}"  data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10 col-md-6">
						<label class="field-label col-md-5 ">Квартира</label>
						<div class="col-md-7">
							<input type="text" name="registered_apartment" class="gui-input" value="{$order_info.registered_apartment}"  data-edit=0>         
						</div>
					</div>  
				
					<div class="section row mb10">
						<label class="field-label col-md-3">Дата регистрации</label>
						<div class="col-md-9">
							<label for="registered_date" class="field prepend-icon">
								<input type="text" name="registered_date" class="gui-input datepicker"  value="{$order_info.registered_date|date_format:'%d.%m.%Y'}"  data-edit=0>       
								<label for="registered_date" class="field-icon">
									<i class="fa fa-calendar"></i>
								</label>
							</label>
				
						</div>
					</div>  

					<div class="section row mb10">
						<label class="field-label col-md-3">Номер домашнего телефона</label>
						<div class="col-md-9">
							<input type="text" name="home_phone" class="gui-input" value="{$order_info.home_phone}"  data-edit=0>         
						</div>
					</div>                          

					<h5>Адрес по месту проживания</h5>                                                                        
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Индекс</label>
						<div class="col-md-9">
							<input type="text" name="residence_index" class="gui-input" value="{$order_info.residence_index}"  data-edit=0>         
						</div>
					</div>      
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Регион</label>
						<div class="col-md-9">
							<input type="text" name="residence_region" class="gui-input" value="{$order_info.residence_region}"  data-edit=0>         
						</div>
					</div>                          
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Район</label>
						<div class="col-md-9">
							<input type="text" name="residence_locality" class="gui-input" value="{$order_info.residence_locality}"  data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Населенный пункт или город</label>
						<div class="col-md-9">
							<input type="text" name="residence_city" class="gui-input" value="{$order_info.residence_city}"  data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10">
						<label class="field-label col-md-3">Улица</label>
						<div class="col-md-9">
							<input type="text" name="residence_street" class="gui-input" value="{$order_info.residence_street}"  data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10 col-md-6">
						<label class="field-label col-md-3">Дом</label>
						<div class="col-md-9"> 
							<input type="text" name="residence_home" class="gui-input" value="{$order_info.residence_home}" data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10  col-md-6">
						<label class="field-label col-md-5">Корпус</label>
						<div class="col-md-7">
							<input type="text" name="residence_housing" class="gui-input" value="{$order_info.residence_housing}" data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10  col-md-5">
						<label class="field-label col-md-3">Строение</label>
						<div class="col-md-7">
							<input type="text" name="residence_building" class="gui-input" value="{$order_info.residence_building}" data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10  col-md-6">
						<label class="field-label col-md-5 ">Квартира</label>
						<div class="col-md-7">
							<input type="text" name="residence_apartment" class="gui-input" value="{$order_info.residence_apartment}" data-edit=0>         
						</div>
					</div>  
					<div class="section row mb10">
						<label class="field-label col-md-3">Дата регистрация</label>
						<div class="col-md-9">
							<label for="residence_date" class="field prepend-icon">
							<input type="text" name="residence_date" class="gui-input datepicker" value='{$order_info.residence_date|date_format:"%d.%m.%Y"}'  data-edit=0>   
							<label for="residence_date" class="field-icon">
								<i class="fa fa-calendar"></i>
							</label>
							</label>
					
						</div>
					</div>  
				</div>   
			</div>
			</div>

			<div class="p25 br-t">
			  <h4 class="text-muted mb20 mtn">Документы профиля</h4>
				<div class="admin-form"> 
					{$name='id_files_passport'}{$id_file=$order_info.id_files_passport} {$title_file=$order_info.id_files_passport_title} {$title_doc='Скан паспорта'}                                            
					<div class="section row mb10">
						<input type="hidden" name="{$name}"  data-edit=0 value='{$id_file}'>
						<label class="field-label col-md-3 ">{$title_doc}</label>
						<div class="col-md-9 section ">
							<label class="field prepend-icon file">
							<span class="button btn-primary">Выбрать файл</span>
							<input type="file" class="gui-file fileUpload" data-field='{$name}' name="file[]" onchange="document.getElementById('{$name}').value = this.value;">
							<input type="text" class="gui-input" id="{$name}" placeholder="{if $id_file!='0'}{$title_file}{else}Загрузите документ{/if}" >
							<label class="field-icon">
							  <i class="fa fa-upload"></i>
							</label>
						  </label>          
						</div>
					</div>    
					{$name='id_files_second_doc'}{$id_file=$order_info.id_files_second_doc}  {$title_file=$order_info.id_files_second_doc_title} {$title_doc='Второй документ'}                                            
					<div class="section row mb10">
						<input type="hidden" name="{$name}"  data-edit=0 value='{$id_file}'>
						<label class="field-label col-md-3 ">{$title_doc}</label>
						<div class="col-md-9 section ">
							<label class="field prepend-icon file">
							<span class="button btn-primary">Выбрать файл</span>
							<input type="file" class="gui-file fileUpload" data-field='{$name}' name="file[]" onchange="document.getElementById('{$name}').value = this.value;">
							<input type="text" class="gui-input" id="{$name}" placeholder="{if $id_file!='0'}{$title_file}{else}Загрузите документ{/if}" >
							<label class="field-icon">
							  <i class="fa fa-upload"></i>
							</label>
						  </label>          
						</div>
					</div> 
					
				
				</div>   
			</div>
	 
</span>
			<a name="withdrawal"></a>  
			<div class="p25 br-t">
			  <h4 class="text-muted mb20 mtn"> Информация для вывода средств </h4>
				<div class="admin-form">

					<div class="section row mb10">
						<label class="field-label col-md-3">Наименование банка получателя</label>
						<div class="col-md-9">
							<input type="text" name="cash_bank" class="gui-input" value="{$order_info.cash_bank}"  data-edit=0>         
						</div>
					</div> 

					<div class="section row mb10">
						<label class="field-label col-md-3 ">Адрес банка</label>
						<div class="col-md-9 section">
							<textarea name="cash_bank_add" cols=5 rows=10 data-edit=0 class=' gui-input' placeholder="">{$order_info.cash_bank_add}</textarea>         
						</div>
					</div> 

					<div class="section row mb10">
						<label class="field-label col-md-3">ИНН банка</label>
						<div class="col-md-9">
							<input type="text" name="cash_bank_inn" class="gui-input" value="{$order_info.cash_bank_inn}"  data-edit=0>         
						</div>
					</div>  

					<div class="section row mb10">
						<label class="field-label col-md-3">БИК банка</label>
						<div class="col-md-9">
							<input type="text" name="cash_bank_bik" class="gui-input" value="{$order_info.cash_bank_bik}"  data-edit=0>         
						</div>
					</div>  

					<div class="section row mb10">
						<label class="field-label col-md-3">Корр/счет банка получателя</label>
						<div class="col-md-9">
							<input type="text" name="cash_bank_corr" class="gui-input" value="{$order_info.cash_bank_corr}"  data-edit=0>         
						</div>
					</div>  


					<div class="section row mb10">
						<label class="field-label col-md-3">Расчетный счет получателя платежа</label>
						<div class="col-md-9">
							<input type="text" name="cash_bank_acc" class="gui-input" value="{$order_info.cash_bank_acc}"  data-edit=0>         
						</div>
					</div>  


					<div class="section row mb10">
						<label class="field-label col-md-3">Получатель</label>
						<div class="col-md-9">
							<input type="text" name="cash_recipient" class="gui-input" value="{$order_info.cash_recipient}"  data-edit=0>         
						</div>
					</div>  

					<div class="section row mb10">
						<label class="field-label col-md-3 ">Назначение платежа</label>
						<div class="col-md-9 section">
							<textarea name="cash_purpose" cols=5 rows=10 data-edit=0 class=' gui-input' placeholder="Пополнение расчетного счета Ф.И.О./счета карты №xxxx xxxx xxxx xxxx Ф.И.О.">{$order_info.cash_purpose}</textarea>         
						</div>
					</div>  

					<span class='is_legal'>
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Юридический адрес получателя</label>
						<div class="col-md-9 section">
							<textarea name="cash_legal_add" cols=5 rows=10 data-edit=0 class=' gui-input' placeholder="">{$order_info.cash_legal_add}</textarea>         
						</div>
					</div> 

					<div class="section row mb10">
						<label class="field-label col-md-3">ИНН</label>
						<div class="col-md-9">
							<input type="text" name="cash_legal_inn" class="gui-input" value="{$order_info.cash_legal_inn}"  data-edit=0>         
						</div>
					</div>  

					<div class="section row mb10">
						<label class="field-label col-md-3">КПП</label>
						<div class="col-md-9">
							<input type="text" name="cash_legal_kpp" class="gui-input" value="{$order_info.cash_legal_kpp}"  data-edit=0>         
						</div>
					</div>  

					<div class="section row mb10">
						<label class="field-label col-md-3">ОГРН</label>
						<div class="col-md-9">
							<input type="text" name="cash_legal_ogrn" class="gui-input" value="{$order_info.cash_legal_ogrn}"  data-edit=0>         
						</div>
					</div>  
					</span>
				</div>   
			</div>  
			<div class="table-layout p25 br-t bg-light">
				<div class="col-md-12">
					<h4 class="text-muted pl5 mt20 mb20"> Контактная информация </h4>
					<div class="admin-form">
						<div class="section row mb10">
							<label class="field-label col-md-3 ">Пароль</label>
							<div class="col-md-9">
								<input type="password" name="password" class="gui-input post" value="123" data-edit=0>
							</div>
						</div>
						<div class="section row mb10">
							<label class="field-label col-md-3 ">Телефон/факс</label>
							<div class="col-md-9">
								<input type="text" name="mobile_phone" class="gui-input post" value="{$order_info.mobile_phone}" data-edit=0>
							</div>
						</div>
						<div class="section row mb10">
							<label class="field-label col-md-3">Email</label>
							<div class="col-md-9">
								<input type="text" name="email" class="gui-input post" value="{$order_info.email}" data-edit=0>
							</div>
						</div>
					</div>
				</div>
			</div>

		 <input name='command' type="hidden" value="{if isset($_GET['id'])}save{else}create{/if}" data-edit=1>   
</form>
		  </div>
		</div>
	  </div>

	  <!-- FAQ Right Column -->
	  <div class="col-md-4">

		<div class="mb15"> <a href='/?p={$GET.p}&table' class="btn btn-success light pv10 fw600  mb10"><span class='fa fa-arrow-left'></span> Вернуться</a>
			{if !isset($smarty.get.id)}<button type="button" class="order_click btn btn-primary  pv10 fw600 mb10"  data-command='create'><span class='fa fa-plus'></span> Создать</button>
			{else}
				<button type="button" class="order_click btn btn-primary  pv10 fw600 mb10" data-command='save'><span class='fa fa-floppy-o'></span> Сохранить</button>
			{if $order_info.vis==2}
				<button type="button" class="order_click btn btn-primary dark pv10 fw600 mb10" data-command='approve'><span class='fa fa-check'></span> Подтвердить</button>
			{/if}      
			{if $order_info.vis!=0}
				<button type="button" class="order_click btn btn-danger light pv10 fw600 mb10" data-command='cancel'><span class='fa fa-ban'></span> Отменить</button>
			{/if}     
		  {*<button type="button" class="btn btn-primary btn-block pv10 fw600 mb10">Заморозить</button>
		  <button type="button" class="btn btn-info btn-block pv10 fw600">Связаться</button>*}{/if}

		</div>
	<div class="panel mb10">
		<div class="panel-heading">
			<span class="panel-icon">
				<i class="fa fa-info"></i>
			</span>
			<span class="panel-title">Информация</span>
		</div>
		<div class="panel-body text-muted p5">
			<div class='col-md-5'><strong class="text-dark"> Статус</strong></div>
			<div class='col-md-7'>{$order_info.vis_text}</div>
			<div class='col-md-12 br-t mt5 pt5'></div>            
			<div class='col-md-5'><strong class="text-dark"> Назначение</strong></div> 
			<div class='col-md-7'>{$order_info.type_registration_text}</div>          
		</div>
	</div>
	<div class="panel mb10">
		<div class="panel-heading">
			<span class="panel-icon">
				<i class="fa fa-credit-card"></i>
			</span>
			<span class="panel-title"> Счета клиента</span>
		</div>
		<div class="panel-body text-muted p5">
			{foreach from=$AccountList['row'] item=row}
				<div class='col-md-5'><strong class="text-dark">{$row.title}</strong></div>
				<div class='col-md-7'><a href="/?p=account&history&id={$row.id}">{$row.value|number_format:"2":".":"&nbsp;"}</a>&nbsp<span class='fa fa-rub'></span></div>
				<div class='col-md-12 br-t mt5 pt5'></div>
			{foreachelse}
				<div class='col-md-12'>Нет счетов! <span class='fa fa-info-circle' title='Для открытия счета, клиента нужно одобрить'></span></div>

			{/foreach} 
		</div>
	</div>
<div class="panel mb10">
		<div class="panel-heading">
			<span class="panel-icon">
				<i class="fa fa-eye"></i>
			</span>
			<span class="panel-title">История работы с профилем</span>
		</div>
		<div class="panel-body text-muted p5">
			{if $order_info_stats|count==0} <div class='col-md-12'>Событий нет</div>
			{else}    
			<div class='col-md-12 mt5 pt5'>Последние 10 событий</div>
			{foreach from=$order_info_stats item=row}
			<div class='col-md-12 br-t mt5 pt5'>{$row.date_create|date_format:"%H:%M %d.%m.%y"} <strong class="text-dark">{$row.event_text}</strong> {$row.id_user_fio}</div>  
			 
			{/foreach}
			{/if}     
		</div>
	</div>
</div>
</div>          
</section>