<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right hidden-xs">
				<code class="mr20 "><a href='/?p={$GET.p}&table{if isset($GET.type_registration)}&type_registration={$GET.type_registration}{/if}&vis=2'>Новые</a></code>
				<code class="mr20 "><a href='/?p={$GET.p}&table{if isset($GET.type_registration)}&type_registration={$GET.type_registration}{/if}&vis=1'>Утвержденные</a></code>
				<code class="mr20 "><a href='/?p={$GET.p}&table{if isset($GET.type_registration)}&type_registration={$GET.type_registration}{/if}&vis=0'>Архив</a></code>
			</div>
			</div>
		<div class="panel-body pn table-responsive">              
			<table class="table table-striped table-hover sort">
				<thead>
					<tr>
						<th>Время/Дата</th>
						<th>Номер заявки</th>
						<th>ФИО/Компания</th>                        
						<th>Договор</th>
						<th>Метка</th>
						<th>Статус</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$ClientList item=row}
					<tr>
						<td>{$row.date_create|date_format:"%H:%M %d/%m/%y"}</td>
						<td><a href='/?p=client&edit&id={$row.id}'><span class='fa fa-pencil'></span> {$row.id}</a></td>
						<td>{$row.fio} {$row.title}</td>
						<td>{$row.contract}</td>
						<td>{$row.label}</td>
						<td><a href='/?p=client&table&vis={$row.vis}'>{$row.vis_text}</a></td>


					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>