<section id="content" class="">
	<div class="row mt30">
		<div class="col-md-9">
			<div class="panel br-t bw5 br-grey">
				<div class="panel-body pn">
					<div class="p25 br-b">
						<h2 class="fw200 mb20 mt10">{$Project.id} # {if isset($smarty.get.id)}{$Project.title}{else} Регистрация новой компании{/if}</h2>
						<div class="input-group input-hero mb30 hidden">
							<span class="input-group-addon">
								<i class="fa fa-search"></i>
							</span>
							<input type="text" id="icon-filter" class="form-control" placeholder="Search FAQ's...">
						</div>
					</div>
					<form name="form" method="post" action=''>
						<div class="table-layout p25 br-t bg-light">
							<div class="col-md-12 va-m">
								<div class="admin-form">				
									<div class="section row mb10">
										<label for="date_of_birth" class="field-label col-md-3 ">Дата запуска</label>
										<div class="col-md-6">
											<label for="date_min" class="field prepend-icon">
												<input type="text" name="date_min" class="gui-input  datepicker " id='date_min' value="{$order_info.date_min|date_format:'%d.%m.%Y'}" placeholder=""  data-edit=1>
												<label for="date_min" class="field-icon">
													<i class="fa fa-calendar"></i>
												</label>
											</label>
										</div>
										<div class="col-md-3">
											<input type="text" name="date_min_time" class="gui-input" value="{$order_info.date_min|date_format:'%H:%M:%S'}" placeholder="00:00:00"  data-edit=1>                                      
										</div>
									</div>
								</div>
								<div class="admin-form">
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-3 ">Цена минимума</label>
										<div class="col-md-9">
											<input type="text" name="price_min" class="gui-input post" value="{$order_info.price_min}" data-edit=0>
										</div>
									</div>
								</div>
								<div class="admin-form">
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-3 ">Цена максимум</label>
										<div class="col-md-9">
											<input type="text" name="price_max" class="gui-input post" value="{$order_info.price_max}" data-edit=0>
										</div>
									</div>
								</div>
								<div class="admin-form">
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-3 ">Процент покупки</label>
										<div class="col-md-9">
											<input type="text" name="percent_buy" class="gui-input post" value="{$order_info.percent_buy}" data-edit=0>
										</div>
									</div>
								</div>
								<div class="admin-form">
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-3 ">Процент продажи</label>
										<div class="col-md-9">
											<input type="text" name="percent_sell" class="gui-input post" value="{$order_info.percent_sell}" data-edit=0>
										</div>
									</div>
								</div>
								<div class="admin-form">
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-3 ">Шаг</label>
										<div class="col-md-9">
											<input type="text" name="step" class="gui-input post" value="{$order_info.step}" data-edit=0>
										</div>
									</div>
								</div>
								<div class="admin-form">
									<div class="section row mb10">
										<label for="account-name" class="field-label col-md-3 ">Тип акции</label>
										<div class="col-md-9">
											<label class="field select">
												<select  name="type_bonds" data-edit=0 required class='btn-primary btn-sm' data-edit=0>
													<option>Акции</option>
													<option>-----------------------</option>
													{foreach from=$listBond item=row}
													<option value='{$row.id}' {if $order_info.type_bonds==$row.id || $GET.bond==$row.id}selected="selected"{/if}>{$row.title}</option>
													{/foreach}
												</select>
												<i class="arrow double"></i>
											</label>
										</div>
									</div>
								</div>								
							</div>
						</div>
						<input name='command' type="hidden" value="{if isset($_GET['id'])}save{else}create{/if}" data-edit=1>
					</form>
				</div>
			</div>
		</div>

		<!-- FAQ Right Column -->
		<div class="col-md-3">

			<div class="mb15">
				<a href='/?p={$GET.p}&table' class="btn btn-success light pv10 fw600  mb10"><span class='fa fa-arrow-left'></span> Вернуться</a> {if !isset($smarty.get.id)}
				<button type="button" class="order_click btn btn-primary pv10 fw600 mb10" data-command='create'><span class='fa fa-plus'></span> Создать</button>
				{else}
				<button type="button" class="order_click light btn btn-primary pv10 fw600  mb10" data-command='save'><span class='fa fa-save'></span> Сохранить</button>
				{if $Project.vis==2}
				<button type="button" class="order_click dark btn btn-primary pv10 fw600 mb10" data-command='approve'><span class='fa fa-check'></span> Подтвердить</button>{/if} {if $Project.vis!=0}
				<button type="button" class="order_click btn btn-danger light pv10 fw600 mb10" data-command='cancel'><span class='fa fa-ban'></span> Удалить</button>{/if} {/if}
			</div>
		</div>
	</div>
</section>