{if isset($smarty.get.beneficiary)}
<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right ">
				<a href='/?p=project&new' class='btn btn-primary btn-sm'>Добавить проект</a>  <a href='/?p=project&new&beneficiary' class='btn btn-primary btn-sm'>Добавить бенефициара</a>
			</div>
		</div>
		<div class="panel-body pn table-responsive">
			<table class="table table-striped table-hover sort">
				<thead>
					<tr>
						<th width=20>ID</th>
						<th width=100>Время/Дата</th>
						<th>ФИО</th>
						<th>Менеджер</th>
						<th>Установной капитал</th>
						<th>Проект</th>
						<th width=50>Статус</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$Beneficiary.row item=row}
					<tr>
						<td><a href='/?p=project&edit&beneficiary&id={$row.id}'><span class='fa fa-edit'></span> {$row.id}</a></td>
						<td>{$row.date_create|date_format:"%H:%M %d.%m.%y"}</td>
						<td>{$row.name}</td>
						<td>{$row.fio_manager}</td>
						<td>{$row.capital_in_percent}%</td>
						<td><a href='/?p=project&edit&id={$row.id_project}'>{$row.title}</a></td>                        
						<td>{$row.vis_text}</td>


					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>
{elseif  isset($smarty.get.news)}
<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right ">
				<a href='/?p=project&news&new' class='btn btn-primary btn-sm'>Добавить новость</a> 
			</div>
			</div>
		<div class="panel-body pn table-responsive">              
			<table class="table table-striped table-hover sort">
				<thead>
					<tr>
						<th width=20>ID</th>
						<th width=100>Время/Дата</th>
						<th>Название</th>
						<th>Описание</th>
						<th>Проект</th>
						<th width=50>Статус</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$List['row'] item=row}
					<tr>
						<td><a href='/?p=project&edit&news&id={$row.id}'><span class='fa fa-edit'></span> {$row.id}</a></td>
						<td>{$row.date_create}</td>
						<td>{$row.title}</td>
						<td>{$row.descr}</td>
						<td>{$row.project_title}</td>                  
						<td>{$row.vis_text}</td>


					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>
{else}
<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right ">
				<label class="field select">
					<select  name="bond" data-edit=0 required class='btn-primary btn-sm' style=' height:30px'>
						<option>Акции</option>
						<option>-----------------------</option>
						{foreach from=$listBond item=row}
						<option value='{$row.id}' {if $GET.bond==$row.id}selected="selected"{/if}>{$row.title}</option>
						{/foreach}
													
					</select>
					<i class="arrow double"></i>
				</label>
							
				<a href='/?p={$GET.p}&new{if isset($GET.bond)}&bond={$GET.bond}{/if}' class='btn btn-primary btn-sm'>Добавить в очередь</a> 
			</div>
			</div>
		<div class="panel-body pn table-responsive">

			<div class="row">
				<div class="admin-form  center-block theme-primary  col-md-12">
					<div class="panel  panel-primary">
						<!--#2f2f31-->
						<div class="panel-body bg-light pl5 pr5" style=" background: linear-gradient(to bottom right,#29292b, #3d3d40);">
							<div class="col-md-3">
								<div class='col-md-12 col-xs-6'>
									<div class='row'>
										<div class='col-md-12' style="color: #fff"><span id='PriceLast'><span class='fa fa-spinner fa-spin'></span><span class="fa fa-rub"></span></div>
										<br>
										<div class='col-md-12' id='Different'><span class='fa fa-spinner fa-spin'></div>
										<div class='col-md-12'>Pre-market: 9:00 (МСК)</div>
									</div>
								</div>
								<div class='col-md-12 col-xs-6 mt15 pt15 pln' style=' border-top:1px solid #555;'>
									{$col1='col-md-4 col-xs-6'}{$col2='col-md-8 col-xs-6'}{$col0='col-md-12 col-xs-12 pln'}
									<div class='{$col0}'><div class='{$col1}'>Time:</div> <div class='{$col2}'>Close 16.10.2016</div></div>
									<div class='{$col0}'><div class='{$col1}'>High:</div> <div class='{$col2}' id='price_max'>-</div></div>
									<div class='{$col0}'><div class='{$col1}'>Low:</div> <div class='{$col2}' id='price_min'>-</div></div>
									<div class='{$col0}'><div class='{$col1}'>Vol:</div> <div class='{$col2}' id='tourover_all_deal'>-</div></div>
									<div class='{$col0}'><div class='{$col1}'>P/E:</div> <div class='{$col2}'>-</div></div>
									<div class='{$col0}'><div class='{$col1}'>Mkt&nbsp;Cap:</div> <div class='{$col2}'>-</div></div>
								</div>  
							</div>
							<div id="chart" class="col-md-9"><span class='fa fa-cog fa-spin fa-2x'></span> Идет загрузка</div>
						</div>
					</div>
				</div>
			</div>
<br>
			<table class="table table-striped table-hover sort">
				<thead>
					<tr>
						<th width=20>ID</th>
						<th width=150>Старт</th>
						<th>Цена мин.</th>
						<th>Цена макс.</th>
						<th>Проц. покупки</th>
						<th>Проц. продажи</th>
						<th>Шаг</th>
						<th>Тип</th>

					</tr>
				</thead>
				<tbody>
			   
				{foreach from=$list item=row}
					<tr class='{$row.class_color}' >
						<td><a href='/?p={$GET.p}&edit&id={$row.id}'><span class='fa fa-edit'></span> {$row.id}</a></td>
						<td>{$row.date_min}</td>
						<td>{$row.price_min}</td>
						<td>{$row.price_max}</td>
						<td>{$row.percent_buy}</td>
						<td>{$row.percent_sell}</td>
						<td>{$row.step}</td>
						<td>{$row.type_bonds}</td>                       


					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>
{/if}