<aside id="sidebar_left" class="nano nano-light affix" style=' 1background: url("img/menu-bg3.png") left top;  '>
<div class="sidebar-left-content nano-content ">
<header class="sidebar-header hidden">
		<div class="sidebar-widget author-widget">
			<div class="media">
			  <a class="media-left" href="#">
				<img src="assets/img/avatars/2.jpg" class="img-responsive">
			  </a>
			  <div class="media-body">
				<div class="media-links">
				   <a href="#" class="sidebar-menu-toggle hidden">User Menu -</a> <a href="/?p=exit&id={$smarty.session.site_user}">Выйти</a>
				</div>
				<div class="media-author">{$smarty.session.site_fio}</div>
			  </div>
			</div>
		</div>

  <!-- Sidebar Widget - Menu (slidedown) -->
  <div class="sidebar-widget menu-widget hidden">
	<div class="row text-center mbn">
	  <div class="col-xs-4">
		<a href="dashboard.html" class="text-primary" data-toggle="tooltip" data-placement="top" title="Dashboard">
		  <span class="glyphicon glyphicon-home"></span>
		</a>
	  </div>
	  <div class="col-xs-4">
		<a href="pages_messages.html" class="text-info" data-toggle="tooltip" data-placement="top" title="Messages">
		  <span class="glyphicon glyphicon-inbox"></span>
		</a>
	  </div>
	  <div class="col-xs-4">
		<a href="pages_profile.html" class="text-alert" data-toggle="tooltip" data-placement="top" title="Tasks">
		  <span class="glyphicon glyphicon-bell"></span>
		</a>
	  </div>
	  <div class="col-xs-4">
		<a href="pages_timeline.html" class="text-system" data-toggle="tooltip" data-placement="top" title="Activity">
		  <span class="fa fa-desktop"></span>
		</a>
	  </div>
	  <div class="col-xs-4">
		<a href="pages_profile.html" class="text-danger" data-toggle="tooltip" data-placement="top" title="Settings">
		  <span class="fa fa-gears"></span>
		</a>
	  </div>
	  <div class="col-xs-4">
		<a href="pages_gallery.html" class="text-warning" data-toggle="tooltip" data-placement="top" title="Cron Jobs">
		  <span class="fa fa-flask"></span>
		</a>
	  </div>
	</div>
  </div>

  <!-- Sidebar Widget - Search (hidden) -->
  <div class="sidebar-widget search-widget hidden">
	<div class="input-group">
	  <span class="input-group-addon">
		<i class="fa fa-search"></i>
	  </span>
	  <input type="text" id="sidebar-search" class="form-control" placeholder="Search...">
	</div>
  </div>

</header>
<!-- End: Sidebar Header assets/img/patterns/backgrounds/1.jpg -->

<!-- Start: Sidebar Menu -->
<ul class="nav sidebar-menu">
	<li class="sidebar-label pt20">Меню</li>
	<li class='hidden'>
		<a href="pages_calendar.html">
			<span class="fa fa-calendar"></span>
			<span class="sidebar-title">Calendar</span>
			<span class="sidebar-title-tray">
				<span class="label label-xs bg-primary">New</span>
			</span>
		</a>
	</li>
  <li class='hidden'>
	<a href="../README/index.html">
	  <span class="glyphicon glyphicon-book"></span>
	  <span class="sidebar-title">Documentation</span>
	</a>
  </li>
	<li class="{if !isset($smarty.get.p)}active{/if}">
		<a href="/">
			<span class="glyphicon glyphicon-home"></span>
			<span class="sidebar-title">Рабочий стол</span>
		</a>
	</li>
  {$part_menu='client'}
	<li class="{if $smarty.get.p==$part_menu}active{/if}">
		<a href="#" class="accordion-toggle {if $GET.p==$part_menu}menu-open{/if}">
			<span class="glyphicons glyphicons-nameplate"></span>
			<span class="sidebar-title">Клиенты</span>
		</a>
		<ul class="nav sub-nav">
			<li class='{if isset($GET.table)}active{/if}'>
				<a href="/?p={$part_menu}&table">
					<span class="glyphicons glyphicons-list"></span> Список всех клиентов </a>
			</li>
			<li class="{if isset($GET.table) && $GET.type_registration=='reg-stock'}active{/if}">
				<a href="/?p={$part_menu}&table&type_registration=reg-stock">
					<span class="glyphicons glyphicons-list"></span>Клиенты биржи </a>
			</li>
			<li class="{if isset($GET.table) && $GET.type_registration=='reg-invest'}active{/if}">
				<a href="/?p={$part_menu}&table&type_registration=reg-invest">
					<span class="glyphicons glyphicons-list"></span>Клиенты инвестиций </a>
			</li>
			<li class="{if isset($GET.table) && $GET.type_registration=='reg-startup'}active{/if}">
				<a href="/?p={$part_menu}&table&type_registration=reg-startup">
					<span class="glyphicons glyphicons-list"></span>Клиенты стартапов </a>
			</li>
			<li class='{if isset($GET.new)}active{/if}'>
				<a href="/?p={$part_menu}&new">
					<span class="glyphicons glyphicons-user_add"></span> Добавить клиента </a>
			</li>
		</ul>
	</li>
  {$part_menu='account'}
   <li class="{if $GET.p==$part_menu  && !isset($GET.bookkeeping)}active{/if}">
		<a href="#"  class="accordion-toggle {if $GET.p==$part_menu  && !isset($GET.bookkeeping)}menu-open{/if}">
			<span class="fa fa-credit-card"></span>
			<span class="sidebar-title">Счета</span>
		</a>
		<ul class="nav sub-nav">
			<li class='{if isset($GET.table) && !isset($GET.transaction)  && !isset($GET.bookkeeping) && $GET.p==$part_menu}active{/if}'>
				<a href="/?p={$part_menu}&table">
					<span class="glyphicons glyphicons-list"></span> Список счетов</a>
			</li>
			<li class="{if isset($GET.new) && !isset($GET.transaction)  && $GET.p==$part_menu}active{/if} hidden">
				<a href="/?p={$part_menu}&new">
					<span class="glyphicons glyphicons-circle_plus"></span>Создать счет</a>
			</li>
			<li class='{if isset($GET.table) && isset($GET.transaction)  && !isset($GET.bookkeeping) && $GET.p==$part_menu}active{/if}'>
				<a href="/?p={$part_menu}&transaction&table">
					<span class="glyphicons glyphicons-list"></span> Список транзакций</a>
			</li>
			<li class="{if isset($GET.new) &&  isset($GET.transaction)  && !isset($GET.bookkeeping)  && $GET.p==$part_menu}active{/if}">
				<a href="/?p={$part_menu}&transaction&new">
					<span class="glyphicons glyphicons-circle_plus"></span>Создать транзакцию</a>
			</li>
		</ul>
	</li>
  {$part_menu='project'}
	<li class="{if $smarty.get.p==$part_menu}active{/if}">
		<a href="#"  class="accordion-toggle {if $GET.p==$part_menu}menu-open{/if}">
			<span class="fa fa-briefcase"></span>
			<span class="sidebar-title">Бизнес-проекты</span>
		</a>
		<ul class="nav sub-nav">
			<li class='{if isset($GET.table) && !isset($GET.beneficiary) && !isset($GET.news)}active{/if}'>
				<a href="/?p={$part_menu}&table">
					<span class="glyphicons glyphicons-list"></span> Список проектов </a>
			</li>
			<li class='{if isset($GET.new) && !isset($GET.beneficiary)}active{/if}'>
				<a href="/?p={$part_menu}&new">
					<span class="glyphicons glyphicons-circle_plus"></span> Добавить проект </a>
			</li>
			<li class='{if isset($GET.table) && isset($GET.news)}active{/if}'>
				<a href="/?p={$part_menu}&table&news">
					<span class="glyphicons glyphicons-list"></span> Список новостей </a>
			</li>
			<li class='{if isset($GET.new) && isset($GET.news)}active{/if}'>
				<a href="/?p={$part_menu}&news&new">
					<span class="glyphicons glyphicons-circle_plus"></span> Добавить новость </a>
			</li>
			<li class='{if isset($GET.table) && isset($GET.beneficiary)}active{/if}'>
				<a href="/?p={$part_menu}&table&beneficiary">
					<span class="glyphicons glyphicons-list"></span> Список бенефициаров </a>
			</li>
			<li class='{if isset($GET.new ) && isset($GET.beneficiary)}active{/if}'>
				<a href="/?p={$part_menu}&beneficiary&new">
					<span class="glyphicons glyphicons-circle_plus"></span> Добавить бенефициара </a>
			</li>
		</ul>
	</li>
  {$part_menu='bond_order'}
	<li class="{if $smarty.get.p==$part_menu}active{/if}">
		<a href="#" class="accordion-toggle {if $GET.p==$part_menu}menu-open{/if}">
			<span class="fa fa-file-text-o"></span>
			<span class="sidebar-title">Заявки акций</span>
		</a>
				<ul class="nav sub-nav">
			<li class="{if isset($GET.table) && $GET.p==$part_menu && !isset($GET.beneficiary)}active{/if}">
				<a href="/?p={$part_menu}&table">
					<span class="glyphicons glyphicons-list"></span> Заявки на выпуск акций</a>
			</li>
			<li class="{if (isset($GET.new) || isset($GET.id)) && $GET.p==$part_menu && !isset($GET.beneficiary)}active{/if}">
				<a href="/?p={$part_menu}&new">
					<span class="glyphicons glyphicons-circle_plus"></span> Создать заявку </a>
			</li>

			<li class="{if $GET.p==$part_menu && isset($GET.table) && isset($GET.beneficiary) && !isset($GET.registration)}active{/if}">
				<a href="/?p={$part_menu}&table&beneficiary">
					<span class="glyphicons  glyphicons-list"></span> Заявки продажи акций бенефициаром </a>
			</li>
			<li class="{if $GET.p==$part_menu && isset($GET.new) && isset($GET.beneficiary) && !isset($GET.registration)}active{/if}">
				<a href="/?p={$part_menu}&beneficiary&new">
					<span class="glyphicons glyphicons-circle_plus"></span> Продажа акций бенефициаром</a>
			</li>
			<li class="{if $GET.p==$part_menu && isset($GET.table) && isset($GET.beneficiary) && isset($GET.registration)}active{/if}">
				<a href="/?p={$part_menu}&table&beneficiary&registration">
					<span class="glyphicons  glyphicons-list"></span> Заявки оформления акций в собственность </a>
			</li>
			<li class="{if $GET.p==$part_menu && isset($GET.beneficiary) && isset($GET.new)  && isset($GET.registration) }active{/if}">
				<a href="/?p={$part_menu}&beneficiary&registration&new">
					<span class="glyphicons glyphicons-circle_plus"></span> Заявка оформления акций в собственность</a>
			</li>
		</ul>
	</li>
	{$part_menu='position'}
	<li class="{if $smarty.get.p==$part_menu}active{/if}">
		<a href="#" class="accordion-toggle {if $GET.p==$part_menu}menu-open{/if}">
			<span class="fa fa-exchange"></span>
			<span class="sidebar-title">Открытые/Закрытые позиции</span>
		</a>

		<ul class="nav sub-nav">
			<li class='{if isset($GET.open) && $smarty.get.p==$part_menu}active{/if}'>
				<a href="/?p={$part_menu}&table&open">
					<span class="glyphicons glyphicons-list"></span> Открытые позиции </a>
			</li>
			<li class='{if isset($GET.close) && $smarty.get.p==$part_menu}active{/if}'>
				<a href="/?p={$part_menu}&table&close">
					<span class="glyphicons glyphicons-list"></span> Закрытые позиции </a>
			</li>
		</ul>
	</li>
	{$part_menu='direction'}
	<li class="{if $smarty.get.p==$part_menu}active{/if}">
		<a href="#" class="accordion-toggle {if $GET.p==$part_menu}menu-open{/if}">
			<span class="fa fa-area-chart"></span>
			<span class="sidebar-title">Контроль цены</span>
		</a>

		<ul class="nav sub-nav">
			<li class='{if isset($GET.table) && $smarty.get.p==$part_menu}active{/if}'>
				<a href="/?p={$part_menu}&table">
					<span class="glyphicons glyphicons-list"></span> Очередь изменения цены</a>
			</li>
			<li class='{if (isset($GET.edit) ||  isset($GET.new))  && $smarty.get.p==$part_menu}active{/if}'>
				<a href="/?p={$part_menu}&new">
					<span class="glyphicons glyphicons-circle_plus"></span> Добавить очередь</a>
			</li>
		</ul>
	</li>

   {$part_menu='account'}
	<li class="{if $smarty.get.p==$part_menu  && isset($GET.bookkeeping)}active{/if}">
		<a href="#" class="accordion-toggle {if $GET.p==$part_menu && isset($GET.bookkeeping)}menu-open{/if}">
			<span class="fa fa-rub"></span>
			<span class="sidebar-title">Бухгалтерия</span>
		</a>

		<ul class="nav sub-nav">
			<li class='{if isset($GET.table) && $smarty.get.p==$part_menu  && isset($GET.bookkeeping)}active{/if}'>
				<a href="/?p=account&table&transaction&bookkeeping">
					<span class="glyphicons glyphicons-list"></span> Операции по внутренему счету</a>
			</li>
			<li class='{if (isset($GET.edit) ||  isset($GET.new)) && $smarty.get.p==$part_menu   && isset($GET.bookkeeping)}active{/if}'>
				<a href="/?p=account&transaction&new&bookkeeping">
					<span class="glyphicons glyphicons-circle_plus"></span> Создать операцию</a>
			</li>
		</ul>
	</li>

	
</ul>

<div class="sidebar-toggle-mini">
	<a href="#">
		<span class="fa fa-sign-out"></span>
	</a>
</div>
</div>
</aside>
