<section id="content" class=" animated fadeIn">
<div class='row mb10'>
	<div class='col-md-6'>    
		<div class="panel panel-tile text-primary br-b bw5 br-primary-light">
			<div class="panel-body pl20 p5">
				<i class="fa fa-users icon-bg"></i>
				<h2 class="mt15 lh15"></h2>
				<a href='/?p=client&table&vis=2' class=''>Новые заявки {$ClientNumbers['new']}</a>, 
				<a href='/?p=client&table&vis=2&type_registration=reg-stock' class=''>Участник биржи {$ClientNumbers['new_stock']}</a>,
				<a href='/?p=client&table&vis=2&type_registration=reg-invest' class=''>Долевое {$ClientNumbers['new_invest']}</a>,
				<a href='/?p=client&table&vis=2&type_registration=reg-startup' class=''>Проекты {$ClientNumbers['new_startup']}</a>
				
				<div class='clearfix mt5'></div>
				
				<a href='/?p=client&table&vis=1' class=''>Оформленные {$ClientNumbers['current']}</a>,
				<a href='/?p=client&table' class=''>Архив</a>

				<div class='clearfix mt5'></div>
									
				<a href='/?p=client&new' class='btn btn-primary light   btn-xs'>Добавить клиента</a>                                   
				<h5 class="text-muted">Пользователи</h5>
			</div>
		</div>
	</div>
	<div class='col-md-6'>    
		<div class="panel panel-tile text-primary br-b bw5 br-primary-light">
			<div class="panel-body pl20 p5">
				<i class="fa fa-briefcase icon-bg text-btn-primary"></i>
				<h2 class="mt15 lh15"></h2>
				<a href='/?p=project&table&vis=2' class=''>Новые {$ProjectNumbers['new']}</a>,
				<a href='/?p=project&table&vis=1' class=''>Действующие {$ProjectNumbers['current']}</a>,
				<a href='/?p=project&table' class=''>Архив</a><div class='clearfix mt5'></div>
				<a href='/?p=project&new' class='btn btn-primary light btn-xs'>Добавить проект</a> 
				<a href='/?p=project&new&beneficiary' class='btn btn-primary light btn-xs'>Добавить бенефициара</a>       
				<h5 class="text-muted">Проекты</h5>
			</div>
		</div>
	</div>
	<div class='clearfix mt5'></div>
	<div class='col-md-6'>    
		<div class="panel panel-tile text-primary br-b bw5 br-primary-light">
			<div class="panel-body pl20 p5">
				<i class="fa fa-credit-card  icon-bg text-btn-primary"></i>
				<h2 class="mt15 lh15"></h2>
				<a href='/?p=account&table&vis=2' class=''>Новые {$Account['new']}</a>,
				<a href='/?p=account&table&vis=1' class=''>Действующие {$Account['current']}</a>,
				<a href='/?p=account&table' class=''>Архив</a><div class='clearfix mt5'></div>
				<a href='/?p=account&new' class='btn btn-primary light  btn-xs'>Добавить счет</a> 

				<h5 class="text-muted">Счета клиентов</h5>
			</div>
		</div>
	</div>
	<div class='col-md-6'>    
		<div class="panel panel-tile text-primary br-b bw5 br-primary-light">
			<div class="panel-body pl20 p5">
				<i class="fa fa-area-chart icon-bg text-btn-primary"></i>
				<h2 class="mt15 lh15"></h2>
				<a href='/?p=bond_order&table&vis=2' class=''>Новые <strong>{$BondOrderNumbers['new']}</strong></a>,
				<a href='/?p=bond_order&table&vis=1' class=''>Выполненые {$BondOrderNumbers['current']}</a>
				<div class='clearfix mt5'></div>
				<a href='/?p=bond_order&new' class='btn btn-primary light btn-xs'>Добавить акции на биржу</a>      
				<h5 class="text-muted">Заявки на выпуск акций</h5>
			</div>
		</div>
	</div>
</div>
<div class='row'>      
	{foreach from=$BondName.row item=row}    
	<div class="col-sm-4 col-md-4">            
		<div class="panel panel-tile text-center br-a br-light">
			<div class="panel-body bg-light">            
				<h1 class="fs35 mbn">{$row.par_now} <span class='fa fa-rub'></span></h1>
				<h6 class="text-system">{$row.title}</h6>                
				<span class="inlinesparkline  text-muted fs45  bg-light  p5 ph20 mt10" data-spark-width="20%" data-spark-color="primary" values="{$row.price}"></span>
			</div>
		</div>
	</div>
	{/foreach}
</div>
</section>
