<div id="file" class=" popup-lg mfp-with-anim mfp-hide">
	<div class="panel">
		<div class="panel-heading">
			<span class="panel-title f-10"><i class="fa fa-envelope-o"></i>Прикрепление файлов</span>
		</div>
		<form method="post" action="/" id="comment">
			<input type="hidden" name="number">
			<div class="panel-body p25">

				
				<div class='admin-form'>
					<div class="section row">
						<div class='col-md-3'>Название файла</div>
						<div class='col-md-9'>
							<input type="text" name="title" class="gui-input" placeholder="Если оставить пустым, название будет взято из файла File.doc">
						</div>
					</div>
{if $GET.p=='project'}
					<div class="section row mb10">
						<label for="date_start" class="field-label col-md-3 ">Дата:</label>
						<div class="col-md-9">
							<select name='date_start' class='gui-input'>
								<option value='01.11.2016'>2016 Ноябрь</option>
								<option value='01.12.2016'>2016 Декабрь</option>
								<option value='01.01.2017'>2017 Январь</option>
								<option value='01.02.2017'>2017 Февраль</option>
								<option value='01.03.2017'>2017 Март</option>
								<option value='01.04.2017'>2017 Апрель</option>
							</select>
						</div>
					</div>

{/if}
					{$name='modal_id_file'}{$id_file=0}  {$title_file='Имя файла'} {$title_doc='Файл'}  
					<div class="section row mb10">
						<input type="hidden" name="{$name}" data-edit=0 value='{$id_file}'>
						<label class="field-label col-md-3 ">{$title_doc}</label>
						<div class="col-md-9 section ">
							<label class="field prepend-icon file">
								<span class="button btn-primary">Выбрать файл</span>
								<input type="file" class="gui-file fileUpload" data-field='{$name}' name="file[]" onchange="document.getElementById('{$name}').value = this.value;">
								<input type="text" class="gui-input" id="{$name}" placeholder="{if $id_file!='0'}{$title_file}{else}Загрузите документ{/if}">
								<label class="field-icon">
									<i class="fa fa-upload"></i>
								</label>
							</label>
						</div>
					</div>
				</div>
{if $GET.p=='project'}	
					<div class="section row mb10">
						<label for="is_site" class="field-label col-md-3 ">Отображать на сайте</label>
						<div class="col-md-9">
							
							<div class="switch switch-info round switch-inline" style=' padding:0px; margin:0px'><input type='hidden' name='is_site' data-edit=0>
								<input id="is_site" name='file'data-field='is_site' type="checkbox" {if $order_info.is_site==1}checked=""{/if}  data-edit=0 value='{$order_info.is_site}'><label for="is_site"></label></div> 
						</div>
					</div>
					<div class="section row mb10">
						<label for="is_report" class="field-label col-md-3 ">Отчетность</label>
						<div class="col-md-9">

							<div class="switch switch-info round switch-inline">
								<input type='hidden' name='is_report' data-edit=0>
								<input id="is_report" name='file'data-field='is_report' type="checkbox" {if $order_info.is_report==1}checked=""{/if}  data-edit=0 value='{$order_info.is_report}'>
								<label for="is_report"></label>
							</div> 

						</div>
					</div>
{/if}
			</div>
			<div class="panel-footer">
				<div  class="btn btn-danger modal-close">Назад</div>
				<div  class="btn btn-primary  click-file-save">Прикрепить</div>
			</div>
		</form>
	</div>
</div>

<div id="sms-code" class=" popup-lg  admin-form mfp-with-anim mfp-hide">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title f-10">
					<i class="fa fa-envelope-o"></i>Подтверждение заявки SMS-кодом</span>
			</div>
			<!-- end .panel-heading section -->

			<form method="post" action="/" id="comment">
					<input type="hidden" name="number"> 
					
					<div class="panel-body p25">
							
							<div class="alert alert-danger alert-border-left alert-dismissable message mess-error hidden">
									<b>Ошибка:</b> Нельзя получить код раньше двух минут
							</div>
							<div class="alert alert-success alert-border-left alert-dismissable message mess-ok hidden">
									<b>Готово!</b> SMS-код отправлен на ваш мобильный телефон!
							</div>                    

					<div class="section row">              
							<div class='col-md-8'>
									<input type="text" name="sms_code" class="gui-input" placeholder="Введите SMS-код, отправленный на ваш мобильный телефон">
							</div>
							<div class='col-md-2'>
									<i class="loading fa fa-cog fa-spin fa-2x hidden"></i>
									<a href='#' class='btn btn-success' id='receive_code_btn'>Получить SMS-код</a>
							</div> 
					</div>                                   

			
					<div class="section row">
							<span class="input-footer">Я ознакомился с Общими Правилами и Условиями ведения бизнеса Финансовой группы Saybel Finance LP и согласен с ними.</span>
					</div>                
			</div>
			<div class="panel-footer">
					<a href='#' class=" btn-danger hidden"  data-dismiss="modal">Назад</a>
					<a href='#' type="submit" class="btn btn-primary" name='send_form' id='send_form'>Отправить форму</a>
			</div>

			</form>
		</div>
	</div>