{if isset($GET.close)}
<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right hidden-xs">
				<code class="mr20"></code>
			</div>
			</div>
		<div class="panel-body pn table-responsive">
			<table class="table table-striped table-hover sort ">
				<thead>
					<tr>
						<th>Номер сделки</th>
						<th>Время/Дата</th>
						<th>Биржевой продукт</th>
						<th>ФИО</th>                       
						<th>Кол-во</th>
						<th>Цена покупки</th>
						<th>Стоимость покупки</th>
						<th>Цена продажи</th>
						<th>Рыночная цена</th>
						<th>Изменение цены</th>
						<th>Прибыль/Убыток</th>
					</tr>
				</thead>
				 <tbody>
				 {foreach from=$close_position item=row}
				  <tr>
					<td>{$row.id}</td>
					<td>{$row.date_create|date_format:"%H:%M %d/%m/%y"}</td>

					<td>{$row.title}</td>
					<td>{$row.fio}</td>    
					<td>{$row.bonds_count}</td>
					<td>{$row.price_buy}</td>
					<td>{$row.bonds_count*$row.price_buy}</td>
					<td>{$row.price_sell}</td>
					<td>{$row.price_real}</td>
					<td>
					  {$row.percent}%&nbsp;{if $row.polar=='up'}<i class='fa fa-arrow-up text-success'></i>{else}<i class='fa fa-arrow-down text-danger'></i>{/if}
					</td>
					<td>
					  {$row.diff}руб.&nbsp;{if $row.polar=='up'}<i class='fa fa-arrow-up  text-success'></i>{else}<i class='fa fa-arrow-down  text-danger'></i>{/if}
					</td>
				  </tr>
				 {/foreach}
				  </tbody>
				</table>
			
	   
		  </div>
	</div>
</div>
</section>
{else}
<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right hidden-xs">
				<code class="mr20"></code>
			</div>
			</div>
		<div class="panel-body pn table-responsive">
			<table class="table table-striped table-hover sort">
				<thead>
					<tr>
						<th>Номер сделки</th>
						<th>Время/Дата</th>
						<th>Биржевой продукт</th>
						<th>ФИО</th>
						<th>Кол-во</th>
						<th>Цена покупки</th>
						<th>Стоимость покупки</th>
						<th>Цена продажи</th>
						<th>Рыночная цена</th>
						<th>Изменение цены</th>
						<th>Прибыль/Убыток</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$open_position item=row}
					<tr>
						<td>{$row.id}&nbsp;{if ($row.is_demo == '0')}<span class="open_window button_sms" var="300" var2="sms">sms</span>{/if}</td>
						<td>{$row.date_create|date_format:"%H:%M %d/%m/%y"}</td>

						<td>{$row.title}</td>
						<td>{$row.fio}</td>
						<td>{$row.bonds_count}</td>
						<td>{$row.price|number_format:2:".":"&nbsp;"} <span class='fa fa-rub'></span></td>
						<td>{$row.total|number_format:2:".":"&nbsp;"} <span class='fa fa-rub'></span></td>
						<td>0</td>
						<td class='table_real_price_buy_{$row.type_bonds}' data-price='{$row.price}' data-count='{$row.bonds_count}' data-total='{$row.total}'>
						  {$row.price_real_total|number_format:2:".":"&nbsp;"} <span class='fa fa-rub'></span><i class='fa fa-arrow-up text-success'></i>
						</td>
						<td>
							<span class='fa fa-spinner fa-spin'></span>
						</td>
						<td>
						  <span class='fa fa-spinner fa-spin'></span>
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>     
			
	   
		  </div>
	</div>
</div>
</section>
{/if}