<section id="content" class="">
	<div class="row mt30">        
		<div class="col-md-9">
			<div class="panel br-t bw5 br-grey">
				<div class="panel-body pn">
					<div class="p25 br-b">
						<h2 class="fw200 mb20 mt10">{$order_info.id} # {if isset($smarty.get.id)}{$order_info.title}{else} Регистрация нового бенефициара{/if}</h2>
			  <div class="input-group input-hero mb30 hidden">
				<span class="input-group-addon">
				  <i class="fa fa-search"></i>
				</span>
				<input type="text" id="icon-filter" class="form-control" placeholder="Search FAQ's...">
			  </div>
			</div>
			<form name="form" method="post" action=''>         
	   
				<div class=" p25 br-t bg-light">
					<h4 class="text-muted pl5 mt20 mb20"> Информация о бенефициаре компании</h4>
			  
					<div class="admin-form">
						<div class="section row mb10">
							<label for="account-name" class="field-label col-md-3 ">Компания</label>
							<div class="col-md-9">      
								<label class="field select">
									<select  name="id_project" required data-edit=0 class=''>
										<option>Выберите компанию</option>
										{foreach from=$Project item=row}
										<option value='{$row.id}' {if $row.id==$order_info.id_project}selected="selected"{/if}>{$row.id} # {$row.title}</option>
										{/foreach}
									</select>
									<i class="arrow double"></i>
								</label>
							</div>
							<div class='col-md-12 alert alert-micro alert-border-left alert-info alert-dismissable'>Внимание, чтобы компания отобразилась в списке, у нее должны быть выпущены акции. Раздел <strong>Акции</strong> -> Создать заявку</div>
						</div>
						<div class="section row mb10 ">
							<label for="account-name" class="field-label col-md-3 ">Тип бенефициара</label>
							<div class="col-md-9">      
								<div class="option-group field section">
									<label for="type1" class="block mt15 option option-primary">
										<input type="radio" name="type" id="type1" value="1"  data-edit=0 required {if $order_info.type==1}checked=""{/if}>
										<span class="radio"></span>Физическое лицо
									</label>
									<label for="type2" class="block mt15 option option-primary">
										<input type="radio" name="type" id="type2" value="2" data-edit=0 required  {if $order_info.type==2}checked=""{/if}>
										<span class="radio"></span>Юридическое лицо
									</label>
								</div>
							</div>                    
						</div>
		   
						
						 <div class="section row mb10 type1  {if $order_info.type==2 || isset($GET.new)}hidden{/if}">
							<label for="account-name" class="field-label col-md-3 ">Физическое лицо</label>
							<div class="col-md-9">      
								<label class="field select">
									<select  name="id_client" data-edit=0 required>
										<option value=0>Выберите компанию</option>
										{foreach from=$ClientList item=row}
										<option value='{$row.id}' {if $row.id==$order_info.id_client}selected="selected"{/if}>{$row.id} # {$row.surname}</option>
										{/foreach}
									</select>
									<i class="arrow double"></i>
								</label>
							</div>
						</div>
						 <div class="section row mb10 type2  {if $order_info.type==1 || isset($GET.new)}hidden{/if}">
							<label for="account-name" class="field-label col-md-3 ">Юридическое лицо</label>
							<div class="col-md-9">      
								<label class="field select">
									<select  name="id_company" data-edit=0  required>
										<option value=0>Выберите компанию</option>
										{foreach from=$CompanyList item=row}
										<option value='{$row.id}' {if $row.id==$order_info.id_company}selected="selected"{/if}>{$row.id} # {$row.title}</option>
										{/foreach}
									</select>
									<i class="arrow double"></i>
								</label>
							</div>
						</div>
		 </div>
				</div>  
				<div class="p25 br-t {if !isset($GET.edit)}hidden{/if}">
						  <h4 class="text-muted mb20 mtn"> Размер доли </h4>
							<div class="admin-form"> 
								<div class="section row mb10 ">
									<label class="field-label col-md-9 " style='line-height:18px;'>Размер доли участия в уставном капитале (в процентах) </label>
									<div class="col-md-3">
										<input type="text" name="capital_in_percent" class="gui-input post " value=" {($order_info.capital_in_stock/$order_info.bond_all)*100}%" data-edit=0  required>         
									</div>
								</div>      
																			
								<div class="section row mb10">
									<label class="field-label col-md-9 "style='line-height:18px;'>Размер доли участия в уставном капитале (в акциях) </label>
									<div class="col-md-3">
										<input type="text" name="capital_in_stock" class="gui-input post" value="{$order_info.capital_in_stock}" data-edit=0  required>         
									</div>
								</div>                        
																			
								<div class="section row mb10 {if isset($GET.new)}hidden{/if}">
									<label class="field-label col-md-6 "style='line-height:18px;'>Номинал акций уставного капитала</label>
									<div class="col-md-6">
										<label for="lastname" class="field append-icon right">
											<input type="text" name="value_of_stock" id="lastname" class="gui-input"  value="{if $order_info.value_of_stock==''}Нет акций на бирже{else}{$order_info.value_of_stock}{/if}" data-edit=0>
											<label for="lastname" class="field-icon">
												<i class="fa fa-rub"></i>
											</label>
										</label>          
									</div>
			
								</div>    
								  
							</div>   
						</div>   
				 <input name='command' type="hidden" value="{if isset($GET.id)}save{else}create{/if}" data-edit=1>   
	  
			</form>
			</div>
		</div>
	</div>

	  <!-- FAQ Right Column -->
	  <div class="col-md-3">

		<div class="mb15">

			<a href='/?p={$GET.p}&beneficiary&table' class="btn btn-success light pv10 fw600  mb10"><span class='fa fa-arrow-left'></span> Вернуться</a>
			{if !isset($smarty.get.id)}
				<button type="button" class="order_click btn btn-primary pv10 fw600 mb10"  data-command='create'><span class='fa fa-plus'></span> Создать</button> 
			{else}
				<button type="button" class="order_click light btn btn-primary pv10 fw600  mb10"   data-command='save'><span class='fa fa-save'></span> Сохранить</button> 
				{if $order_info.vis==2}<button type="button" class="order_click dark btn btn-primary pv10 fw600 mb10"  data-command='approve'><span class='fa fa-check'></span> Подтвердить</button>{/if}
				{if $order_info.vis!=0}<button type="button" class="order_click btn btn-danger light pv10 fw600 mb10"  data-command='cancel'><span class='fa fa-ban'></span> Удалить</button>{/if}
			{/if}
			

		</div>

		<div class="panel mb10 hidden">
			<div class="panel-heading">
				<span class="panel-icon">
					<i class="fa fa-credit-card"></i>
				</span>
				<span class="panel-title"> Счета клиента</span>
			</div>
			<div class="panel-body text-muted p10">
				<ul class="list-unstyled">
					<li>
					<div class='col-md-6'><strong class="text-dark"> Демо-счёт</strong></div>
					<div class='col-md-6'>
						<a href="/?p=account&id_user={$accounts[0]['id_user']}&id={$accounts[0]['id']}">{$accounts[0]['value']|number_format:"2":".":"&nbsp;"}</a> 
						<span class='fa fa-rub'></span></div>
						</li>
					<li>
						<div class='col-md-6'><strong class="text-dark"> Реальный счёт</strong></div> 
						<div class='col-md-6'> <a href="/?p=account&id_user={$accounts[1]['id_user']}&id={$accounts[1]['id']}">{$accounts[1]['value']|number_format:"2":".":"&nbsp;"}</a> <span class='fa fa-rub'></span></div></li>
				</ul>
			</div>
		 
		</div>


	  </div>
	</div>          
</section>