<section id="content" class="">
	<div class="row mt30">
		
	  <div class="col-md-9">

		<div class="panel br-t bw5 br-grey">

		  <div class="panel-body pn">
			<div class="p25 br-b">
			  <h2 class="fw200 mb20 mt10">{$order_info.id} # {if isset($smarty.get.id)}{$Project.title}{else} Регистрация новости{/if}</h2>
			  <div class="input-group input-hero mb30 hidden">
				<span class="input-group-addon">
				  <i class="fa fa-search"></i>
				</span>
				<input type="text" id="icon-filter" class="form-control" placeholder="Search FAQ's...">
			  </div>
			</div>
<form name="form" method="post" action=''>
			<div class="table-layout p25 br-t bg-light">
				<div class="col-md-12 va-m">
					<div class="admin-form">
						<div class="section row mb10">
							<label for="account-name" class="field-label col-md-3 ">Компания</label>
							<div class="col-md-9">      
								<label class="field select">
									<select  name="id_project" required data-edit=0 class=''>
										<option>Выберите компанию</option>
										{foreach from=$ProjectList item=row}
										<option value='{$row.id}' {if $row.id==$order_info.id_project}selected="selected"{/if}>{$row.id} # {$row.title}</option>
										{/foreach}
									</select>
									<i class="arrow double"></i>
								</label>
							</div>
						</div>

		 </div>                    
				<div class="admin-form">
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-3 ">Название</label>
						<div class="col-md-9">      
							<input type="text" name="title" class="gui-input post" value="{$order_info.title}"  data-edit=0>
						</div>
					</div>
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-3 ">Описание</label>
						<div class="col-md-9">                      
							<textarea name="descr"  rows=10 data-edit=0 class='col-md-12'>{$order_info.descr}</textarea>
						</div>
					</div>
					<div class="section row mb10">
						<label for="account-name" class="field-label col-md-3 ">Полный текст</label>
						<div class="col-md-9">                      
							<textarea name="body" id="ckeditor1"  rows="20"   data-edit=1>
							  {$order_info.body}
							</textarea>
						</div>
					</div>                                                                                           
				</div>
				</div>
			  
			</div>
			{*
			<div class="p25 br-t">
			  <h4 class="text-muted mb20 mtn"> Внутренняя информация о компании </h4>
				<div class="admin-form"> 
																
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Величина уставного капитала</label>
						<div class="col-md-9">
							<input type="text" name="authorized_capital" class="gui-input post" value="{$Project.authorized_capital}"  data-edit=0>         
						</div>
					</div>      
					<div class="section row mb10">
						<label class="field-label col-md-3 ">Численность персонала</label>
						<div class="col-md-9">
							<input type="text" name="staff_number" class="gui-input post" value="{$Project.staff_number}"  data-edit=0>         
						</div>
					</div>                          
  
				</div>   
			</div>
*}
		 <input name='command' type="hidden" value="{if isset($_GET['id'])}save{else}create{/if}"  data-edit=1>   
</form>
		  </div>
		</div>
	  </div>

	  <!-- FAQ Right Column -->
	  <div class="col-md-3">

		<div class="mb15">
			<a href='/?p=project&table' class="btn btn-success light pv10 fw600  mb10" ><span class='fa fa-arrow-left'></span> Вернуться</a>
			{if !isset($smarty.get.id)}
				<button type="button" class="order_click btn btn-primary pv10 fw600 mb10"  data-command='create'><span class='fa fa-plus'></span> Создать</button> 
			{else}
				<button type="button" class="order_click light btn btn-primary pv10 fw600  mb10"   data-command='save'><span class='fa fa-save'></span> Сохранить</button> 
				{if $order_info.vis==2}<button type="button" class="order_click dark btn btn-primary pv10 fw600 mb10"  data-command='approve'><span class='fa fa-check'></span> Подтвердить</button>{/if}
				{if $order_info.vis!=0}<button type="button" class="order_click btn btn-danger light pv10 fw600 mb10"  data-command='cancel'><span class='fa fa-ban'></span> Удалить</button>{/if}
			{/if}
		
		</div>
{*
		<div class="panel mb10">
			<div class="panel-heading">
				<span class="panel-icon">
					<i class="fa fa-users"></i>
				</span>
				<span class="panel-title"> Бенефициары проекта</span>
			</div>
			<div class="panel-body text-muted p10">
{foreach from=$Beneficiary name=foo item=row}                  
				<ul class="list-unstyled {if $smarty.foreach.foo.index>0}br-t pt10{/if}">
					<li>Имя: <strong class="text-dark"> {$row.name}</strong> <a href='/?p=project&edit&beneficiary&id={$row.id}' class='text-right '><span class='fa fa-edit'></span></a></li>
					<li>Кол-во акций: {$row.capital_in_stock}</li>
					<li>Акций в %: {$row.capital_in_percent}</li>
					<li>Статус: {$row.vis_text}</li>
				</ul>
{foreachelse}{/foreach}


			</div>
			<div class="panel-footer text-muted p10"></div>
		</div>
		
*}
	</div>
</div>          
</section>