{if isset($smarty.get.beneficiary)}
<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right ">
				<a href='/?p=project&new' class='btn btn-primary btn-sm'>Добавить проект</a>  <a href='/?p=project&new&beneficiary' class='btn btn-primary btn-sm'>Добавить бенефициара</a>
			</div>
			</div>
		<div class="panel-body pn table-responsive">              
			<table class="table table-striped table-hover sort">
				<thead>
					<tr>
						<th width=20>ID</th>
						<th width=100>Время/Дата</th>
						<th>ФИО</th>
						<th>Менеджер</th>
						<th>Установной капитал<br>Всего/шт/процент</th>
						<th>Проект</th>
						<th width=50>Статус</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$Beneficiary.row item=row}
					<tr>
						<td><a href='/?p=project&edit&beneficiary&id={$row.id}'><span class='fa fa-edit'></span> {$row.id}</a></td>
						<td>{$row.date_create|date_format:"%H:%M %d.%m.%y"}</td>
						<td>{$row.name}</td>
						<td>{$row.fio_manager}</td>
						<td>{$row.count} / {$row.capital_in_stock} / {($row.capital_in_stock/$row.count)*100}%</td>
						<td><a href='/?p=project&edit&id={$row.id_project}'>{$row.title}</a></td>                        
						<td>{$row.vis_text}</td>


					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>
{elseif  isset($smarty.get.news)}
<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right ">
				<a href='/?p=project&news&new' class='btn btn-primary btn-sm'>Добавить новость</a> 
			</div>
			</div>
		<div class="panel-body pn table-responsive">              
			<table class="table table-striped table-hover sort">
				<thead>
					<tr>
						<th width=20>ID</th>
						<th width=100>Время/Дата</th>
						<th>Название</th>
						<th>Описание</th>
						<th>Проект</th>
						<th width=50>Статус</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$List['row'] item=row}
					<tr>
						<td><a href='/?p=project&edit&news&id={$row.id}'><span class='fa fa-edit'></span> {$row.id}</a></td>
						<td>{$row.date_create}</td>
						<td>{$row.title}</td>
						<td>{$row.descr}</td>
						<td>{$row.project_title}</td>                  
						<td>{$row.vis_text}</td>


					</tr>
				{/foreach}
				</tbody>
			</table>       
		</div>
	</div>
</div>
</section>
{else}
<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel ">
		<div class="panel-heading">
			<span class="panel-title">
				<i class="fa fa-users"></i> {$TableTitle}
			</span>
			<div class="pull-right ">
				<a href='/?p=project&new' class='btn btn-primary btn-sm'>Добавить проект</a>  <a href='/?p=project&new&beneficiary' class='btn btn-primary btn-sm'>Добавить бенефициара</a>
			</div>
			</div>
		<div class="panel-body pn table-responsive">              
			<table class="table table-striped table-hover sort">
				<thead>
					<tr>
						<th width=20>ID</th>
						<th width=100>Время/Дата</th>
						<th>Название</th>
						<th>Менеджер</th>
						<th width=100>Кол-во бенефициаров</th>
						<th width=100>Акции<br>Всего/Биржа</th>
						<th width=50>Статус</th>

					</tr>
				</thead>
				<tbody>
				{foreach from=$Project item=row}
					<tr>
						<td><a href='/?p=project&edit&id={$row.id}'><span class='fa fa-edit'></span> {$row.id}</a></td>
						<td>{$row.date_create|date_format:"%H:%M %d.%m.%y"}</td>
						<td>{$row.title}</td>
						<td>{$row.surname} {$row.name}</td>
						<td>{if $row.beneficiary_count>0}<a href='/?p=project&table&beneficiary&id_project={$row.id}'><span class='fa fa-eye'></span> {$row.beneficiary_count}</a>{else} &minus; {/if}</td>
						<td>{$row.count_all}/{$row.count_in_market}<span class="inlinesparkline" data-spark-width="10%" data-spark-color="primary" values="{$row.bond_price}"></span></td>
						<td>{$row.vis_text}</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
		</div>
	</div>
</div>
</section>
{/if}