<section id="content" class="">
<div class="row mt30">
<div class="col-md-9">
	<div class="panel br-t bw5 br-grey">
		<div class="panel-body pn">
			<div class="p25 br-b">
				<h2 class="fw200 mb20 mt10">{$Project.id} # {if isset($smarty.get.id)}{$Project.title}{else} Регистрация новой компании{/if}</h2>
				<div class="input-group input-hero mb30 hidden">
					<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
					<input type="text" id="icon-filter" class="form-control" placeholder="Search FAQ's...">
				</div>
			</div>
			<form name="form" method="post" action=''>
				<div class="table-layout p25 br-t bg-light">
					<div class="col-md-12 va-m">
						<h4 class="text-muted pl5 mt20 mb20"> Юридическая информация о компании</h4>
						<div class="admin-form">
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Название</label>
								<div class="col-md-9">
									<input type="text" name="title" class="gui-input post" value="{$Project.title}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Описание</label>
								<div class="col-md-9">                      
									<textarea name="descr"  rows=10 data-edit=0 class=" form-control">{$Project.descr}</textarea>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Полный текст</label>
								<div class="col-md-9">                      
									<textarea name="body" id="ckeditor1"  rows="20"   data-edit=1>
										{$Project.body}
									</textarea>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Организационно-правовая форма</label>
								<div class="col-md-9">
									<input type="text" name="legal" class="gui-input post" value="{$Project.legal}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">ИНН/КПП</label>
								<div class="col-md-9">
									<input type="text" name="inn" class="gui-input post" value="{$Project.inn}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">ОГРН</label>
								<div class="col-md-9">
									<input type="text" name="bin" class="gui-input post" value="{$Project.bin}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">ОКПО/ОКАТО/ОКФС/ОКВЭД/ОКОПФ/ОКОГУ</label>
								<div class="col-md-9">
									<input type="text" name="okpo_etc" class="gui-input post" value="{$Project.okpo_etc}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">ОКПО</label>
								<div class="col-md-9">
									<input type="text" name="okpo" class="gui-input post" value="{$Project.okpo}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Юридический адрес</label>
								<div class="col-md-9">
									<input type="text" name="legal_address" class="gui-input post" value="{$Project.legal_address}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Фактический адрес</label>
								<div class="col-md-9">
									<input type="text" name="actual_address" class="gui-input post" value="{$Project.actual_address}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Структура органов управления</label>
								<div class="col-md-9">
									<input type="text" name="management_structure" class="gui-input post" value="{$Project.management_structure}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Сфера деятельности</label>
								<div class="col-md-9">
									<input type="text" name="field" class="gui-input post" value="{$Project.field}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label for="account-name" class="field-label col-md-3 ">Система налогообложения</label>
								<div class="col-md-9">
									<input type="text" name="tax_system" class="gui-input post" value="{$Project.tax_system}" data-edit=0>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="p25 br-t">
					<h4 class="text-muted mb20 mtn"> Внутренняя информация о компании </h4>
					<div class="admin-form">

						<div class="section row mb10">
							<label class="field-label col-md-3 ">Величина уставного капитала</label>
							<div class="col-md-9">
								<input type="text" name="authorized_capital" class="gui-input post" value="{$Project.authorized_capital}" data-edit=0>
							</div>
						</div>
						<div class="section row mb10">
							<label class="field-label col-md-3 ">Численность персонала</label>
							<div class="col-md-9">
								<input type="text" name="staff_number" class="gui-input post" value="{$Project.staff_number}" data-edit=0>
							</div>
						</div>

					</div>
				</div>
				<div class="table-layout p25 br-t bg-light">
					<div class="col-md-12">
						<h4 class="text-muted pl5 mt20 mb20"> Контактная информация </h4>
						<div class="admin-form">

							<div class="section row mb10">
								<label class="field-label col-md-3 ">Телефон/факс</label>
								<div class="col-md-9">
									<input type="text" name="tel_fax" class="gui-input post" value="{$Project.tel_fax}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label class="field-label col-md-3">Email</label>
								<div class="col-md-9">
									<input type="text" name="email" class="gui-input post" value="{$Project.email}" data-edit=0>
								</div>
							</div>
							<div class="section row mb10">
								<label class="field-label col-md-3">Сайт</label>
								<div class="col-md-9">
									<input type="text" name="site" class="gui-input post" value="{$Project.site}" data-edit=0>
								</div>
							</div>


						</div>
					</div>
				</div>
				<div class="p25 br-t">
					<h4 class="text-muted mb20 mtn"> Настройка карточки компании </h4>
					<div class="admin-form">
						<div class="section row mb10">
							<label for="account-name" class="field-label col-md-3 ">Аватар для виджета</label>
							<div class="col-md-9">      
								<label class="field select">
									<select name="img1" data-edit=0 required>
										<option>Файлы проекта</option>
{foreach from=$ProjectFile item=row}
										<option value='{$row.id_file}' {if $row.id_file==$Project.img1}selected="selected"{/if}>{$row.title}</option>
{/foreach}
									</select>
									<i class="arrow double"></i>
								</label>
							</div>
						</div> 
						<div class="section row mb10">
							<label for="account-name" class="field-label col-md-3 ">Аватар для главной страницы</label>
							<div class="col-md-9">      
								<label class="field select">
									<select name="img2" data-edit=0 required>
										<option>Файлы проекта</option>
{foreach from=$ProjectFile item=row}
										<option value='{$row.id_file}' {if $row.id_file==$Project.img2}selected="selected"{/if}>{$row.title}</option>
{/foreach}
									</select>
									<i class="arrow double"></i>
								</label>
							</div>
						</div> 
					</div>
				</div>
				<input name='command' type="hidden" value="{if isset($_GET['id'])}save{else}create{/if}" data-edit=1>
			</form>
		</div>
	</div>
</div>

<!-- FAQ Right Column -->
<div class="col-md-3">

	<div class="mb15">
		<a href='/?p=project&table' class="btn btn-success light pv10 fw600  mb10"><span class='fa fa-arrow-left'></span> Вернуться</a> {if !isset($smarty.get.id)}
		<button type="button" class="order_click btn btn-primary pv10 fw600 mb10" data-command='create'><span class='fa fa-plus'></span> Создать</button>
		{else}
		<button type="button" class="order_click light btn btn-primary pv10 fw600  mb10" data-command='save'><span class='fa fa-save'></span> Сохранить</button>
		{if $Project.vis==2}
		<button type="button" class="order_click dark btn btn-primary pv10 fw600 mb10" data-command='approve'><span class='fa fa-check'></span> Подтвердить</button>{/if} {if $Project.vis!=0}
		<button type="button" class="order_click btn btn-danger light pv10 fw600 mb10" data-command='cancel'><span class='fa fa-ban'></span> Удалить</button>{/if} {/if}
		<a href='/?p=project&new&beneficiary' class='btn btn-primary light pv10 fw600 mb10'><span class='fa fa-user'></span> Добавить бенефициара</a>
	</div>

	<div class="panel mb10">
		<div class="panel-heading">
			<span class="panel-icon">
								<i class="fa fa-users"></i>
						</span>
			<span class="panel-title"> Бенефициары проекта</span>
		</div>
		<div class="panel-body text-muted p10">
			{foreach from=$Beneficiary name=foo item=row}
			<ul class="list-unstyled {if $smarty.foreach.foo.index>0}br-t pt10{/if}">
				<li>Имя: <strong class="text-dark"> {$row.name}</strong> <a href='/?p=project&edit&beneficiary&id={$row.id}' class='text-right '><span class='fa fa-edit'></span></a></li>
				<li>Кол-во акций: {$row.capital_in_stock}</li>
				<li>Акций в %: {$row.capital_in_percent}</li>
				<li>Статус: {$row.vis_text}</li>
			</ul>
			{foreachelse}{/foreach}


		</div>
		<div class="panel-footer text-muted p10"></div>
	</div>
	<div class="panel mb10">
		<div class="panel-heading">
			<span class="panel-icon"><i class="fa fa-users"></i></span>
			<span class="panel-title"> Файлы</span>
		</div>
		<div class="panel-body text-muted p10 admin-form">
					<div class="section row mb10">
			<div class='col-xs-12 col-md-12'>
				<div class="alert alert-danger alert-dismissable mb30 file-remove-alert">
					<button type="button" class="close" onClick="$('.file-remove-alert').slideToggle('fast');">×</button>
					<h3 class="mt5">Удаление файла</h3>
					<p>Вы действительно хотите удалить файл?</p>
					<br>
					<p>
						<div class="btn btn-danger" onClick="$('.file-remove-alert').slideToggle('fast');">Нет</div> <div class="btn btn-danger pull-right file-remove-comfirm" >Да</div>
					</p>
				</div>
			</div>
		</div>
					<div class="section row mb10">
							<div class='col-xs-12 col-md-12'>
												<a  href="#file" class='btn btn-primary  btn-rounded dark modals'><span class='fa fa-download'></span> Добавить файл</a>
							</div>            			
					</div>
					<div class="section row mb10">
										<div class='col-xs-8 col-md-8'>Название</div>
										<div class='col-xs-4 col-md-4'></div>
					</div>
					<div class="section row mb10">
							<div class='col-xs-12 col-md-12'>
												
							</div>
							<div class='col-xs-12 file-list'>
									
							</div>
					</div>
		</div>
		<div class="panel-footer text-muted p10"></div>
	</div>
</div>
</div>
</section>