<section id="content" class="table-layout animated fadeIn">
<div class="tray tray-center">
		<div class="panel">
			<div class="panel-heading">
					<span class="panel-title text-muted hidden-xs ">Поиск по всем разделам</span>
					<ul class="nav panel-tabs-border panel-tabs-merge panel-tabs hidden">
						<li class="active"><a href="#search" data-toggle="tab" aria-expanded="true">Клиент</a></li>
						<li class=""><a href="#users" data-toggle="tab" aria-expanded="false">User Search</a></li>
					</ul>
				</div>
				<div class="panel-menu">
				<form action="" method="GET">
				<input type='hidden' name='p' value='{$GET.p}'>
					<div class="input-group input-hero input-hero-sm">
						<span class="input-group-addon" style=" cursor: pointer">
							<i class="fa fa-search"></i>
						</span>
						
						<input type="text" name='find' id="icon-filter" class="form-control" placeholder="Впишите фамилию, имя или номер транзакции или заявки" value="{if isset($GET.find)}{$GET.find}{/if}">
					</div>
				</form>
				</div>
				<div class="panel-body ph20">
					<div class="tab-content">
						<div id="search" class="tab-pane active">
								<h3>Отображено <b class="text-primary">{$info|count}</b> результатов</h3>
								<hr class="alt">
<span id='search'>
{foreach from=$info item=row}
								<div class="search-result">
									 <h3><a href="{$row.link}">{$row.title}</a></h3>
									 <ul class="result-meta">
											<li>Раздел: <a href="#">{$row.part}</a></li>
											{*<li><a href="#"> 45 ratings </a></li>
											<li>
												<i class="fa fa-star-o text-warning"></i>
												<i class="fa fa-star-o text-warning"></i>
												<i class="fa fa-star-o text-warning"></i>
												<i class="fa fa-star-o text-warning"></i>
												<i class="fa fa-star-o text-warning"></i>
											</li>
											<li><a href="#"> $22.99 </a></li>*}
									 </ul>
										<p>{$row.descr}</p>
									{*<ul class="result-meta">
											<li><a href="#"> Home </a></li>
											<li><a href="#"> Our Products </a></li>
											<li><a href="#"> About Us </a></li>
											<li><a href="#"> Customer Support </a></li>
									 </ul>*}
								</div>
{foreachelse}
Ненайдено!
{/foreach}
</span>
						</div>

						<div id="users" class="tab-pane hidden">
						<div class="table-responsive mhn20 mvn15">
							<table class="table admin-form theme-warning fs13">
								<thead>
									<tr class="bg-light">
										<th class="">Avatar</th>
										<th class="">Name</th>
										<th class="">Email</th>
										<th class="">Registered</th>
										<th class="">Purchases</th>
										<th class="">Total Spent</th>
										<th class="text-right">Status</th>

									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="w50">
											<img class="img-responsive" title="user" src="assets/img/avatars/2.jpg">
										</td>
										<td class="">Dave Robert</td>
										<td class="">dave@company.com</td>
										<td class="">12/03/2014</td>
										<td class="">222</td>
										<td class="">$3,600</td>
										<td class="text-right">
											<div class="btn-group text-right">
												<button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
													<span class="caret ml5"></span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right dropdown-menu dropdown-menu-right-right" role="menu">
													<li>
														<a href="#">Edit</a>
													</li>
													<li>
														<a href="#">Contact</a>
													</li>
													<li class="divider"></li>
													<li class="active">
														<a href="#">Active</a>
													</li>
													<li>
														<a href="#">Suspend</a>
													</li>
													<li>
														<a href="#">Remove</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td class="w50">
											<img class="img-responsive" title="user" src="assets/img/avatars/2.jpg">
										</td>
										<td class="">Sara Marshall</td>
										<td class="">sara@company.com</td>
										<td class="">12/03/2014</td>
										<td class="">16</td>
										<td class="">$4,200</td>
										<td class="text-right">
											<div class="btn-group text-right">
												<button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
													<span class="caret ml5"></span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
													<li>
														<a href="#">Edit</a>
													</li>
													<li>
														<a href="#">Contact</a>
													</li>
													<li class="divider"></li>
													<li class="active">
														<a href="#">Active</a>
													</li>
													<li>
														<a href="#">Suspend</a>
													</li>
													<li>
														<a href="#">Remove</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td class="w50">
											<img class="img-responsive" title="user" src="assets/img/avatars/2.jpg">
										</td>
										<td class="">Larry Kingster</td>
										<td class="">larry@company.com</td>
										<td class="">12/03/2014</td>
										<td class="">46</td>
										<td class="">$16,200</td>
										<td class="text-right">
											<div class="btn-group text-right">
												<button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
													<span class="caret ml5"></span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right dropdown-menu dropdown-menu-right-right" role="menu">
													<li>
														<a href="#">Edit</a>
													</li>
													<li>
														<a href="#">Contact</a>
													</li>
													<li class="divider"></li>
													<li class="active">
														<a href="#">Active</a>
													</li>
													<li>
														<a href="#">Suspend</a>
													</li>
													<li>
														<a href="#">Remove</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td class="w50">
											<img class="img-responsive" title="user" src="assets/img/avatars/2.jpg">
										</td>
										<td class="">Emily Roundwheel</td>
										<td class="">emily@company.com</td>
										<td class="">12/03/2014</td>
										<td class="">06</td>
										<td class="">$1,400</td>
										<td class="text-right">
											<div class="btn-group text-right">
												<button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
													<span class="caret ml5"></span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
													<li>
														<a href="#">Edit</a>
													</li>
													<li>
														<a href="#">Contact</a>
													</li>
													<li class="divider"></li>
													<li class="active">
														<a href="#">Active</a>
													</li>
													<li>
														<a href="#">Suspend</a>
													</li>
													<li>
														<a href="#">Remove</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td class="w50">
											<img class="img-responsive" title="user" src="assets/img/avatars/2.jpg">
										</td>
										<td class="">Nick Cannoneer</td>
										<td class="">sara@company.com</td>
										<td class="">12/03/2014</td>
										<td class="">43</td>
										<td class="">$13,600</td>
										<td class="text-right">
											<div class="btn-group text-right">
												<button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
													<span class="caret ml5"></span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
													<li>
														<a href="#">Edit</a>
													</li>
													<li>
														<a href="#">Contact</a>
													</li>
													<li class="divider"></li>
													<li class="active">
														<a href="#">Active</a>
													</li>
													<li>
														<a href="#">Suspend</a>
													</li>
													<li>
														<a href="#">Remove</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td class="w50">
											<img class="img-responsive" title="user" src="assets/img/avatars/2.jpg">
										</td>
										<td class="">Morgan Lunar</td>
										<td class="">morgan@company.com</td>
										<td class="">12/03/2014</td>
										<td class="">11</td>
										<td class="">$3,200</td>
										<td class="text-right">
											<div class="btn-group text-right">
												<button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
													<span class="caret ml5"></span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
													<li>
														<a href="#">Edit</a>
													</li>
													<li>
														<a href="#">Contact</a>
													</li>
													<li class="divider"></li>
													<li class="active">
														<a href="#">Active</a>
													</li>
													<li>
														<a href="#">Suspend</a>
													</li>
													<li>
														<a href="#">Remove</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td class="w50">
											<img class="img-responsive" title="user" src="assets/img/avatars/2.jpg">
										</td>
										<td class="">Emily Roundwheel</td>
										<td class="">emily@company.com</td>
										<td class="">12/03/2014</td>
										<td class="">06</td>
										<td class="">$1,400</td>
										<td class="text-right">
											<div class="btn-group text-right">
												<button type="button" class="btn btn-warning br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> In-Active
													<span class="caret ml5"></span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
													<li>
														<a href="#">Edit</a>
													</li>
													<li>
														<a href="#">Contact</a>
													</li>
													<li class="divider"></li>
													<li class="active">
														<a href="#">Active</a>
													</li>
													<li>
														<a href="#">Suspend</a>
													</li>
													<li>
														<a href="#">Remove</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td class="w50">
											<img class="img-responsive" title="user" src="assets/img/avatars/2.jpg">
										</td>
										<td class="">Sara Marshall</td>
										<td class="">sara@company.com</td>
										<td class="">12/03/2014</td>
										<td class="">16</td>
										<td class="">$4,200</td>
										<td class="text-right">
											<div class="btn-group text-right">
												<button type="button" class="btn btn-warning br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> In-Active
													<span class="caret ml5"></span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
													<li>
														<a href="#">Edit</a>
													</li>
													<li>
														<a href="#">Contact</a>
													</li>
													<li class="divider"></li>
													<li class="active">
														<a href="#">Active</a>
													</li>
													<li>
														<a href="#">Suspend</a>
													</li>
													<li>
														<a href="#">Remove</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
						</div>

					</div>
				</div>
				<div class="panel-footer clearfix hidden">
					<nav>
						<ul class="pagination pull-right">
							<li class="prev disabled"><a href="#"><i class="fa fa-angle-left"></i> Previous</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li class="next"><a href="#">Next <i class="fa fa-angle-right"></i></a></li>
						</ul>
					</nav>
				</div>
		</div>
</div>
</section>