<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel ">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-users"></i> {$TableTitle}
            </span>
            <div class="pull-right hidden-xs">
                <code class="mr20"></code>
            </div>
            </div>
        <div class="panel-body pn table-responsive">              
            <table class="table table-striped table-hover sort">
                <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Время/Дата</th>
                        <th width=80>Приход</th>
                        <th width=80>Расход</th>
                        <th>Состояние счета</th>
                        <th>Тип операции</th>
                        <th>Описание</th>

                    </tr>
                </thead>
                <tbody>
                {foreach from=$List item=row}
                    <tr>
                        <td>{$row.id}</td>
                        <td>{$row.date_create|date_format:"%H:%M %d/%m/%y"}</td>
                    {if $row.type_transfer==1 || $row.type_transfer==5 || $row.type_transfer==7}
                        <td class="text-success">+{$row.value|number_format:2:".":" "}</td>
                    {else}
                        <td></td>
                    {/if}

                    {if $row.type_transfer==2 || $row.type_transfer==3 || $row.type_transfer==4 || $row.type_transfer==6}
                        <td class="text-danger">-{$row.value|number_format:2:".":" "}</td>
                    {else}
                        <td></td> 
                    {/if}
                        <td>{$row.account_value|number_format:2:".":" "}</td>                                                
                        <td>{$row.vis_text}</td>
                        <td>{$row.trans_descr}</td>

                    </tr>
                {/foreach}
                </tbody>
            </table>       
        </div>
    </div>
</div>
</section>