<section id="content" class="">
  <div class="row mt30">
    <div class="col-md-9">
      <div class="panel br-t bw5 br-grey">
        <div class="panel-body pn">
          <div class="p25 br-b">
            <h2 class="fw200 mb20 mt10">{$TableTitle}</h2>
            <div class="input-group input-hero mb30 hidden">
              <span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
              <input type="text" id="icon-filter" class="form-control" placeholder="Search FAQ's...">
            </div>
            {$acc=0}
            {foreach from=$List item=row}
                {if $row.type_account==4}
                    {$acc=1}
                {/if}
            {/foreach}
            {if isset($GET.outgoing) && $acc==0}
            <div class="row alert alert-danger alert-dismissable mb30">
                <button type="button" class="close">×</button>
                    <h3 class="mt5">Ошибка</h3>
                    <a href='#help' class='btn btn-primary modals pull-right' data-helpId=1>Как открыть лицевой счет?</a>
                    <p>Лицевой счет не создан</p>
            </div>
            {/if}
          </div>

          <form name="form" method="post" action=''>
            <div class="table-layout p25 br-t bg-light">
              <div class="col-md-12 va-m">                 
                <div class="admin-form">
                  <div class="section row mb10">
                    <label for="account-name" class="field-label col-md-3 ">
                    {if isset($GET.between)}Списать со счета{else}Счет{/if}
                    </label>
                    <div class="col-md-9">      
                      <label class="field select">
                        <select  name="id_account" data-edit=1 {if !isset($GET.between)}readonly{/if}>
                          {foreach from=$List item=row}

                          {if isset($GET.between) && $row.type_account!=1}
                              <option value='{$row.id}'>{$row.full_account|truncate:8:'***':true:true} {$row.value|number_format:2:".":" "}{$row.title}</option> 
                          {/if}

                          {if isset($GET.outgoing) && $row.type_account==4}
                              <option value='{$row.id}' selected="selected">{$row.full_account|truncate:8:'***':true:true} {$row.value|number_format:2:".":" "} {$row.title}</option> 
                          {/if}

                          {/foreach}                                                                                        
                        </select>
                        <i class="arrow double"></i>
                      </label>
                    </div>
                  </div>                              
                  <div class="section row mb10">
                    <label for="account-name" class="field-label col-md-3 ">Тип операции</label>
                    <div class="col-md-9">      
                      <label class="field select">
                      <select  name="type_transfer" data-edit=1 required readonly>
                
{if isset($GET.outgoing) && !isset($GET.between)}                                        
                                  <option value='2' selected="selected">Вывод средств</option>
{/if}
{if !isset($GET.outgoing) && isset($GET.between)}                                        
                                  <option value='3' selected="selected">Между счетами</option>
{/if}
                                                                                        
                              </select>
                              <i class="arrow double"></i>
                          </label>
                      </div>
                  </div>
                        
                    <div class='between {if !isset($GET.between)}hidden{/if}'>     
                        <div class="section row mb10">
                            <label for="account-name" class="field-label col-md-3 ">Зачислить на счет</label>
                            <div class="col-md-9">      
                                <label class="field select">
                                    <select  name="id_account_to" data-edit=0 required> 
                                        {foreach from=$List item=row}
                                        {if isset($GET.between) && $row.type_account!=1}
                                            <option value='{$row.id}'>{$row.full_account|truncate:8:'***':true:true} {$row.value|number_format:2:".":" "}{$row.title}</option> 
                                        {/if}
                                        {/foreach}  

                                    </select>
                                    <i class="arrow double"></i>
                                </label>
                            </div>
                        </div>     
</div>


<!--{*                       
                        <div class="section row mb10">
                            <label for="account-name" class="field-label col-md-3 ">Тип зачисления</label>
                            <div class="col-md-9">      
                                <label class="field select">
                                    <select  name="method_transfer" data-edit=0 required>
                                        <option value=0>Выберите тип</option>
                                    {foreach from=$label.method_transfer item=row name=foo}
                                        <option value='{$row.id}' {if $order_info.method_transfer==$row.id}selected="selected"{/if}>{$row.title}</option>
                                    {/foreach}                                                                     
                                    </select>
                                    <i class="arrow double"></i>
                                </label>
                            </div>
                        </div>                          
                        <div class="section row mb10">
                            <label for="account-name" class="field-label col-md-3 ">Назначение платежа</label>
                            <div class="col-md-9">      
                                <label class="field select">
                                    <select  name="purpose" data-edit=0 required>
                                        <option value=0>Выберите тип</option>
                                    {foreach from=$label.purpose item=row name=foo}
                                        <option value='{$row.id}' {if $order_info.purpose==$row.id}selected="selected"{/if}>{$row.title}</option>
                                    {/foreach}                                                                        
                                    </select>
                                    <i class="arrow double"></i>
                                </label>
                            </div>
                        </div>  
 *} -->                      
                    <div class="section row mb10">
                        <label for="account-name" class="field-label col-md-3 ">Сумма</label>
                        <div class="col-md-9">      
                            <input type="text" name="value" class="gui-input" value="{$order_info.value}" data-edit=0>
                        </div>
                    </div>
                    <div class="section row mb10">
                        <label for="account-name" class="field-label col-md-3 ">Описание транзакции</label>
                        <div class="col-md-9">      
                            <textarea name="reference" class="gui-input"  data-edit=1 readonly>{if isset($order_info.reference)}{$order_info.reference}{elseif isset($GET.outgoing)}Вывод средств по реквизитам: {$client.details_withdrawal}{/if}</textarea>
                        </div>
                    </div>

                                        
                                                                 
                </div>
                </div>
              
            </div>
            {*
            <div class="p25 br-t">
              <h4 class="text-muted mb20 mtn"> Внутренняя информация о компании </h4>
                <div class="admin-form"> 
                                                                
                    <div class="section row mb10">
                        <label class="field-label col-md-3 ">Величина уставного капитала</label>
                        <div class="col-md-9">
                            <input type="text" name="authorized_capital" class="gui-input post" value="{$Project.authorized_capital}"  data-edit=0>         
                        </div>
                    </div>      
                    <div class="section row mb10">
                        <label class="field-label col-md-3 ">Численность персонала</label>
                        <div class="col-md-9">
                            <input type="text" name="staff_number" class="gui-input post" value="{$Project.staff_number}"  data-edit=0>         
                        </div>
                    </div>                          
  
                </div>   
            </div>
*}
         <input name='command' type="hidden" value="create"  data-edit=1>   
</form>
          </div>
        </div>
      </div>

      <!-- FAQ Right Column -->
      <div class="col-md-3">

        <div class="mb15">
            <a href='/?p=account&table{if isset($GET.transaction)}&transaction{/if}{if isset($GET.bookkeeping)}&bookkeeping{/if}' class="btn btn-success light pv10 fw600  mb10" ><span class='fa fa-arrow-left'></span> Вернуться</a>
            <button type="button" class="order_click btn btn-primary pv10 fw600 mb10       {if isset($GET.outgoing) && $acc==0} hidden{/if}"  data-command='create'><span class='fa fa-plus'></span> Создать</button> 

        
        </div>
{*
        <div class="panel mb10">
            <div class="panel-heading">
                <span class="panel-icon">
                    <i class="fa fa-users"></i>
                </span>
                <span class="panel-title"> Бенефициары проекта</span>
            </div>
            <div class="panel-body text-muted p10">
{foreach from=$Beneficiary name=foo item=row}                  
                <ul class="list-unstyled {if $smarty.foreach.foo.index>0}br-t pt10{/if}">
                    <li>Имя: <strong class="text-dark"> {$row.name}</strong> <a href='/?p=project&edit&beneficiary&id={$row.id}' class='text-right '><span class='fa fa-edit'></span></a></li>
                    <li>Кол-во акций: {$row.capital_in_stock}</li>
                    <li>Акций в %: {$row.capital_in_percent}</li>
                    <li>Статус: {$row.vis_text}</li>
                </ul>
{foreachelse}{/foreach}


            </div>
            <div class="panel-footer text-muted p10"></div>
        </div>
        
*}
    </div>
</div>          
</section>