<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel ">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-users"></i> {$TableTitle}
            </span>
            <div class="pull-right hitden-xs">
                <code class="mr20"></code>
            </div>
        </div>
        <div class="panel-body pn table-responsive">
            <table class="table table-striped table-hover ">
                <tbody>
                    <tr>
                        <th colspan=2>Бенефициар / Получатель</th>
                    </tr>
                    <tr>        
                        <th>Бенефициар / Получатель</th>
                        <td>Фонд развития бизнеса «Финансовое партнерство»</td>
                    </tr>
                    <tr>          
                        <th>Адрес получателя</th>
                        <td>101000, Архангельский переулок д. 9, стр. 1, офис 6, Москва, Российская Федерация.</td>
                    </tr>
                    <tr>         
                        <th>Код страны получателя</th>
                        <td>RUSSIAN FEDERATION – RU</td>
                    </tr>
                    <tr>  
                        <th>Счет получателя</th>
                        <td>40701810002740000005</td>
                    </tr>
                    <tr>  
                        <th  colspan=2>Банк получателя	</th>
                    </tr>
                    <tr>      
                        <th>Бик банка</th>
                        <td>044525593</td>
                    </tr>
                    <tr>  
                        <th>SWIFT</th>
                        <td>ALFARUMM</td>
                    </tr>
                    <tr>  
                        <th>Код страны</th>
                        <td>RUSSIAN FEDERATION - RU</td>
                    </tr>
                    <tr>  
                        <th>Адрес банка получателя</th>
                        <td>107078, ул. Каланчевская 27, Москва, Российская Федерация</td>
                    </tr>
                    <tr>  
                        <th  colspan=2>Информация получателю (назначение платежа)</th>
                    </tr>
                    <tr>  
                        <th>Информация получателю</th>
                        <td>Взнос на пополнение лицевого счета {foreach from=$AccountList.row item=row name=foo}{if  $row.type_account==4}{$row.full_account}{/if}{/foreach}, получатель: {$smarty.session.site_fio}</td>
                    </tr>  
                </tbody>
            </table>       
        </div>
    </div>
</div>
</section>
