<section id="content" class="table-layout animated fadeIn">
<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel ">
        <div class="panel-heading">
            <span class="panel-title">
                <i class="fa fa-users"></i> {$TableTitle}
            </span>
            <div class="pull-right hidden-xs">
                <code class="mr20"></code>
            </div>
            </div>
        <div class="panel-body pn table-responsive">              
            <table class="table table-striped table-hover sort">
                <thead>
                    <tr>
                        <th>ID</th>                        
                        <th>ID счета</th>
                        <th width=90>Приход</th>
                        <th width=90>Расход</th>
                        <th>Назначение</th>
                        <th>Тип перевода</th>
                        <th>Метод перевода</th>
                        <th>Описание</th>
                        <th>Дата создания</th>
                        <th>Состояние</th>  
                    </tr>
                </thead>
                <tbody>
                {foreach from=$List item=row}
                    <tr><!--&bookkeeping-->
                        <td>#{$row.id}<a href='/?p=account&transaction&edit&id={$row.id}'></a></td>
                        <td>{$row.full_account}</td>

                        {if $row.type_transfer==1 || $row.type_transfer==5 || $row.type_transfer==7}<td class="text-success">+{$row.value|number_format:2:".":" "}</td>{else} <td></td> {/if}
                        {if $row.type_transfer==2 || $row.type_transfer==3 || $row.type_transfer==4 || $row.type_transfer==6}<td class="text-danger">-{$row.value|number_format:2:".":" "}</td>{else} <td></td> {/if}
 
                        <!--td class='{if $row.type_transfer_id==2}text-danger{elseif $row.type_transfer_id==1 || $row.type_transfer_id==3}text-success{/if}'>{if $row.type_transfer_id==1}+{/if}{if $row.type_transfer_id==2}-{/if}{$row.value|number_format:2:".":" "}</td-->
                        <td>{$row.purpose}</td>
                        <td>{$row.type_transfer_title}</td>
                        <td>{$row.method_transfer}</td>
                        <td>{$row.reference}</td>
                        <td>{$row.date_create|date_format:"%H:%M %d.%m.%y"}</td>
                        <td>{$row.vis_text}</td>
                    </tr>
                {/foreach}
                </tbody>
            </table>       
        </div>
    </div>
</div>
</section>