<script src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
<script src="vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>

<script src="/js/jquery.cookie.js"></script> 

<script src="vendor/plugins/canvasbg/canvasbg.js"></script>
<script src="vendor/plugins/pnotify/pnotify.js"></script> 

<script src="assets/js/utility/utility.js"></script>
<script src="assets/js/demo/demo.js"></script>
<script src="assets/js/main.js"></script> 
<script src="/js/liteuploader.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
"use strict";
Core.init();
// Init Demo JS
Demo.init();

// Init CanvasBG and pass target starting location
/*   CanvasBG.init({
  Loc: {
    x: window.innerWidth / 2,
    y: window.innerHeight / 3.3
  },
});
*/
});
{include file='../js/custom.js'}
{include file='../js/enter.js'} 

</script>
{if isset($smarty.get.forgot)}
{include file='../js/enter_forgot.js'}
{/if}