<aside id="sidebar_left" class="nano nano-light affix" style=' 1background:url("assets/img/patterns/backgrounds/1.jpg") center center'>
    <div class="sidebar-left-content nano-content ">
     {* <header class="sidebar-header hidden">
            <div class="sidebar-widget author-widget hidden">
                <div class="media">
                  <a class="media-left" href="#">
                    <img src="assets/img/avatars/2.jpg" class="img-responsive">
                  </a>
                  <div class="media-body">
                    <div class="media-links">
                       <a href="#" class="sidebar-menu-toggle hidden">User Menu -</a> <a href="/?p=exit&id={$smarty.session.site_user}">Выйти</a>
                    </div>
                    <div class="media-author">{$smarty.session.site_fio}</div>
                  </div>
                </div>
            </div>

              <!-- Sidebar Widget - Menu (slidedown) -->
              <div class="sidebar-widget menu-widget hidden">
                <div class="row text-center mbn">
                  <div class="col-xs-4">
                    <a href="dashboard.html" class="text-primary" data-toggle="tooltip" data-placement="top" title="Dashboard">
                      <span class="glyphicon glyphicon-home"></span>
                    </a>
                  </div>
                  <div class="col-xs-4">
                    <a href="pages_messages.html" class="text-info" data-toggle="tooltip" data-placement="top" title="Messages">
                      <span class="glyphicon glyphicon-inbox"></span>
                    </a>
                  </div>
                  <div class="col-xs-4">
                    <a href="pages_profile.html" class="text-alert" data-toggle="tooltip" data-placement="top" title="Tasks">
                      <span class="glyphicon glyphicon-bell"></span>
                    </a>
                  </div>
                  <div class="col-xs-4">
                    <a href="pages_timeline.html" class="text-system" data-toggle="tooltip" data-placement="top" title="Activity">
                      <span class="fa fa-desktop"></span>
                    </a>
                  </div>
                  <div class="col-xs-4">
                    <a href="pages_profile.html" class="text-danger" data-toggle="tooltip" data-placement="top" title="Settings">
                      <span class="fa fa-gears"></span>
                    </a>
                  </div>
                  <div class="col-xs-4">
                    <a href="pages_gallery.html" class="text-warning" data-toggle="tooltip" data-placement="top" title="Cron Jobs">
                      <span class="fa fa-flask"></span>
                    </a>
                  </div>
                </div>
              </div>
        
              <!-- Sidebar Widget - Search (hidden) -->
              <div class="sidebar-widget search-widget hidden">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                  <input type="text" id="sidebar-search" class="form-control" placeholder="Search...">
                </div>
              </div>

    </header> *}
    <!-- End: Sidebar Header -->

    <!-- Start: Sidebar Menu -->
    <ul class="nav sidebar-menu">
      <li class="sidebar-label pt20">Меню</li>
      <li class='hidden'>
        <a href="pages_calendar.html">
          <span class="fa fa-calendar"></span>
          <span class="sidebar-title">Calendar</span>
          <span class="sidebar-title-tray">
            <span class="label label-xs bg-primary">New</span>
          </span>
        </a>
      </li>
      <li class='hidden'>
        <a href="../README/index.html">
          <span class="glyphicon glyphicon-book"></span>
          <span class="sidebar-title">Documentation</span>
        </a>
      </li>
      <li class="active">
        <a href="/">
          <span class="glyphicon glyphicon-home"></span>
          <span class="sidebar-title">Рабочий стол</span>
        </a>
      </li> 
    {$part_menu='account'}     
    <li class="{if $smarty.get.p==$part_menu}active{/if}">
        <a href="#" class="accordion-toggle {if $GET.p==$part_menu}menu-open{/if}">
            <span class="fa fa-credit-card"></span>
            <span class="sidebar-title">Мои счета</span>
        </a>
        <ul class="nav sub-nav">
            <li class='{if isset($GET.table) && $smarty.get.p==$part_menu && !isset($GET.transaction)}active{/if}'>
                <a href="/?p={$part_menu}&table">
                    <span class="glyphicons glyphicons-list"></span> Список счетов </a>
            </li>
            <li class='{if  $smarty.get.p==$part_menu && isset($GET.transaction)}active{/if}'>
                <a href="/?p={$part_menu}&table&transaction">
                    <span class="glyphicons glyphicons-list"></span> Список транзакций </a>
            </li>
            <li class='{if $smarty.get.p==$part_menu && isset($GET.incoming)}active{/if}'>
                <a href="/?p={$part_menu}&incoming">
                    <span class="glyphicons glyphicons-circle_plus"></span> Пополнить счет</a>
            </li>
            <li class='{if $smarty.get.p==$part_menu && isset($GET.outgoing)}active{/if}'>
                <a href="/?p={$part_menu}&edit&outgoing">
                    <span class="glyphicons glyphicons-circle_plus"></span> Вывести средства</a>
            </li>
            <li class='{if $smarty.get.p==$part_menu && isset($GET.between)}active{/if}'>
                <a href="/?p={$part_menu}&edit&between">
                    <span class="glyphicons glyphicons-circle_plus"></span> Перевод между счетами</a>
            </li>
        </ul>
    </li>
    {$part_menu='position'}
    <li class="{if $smarty.get.p==$part_menu}active{/if}">
        <a href="#" class="accordion-toggle {if $GET.p==$part_menu}menu-open{/if}">
            <span class="fa fa-area-chart"></span>
            <span class="sidebar-title">Мои позиции</span>
        </a>
       
        <ul class="nav sub-nav">
            <li class='{if isset($GET.open) && $smarty.get.p==$part_menu}active{/if}'>
                <a href="/?p={$part_menu}&table&open">
                    <span class="glyphicons glyphicons-list"></span> Открытые позиции </a>
            </li>
            <li class='{if isset($GET.close) && $smarty.get.p==$part_menu}active{/if}'>
                <a href="/?p={$part_menu}&table&close">
                    <span class="glyphicons glyphicons-list"></span> Закрытые позиции </a>
            </li>
        </ul>
    </li>
{if $smarty.session.row.is_beneficiary==1}{/if}
    {$part_menu='beneficiary'}
    <li class="{if $smarty.get.p==$part_menu}active{/if}">
        <a href="#" class="accordion-toggle {if $GET.p==$part_menu}menu-open{/if}">
            <span class="glyphicon glyphicon-briefcase"></span>
            <span class="sidebar-title">Раздел бенефициара</span>
        </a>
        <ul class="nav sub-nav">
            <li class='{if $smarty.get.p==$part_menu && isset($GET.registration)}active{/if}'>
                <a href="/?p={$part_menu}&table&registration">
                    <span class="glyphicons glyphicons-list"></span>Заявление на оформление акций в собственность </a>
            </li>
            <li class='{if $smarty.get.p==$part_menu && !isset($GET.registration)}active{/if}'>
                <a href="/?p={$part_menu}&table&open">
                    <span class="glyphicons glyphicons-list"></span> Заявление на продажу акций </a>
            </li>

        </ul>
    </li>

{*
    <li class='set_account_active' data-account='demo' data-account-id='{$smarty.session.site_user_account_demo}'>
        <div class='ml20 mt10'>
            <span class="fa {if $smarty.session.site_user_account_demo==$smarty.session.site_user_account_active} fa-dot-circle-o text-white{else}fa-circle-o text-muted{/if}"></span>
            <span class="sidebar-title  {if $smarty.session.site_user_account_demo==$smarty.session.site_user_account_active}text-white{else}text-muted{/if}">Демо счет {$smarty.session.site_user_account_demo_amount|number_format:2:".":"&nbsp;"} <i class='fa fa-rub'></i></span>
        </div>
    </li>
{if $smarty.session.site_user_account>0}
    <li class='set_account_active' data-account='real' data-account-id='{$smarty.session.site_user_account}'>
        <div class='ml20 mt10'>
            <span class="fa {if $smarty.session.site_user_account==$smarty.session.site_user_account_active} fa-dot-circle-o text-white{else}fa-circle-o  text-muted{/if}"></span>
            <span class="sidebar-title  {if $smarty.session.site_user_account==$smarty.session.site_user_account_active}text-white{else}text-muted{/if}">Реальный счет {$smarty.session.site_user_account_amount|number_format:2:".":"&nbsp;"} <i class='fa fa-rub'></i></span>
        </div>
    </li>
{/if}  
    


      <!-- sidebar progress bars -->
      <li class="sidebar-label pt25 pb10">Мои цели</li>
      <li class="sidebar-stat">
        <a href="#projectOne" class="fs11">
          <span class="fa fa-inbox text-info"></span>
          <span class="sidebar-title text-muted">Паста</span>
          <span class="pull-right mr20 text-muted">35%</span>
          <div class="progress progress-bar-xs mh20 mb10">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
              <span class="sr-only">35% достигнуто цены</span>
            </div>
          </div>
        </a>
      </li>
      <li class="sidebar-stat">
        <a href="#projectOne" class="fs11">
          <span class="fa fa-dropbox text-warning"></span>
          <span class="sidebar-title text-muted">Saishi</span>
          <span class="pull-right mr20 text-muted">58%</span>
          <div class="progress progress-bar-xs mh20">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 58%">
              <span class="sr-only">58% достигнуто цены</span>
            </div>
          </div>
        </a>
      </li>
*}
    </ul>

    <div class="sidebar-toggle-mini">
        <a href="#">
            <span class="fa fa-sign-out"></span>
        </a>
    </div>
</div>
</aside>