<aside id="sidebar_right" class="nano affix">

	<!-- Start: Sidebar Right Content -->
	<div class="sidebar-right-content nano-content">

		<div class="tab-block sidebar-block br-n">
			<ul class="nav nav-tabs tabs-border nav-justified ">
				<li class="active">
					<a href="#sidebar-right-tab1" data-toggle="tab">Открытые позиции</a>
				</li>
				<li>
					<a href="#sidebar-right-tab2" data-toggle="tab">Мои счета</a>
				</li>
				<li class='hidden'>
					<a href="#sidebar-right-tab3" data-toggle="tab">Новости компаний</a>
				</li>
			</ul>
			<div class="tab-content br-n">
				<div id="sidebar-right-tab1" class="tab-pane active">
					{foreach from=$widget_open_position.row item=row} {if $title!=$row.title}
					<h5 class="title-divider text-muted mt30 mb10">{$row.title} <a href='/?p=stock&id={$row.type_bonds}' class='pull-right' title='Перейти к графику'><span class='fa fa-line-chart'></span></a></h5> {/if} {$title=$row.title}
					<div class="row title-divider mt10">
						<div class="col-xs-8">
							<h3 class="text-primary mn pl5" title='по цене {$row.price|number_format:2:".":"&nbsp;"}'>{$row.bonds_count} шт.</h3>
						</div>
						<div class="col-xs-4 text-right" data-id_bond_name='{$row.type_bonds}' data-price='{$row.price}'>
							<span class='fa fa-spinner fa-spin'></span>
						</div>
					</div>
					{foreachelse}
					<h5 class="title-divider text-muted mt30 mb10">У вас нет открытых позиций</h5> {/foreach}





				</div>
				<div id="sidebar-right-tab2" class="tab-pane">
					<div class="alert alert-micro alert-border-left alert-info alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<i class="fa fa-info pr10"></i>
						<strong>Выберите счет</strong> чтобы сделать его активным.
					</div>

					<div class="option-group field section  admin-form sidebar-title">
						<div class='row mt5 title-divider'>
							<div class='col-md-7 fs12 '>Активный счет</div>
							<div class='col-md-5 fs12'>Баланс</div>
						</div>

						{foreach from=$AccountList.row item=row name=foo}
						<div class='row mt5 '>
							<div class='col-md-7'>
								<label for="acc_{$smarty.foreach.foo.index}" class="block option option-primary set_account_active {if $row.id==$smarty.session.site_user_account_active} text-default{else} text-muted{/if}" data-disabled='{if $row.type_account==3}1{else}0{/if}' data-account-id='{$row.id}'>
									<input type="radio" id="acc_{$smarty.foreach.foo.index}" name='acc' {if $row.id==$smarty.session.site_user_account_active} checked="" {/if} {if $row.type_account==3} disabled="" {/if}>
									<span class="radio "></span>
									<span class=' fs12  {if $row.id==$smarty.session.site_user_account_active} text-default{else} text-muted{/if}'>{$row.title}</span>
								</label>
							</div>
							<div class='col-md-5 fs12 pt5'>
								{$row.value|number_format:2:".":"&nbsp;"} <i class='fa fa-rub'></i>
							</div>
						</div>
						{/foreach}

					</div>
				</div>
				<div id="sidebar-right-tab3" class="tab-pane"></div>
			</div>
			<!-- end: .tab-content -->
		</div>
	</div>
</aside>
