<header class="navbar navbar-fixed-top navbar-shadow bg-primary">
	<div class="navbar-branding">
		<a class="navbar-brand" href="/">
			<b>Stock</b>Market
		</a>
		<span id="toggle_sidemenu_l" class="ad ad-lines"></span>
	</div>
	<ul class="nav navbar-nav navbar-left hidden">
		<li class="dropdown menu-merge hidden-xs">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
			<span class="caret caret-tp"></span>
		  </a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</li>
		<li class="hidden-xs">
			<a class="request-fullscreen toggle-active" href="#">
				<span class="ad ad-screen-full fs18"></span>
			</a>
		</li>
	</ul> {* доп меню *}
	<form class="navbar-form navbar-left navbar-search {if $smarty.session.mg==''}hidden{/if}" role="search"> {* поиск вверху*}
		<input type='hidden' name='p' value='search'>
		<div class="form-group">
			<input type="text" name='find' class="form-control" placeholder="Ф.И. или номер транзакций" value="{$GET.find}">
		</div>
	</form>
	<ul class="nav navbar-nav navbar-right ">
		<!--        {* верхнее с оповещениями*} -->
		<li class=' hidden'>
			<div class="navbar-btn btn-group">
				<a href="#" class="topbar-menu-toggle btn btn-sm" data-toggle="button">
					<span class="ad ad-wand"></span>
				</a>
			</div>
		</li>
<!--{* Открытые позиции *}-->
		<li class="dropdown menu-merge">
			<div class="navbar-btn btn-group">
				<button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
				  <span class="fa fa-line-chart fs14 va-m"></span>
				  <span class="badge badge-success" id='trayOpenPosition'>{$widget_open_position.row|count}</span>
				</button>
				<div class="dropdown-menu dropdown-persist w350 animated animated-shorter fadeIn" role="menu">
					<div class="panel mbn">
						<div class="panel-menu">
							<span class="panel-icon"><i class="fa fa-clock-o"></i></span>
							<span class="panel-title fw600"> Текущие открыте позиции</span>
							<button class="btn btn-default light btn-xs pull-right hidden" type="button"><i class="fa fa-refresh"></i></button>
						</div>
						<div class="panel-body panel-scroller scroller-navbar scroller-overlay scroller-pn pn">
							<ol class="timeline-list">
			 					{foreach from=$widget_open_position.row item=row} 
			 					<li class="timeline-item">
			 					  <div class="timeline-icon bg-dark light">
										<span class="fa fa-tags hidden"></span> MFO
									</div>
									<div class="timeline-desc">
										<b>{$row.title}<br>{$row.bonds_count} шт.</b>
										<a href="/?p=stock&id={$row.type_bonds}" data-id_bond_name='{$row.type_bonds}' data-price='{$row.price}'><span class='fa fa-spinner fa-spin'></span></a>
									</div>
									<div class="timeline-date" style=' width:60px; text-align: right'>{$row.date_create|date_format:"%H:%M%:%S %d.%m.%Y"}</div>
									
{*             					
								<h5 class="title-divider text-muted mt30 mb10 hidden">{$row.title} <a href='/?p=stock&id={$row.type_bonds}' class='pull-right' title='Перейти к графику'><span class='fa fa-line-chart'></span></a></h5> {$title=$row.title}
								<div class="row title-divider mt10 hidden">
									<div class="col-xs-8">
										<h3 class="text-primary mn pl5" title='по цене {$row.price|number_format:2:".":"&nbsp;"}'>{$row.bonds_count} шт.</h3>
									</div>
									<div class="col-xs-4 text-right" data-id_bond_name='{$row.type_bonds}' data-price='{$row.price}'>
										
									</div>
								</div>
*}
								</li>
								{foreachelse}
								<li><h5 class="title-divider text-muted mt30 mb10">У вас нет открытых позиций</h5></li> {/foreach}                               
								
								
								<li class="timeline-item hidden">
									<div class="timeline-icon bg-dark light">
										<span class="fa fa-tags"></span>
									</div>
									<div class="timeline-desc">
										<b>Michael</b> Added to his store:
										<a href="#">Ipod</a>
									</div>
									<div class="timeline-date">1:25am</div>
								</li>
 
							</ol>

						</div>
						<div class="panel-footer text-center p7">
							<a href="/?p=position&table&open" class="link-unstyled">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="dropdown menu-merge hidden">
			<div class="navbar-btn btn-group">
				<button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
				  <span class="ad ad-radio-tower fs14 va-m"></span>
				  <span class="badge">5</span>
				</button>
				<div class="dropdown-menu dropdown-persist w350 animated animated-shorter fadeIn" role="menu">
					<div class="panel mbn">
						<div class="panel-menu">
							<div class="btn-group btn-group-justified btn-group-nav" role="tablist">
								<a href="#nav-tab1" data-toggle="tab" class="btn btn-default btn-sm active">Notifications</a>
								<a href="#nav-tab2" data-toggle="tab" class="btn btn-default btn-sm br-l-n br-r-n">Messages</a>
								<a href="#nav-tab3" data-toggle="tab" class="btn btn-default btn-sm">Activity</a>
							</div>
						</div>
						<div class="panel-body panel-scroller scroller-navbar pn">
							<div class="tab-content br-n pn">
								<div id="nav-tab1" class="tab-pane alerts-widget active" role="tabpanel">
									<div class="media">
										<a class="media-left" href="#"> <span class="glyphicon glyphicon-user text-info"></span> </a>
										<div class="media-body">
											<h5 class="media-heading">New Registration
							  <small class="text-muted"></small>
							</h5> Tyler Durden - 16 hours ago

										</div>
										<div class="media-right">
											<div class="media-response"> Approve?</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-check text-success"></i>
							  </button>
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-remove"></i>
							  </button>
											</div>
										</div>
									</div>
									<div class="media">
										<a class="media-left" href="#"> <span class="glyphicon glyphicon-shopping-cart text-success"></span> </a>
										<div class="media-body">
											<h5 class="media-heading">New Order
							  <small class="text-muted"></small>
							</h5> <a href="#">Apple Ipod</a> - 4 hours ago
										</div>
										<div class="media-right">
											<div class="media-response"> Confirm?</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-check text-success"></i>
							  </button>
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-print"></i>
							  </button>
											</div>
										</div>
									</div>
									<div class="media">
										<a class="media-left" href="#"> <span class="glyphicon glyphicon-comment text-system"></span> </a>
										<div class="media-body">
											<h5 class="media-heading">New Comment
							  <small class="text-muted"></small>
							</h5> Mike - I loved your article!
										</div>
										<div class="media-right">
											<div class="media-response text-right"> Moderate?</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-pencil"></i>
							  </button>
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-check text-success"></i>
							  </button>
											</div>
										</div>
									</div>
									<div class="media">
										<a class="media-left" href="#"> <span class="glyphicon glyphicon-star text-warning"></span> </a>
										<div class="media-body">
											<h5 class="media-heading">New Review
							  <small class="text-muted"></small>
							</h5> Sammy Hilton - 4 hours ago
										</div>
										<div class="media-right">
											<div class="media-response"> Approve?</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-check text-success"></i>
							  </button>
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-remove"></i>
							  </button>
											</div>
										</div>
									</div>
									<div class="media">
										<a class="media-left" href="#"> <span class="glyphicon glyphicon-user text-info"></span> </a>
										<div class="media-body">
											<h5 class="media-heading">New Registration
							  <small class="text-muted"></small>
							</h5> Michael Sober - 7 hours ago
										</div>
										<div class="media-right">
											<div class="media-response"> Approve?</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-check text-success"></i>
							  </button>
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-remove"></i>
							  </button>
											</div>
										</div>
									</div>
									<div class="media">
										<a class="media-left" href="#"> <span class="glyphicon glyphicon-usd text-alert"></span> </a>
										<div class="media-body">
											<h5 class="media-heading">New Invoice
							  <small class="text-muted"></small>
							</h5> <a href="#">Apple Ipod</a> - 4 hours ago

										</div>
										<div class="media-right">
											<div class="media-response single">#518358</div>
										</div>
									</div>
									<div class="media">
										<a class="media-left" href="#"> <span class="glyphicon glyphicon-shopping-cart text-success"></span> </a>
										<div class="media-body">
											<h5 class="media-heading">New Order
							  <small class="text-muted"></small>
							</h5> <a href="#">Apple Ipod</a> - 4 hours ago
										</div>
										<div class="media-right">
											<div class="media-response"> Confirm?</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-check text-success"></i>
							  </button>
												<button type="button" class="btn btn-default btn-xs light">
								<i class="fa fa-print"></i>
							  </button>
											</div>
										</div>
									</div>
								</div>
								<div id="nav-tab2" class="tab-pane chat-widget" role="tabpanel">
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img class="media-object" alt="64x64" src="assets/img/avatars/3.jpg">
											</a>
										</div>
										<div class="media-body">
											<span class="media-status online"></span>
											<h5 class="media-heading">Courtney Faught
							  <small> - 12:30am</small>
							</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
										</div>
									</div>
									<div class="media">
										<div class="media-body">
											<span class="media-status offline"></span>
											<h5 class="media-heading">Joe Gibbons
							  <small> - 12:30am</small>
							</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
										</div>
										<div class="media-right">
											<a href="#">
												<img class="media-object" alt="64x64" src="assets/img/avatars/1.jpg">
											</a>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img class="media-object" alt="64x64" src="assets/img/avatars/2.jpg">
											</a>
										</div>
										<div class="media-body">
											<span class="media-status online"></span>
											<h5 class="media-heading">Courtney Faught
							  <small> - 12:30am</small>
							</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metuscommodo.
										</div>
									</div>
									<div class="media">
										<div class="media-body">
											<span class="media-status offline"></span>
											<h5 class="media-heading">Joe Gibbons
							  <small> - 12:30am</small>
							</h5> Cras sit amet nibh libero, in Nulla vel metus scelerisque antecommodo.
										</div>
										<div class="media-right">
											<a href="#">
												<img class="media-object" alt="64x64" src="assets/img/avatars/1.jpg">
											</a>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img class="media-object" alt="64x64" src="assets/img/avatars/2.jpg">
											</a>
										</div>
										<div class="media-body">
											<span class="media-status online"></span>
											<h5 class="media-heading">Courtney Faught
							  <small> - 12:30am</small>
							</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque soltudino.
										</div>
									</div>
									<div class="media">
										<div class="media-body">
											<span class="media-status offline"></span>
											<h5 class="media-heading">Joe Gibbons
							  <small> - 12:30am</small>
							</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
										</div>
										<div class="media-right">
											<a href="#">
												<img class="media-object" alt="64x64" src="assets/img/avatars/1.jpg">
											</a>
										</div>
									</div>
								</div>
								<div id="nav-tab3" class="tab-pane scroller-nm" role="tabpanel">
									<ul class="media-list" role="menu">
										<li class="media">
											<a class="media-left" href="#"> <img src="assets/img/avatars/5.jpg" class="mw40" alt="avatar"> </a>
											<div class="media-body">
												<h5 class="media-heading">Article
								<small class="text-muted">- 08/16/22</small>
							  </h5> Last Updated 36 days ago by
												<a class="text-system" href="#"> Max </a>
											</div>
										</li>
										<li class="media">
											<a class="media-left" href="#"> <img src="assets/img/avatars/2.jpg" class="mw40" alt="avatar"> </a>
											<div class="media-body">
												<h5 class="media-heading mv5">Article
								<small> - 08/16/22</small>
							  </h5> Last Updated 36 days ago by
												<a class="text-system" href="#"> Max </a>
											</div>
										</li>
										<li class="media">
											<a class="media-left" href="#"> <img src="assets/img/avatars/3.jpg" class="mw40" alt="avatar"> </a>
											<div class="media-body">
												<h5 class="media-heading">Article
								<small class="text-muted">- 08/16/22</small>
							  </h5> Last Updated 36 days ago by
												<a class="text-system" href="#"> Max </a>
											</div>
										</li>
										<li class="media">
											<a class="media-left" href="#"> <img src="assets/img/avatars/4.jpg" class="mw40" alt="avatar"> </a>
											<div class="media-body">
												<h5 class="media-heading mv5">Article
								<small class="text-muted">- 08/16/22</small>
							  </h5> Last Updated 36 days ago by
												<a class="text-system" href="#"> Max </a>
											</div>
										</li>
										<li class="media">
											<a class="media-left" href="#"> <img src="assets/img/avatars/5.jpg" class="mw40" alt="avatar"> </a>
											<div class="media-body">
												<h5 class="media-heading">Article
								<small class="text-muted">- 08/16/22</small>
							  </h5> Last Updated 36 days ago by
												<a class="text-system" href="#"> Max </a>
											</div>
										</li>
										<li class="media">
											<a class="media-left" href="#"> <img src="assets/img/avatars/2.jpg" class="mw40" alt="avatar"> </a>
											<div class="media-body">
												<h5 class="media-heading mv5">Article
								<small> - 08/16/22</small>
							  </h5> Last Updated 36 days ago by
												<a class="text-system" href="#"> Max </a>
											</div>
										</li>
										<li class="media">
											<a class="media-left" href="#"> <img src="assets/img/avatars/3.jpg" class="mw40" alt="avatar"> </a>
											<div class="media-body">
												<h5 class="media-heading">Article
								<small class="text-muted">- 08/16/22</small>
							  </h5> Last Updated 36 days ago by
												<a class="text-system" href="#"> Max </a>
											</div>
										</li>
									</ul>
									<table class="table table-striped hidden">
										<thead>
											<tr>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Username</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Mark</td>
												<td>Otto</td>
												<td>@mdo</td>
											</tr>
											<tr>
												<td>Jacob</td>
												<td>Thornton</td>
												<td>@fat</td>
											</tr>
											<tr>
												<td>Larry</td>
												<td>the Bird</td>
												<td>@twitter</td>
											</tr>
											<tr>
												<td>Sussy</td>
												<td>Watcher</td>
												<td>@thehawk</td>
											</tr>
											<tr>
												<td>Mark</td>
												<td>Otto</td>
												<td>@mdo</td>
											</tr>
											<tr>
												<td>Sussy</td>
												<td>Watcher</td>
												<td>@thehawk</td>
											</tr>
											<tr>
												<td>Jacob</td>
												<td>Thornton</td>
												<td>@fat</td>
											</tr>
											<tr>
												<td>Larry</td>
												<td>the Bird</td>
												<td>@twitter</td>
											</tr>
											<tr>
												<td>Sussy</td>
												<td>Watcher</td>
												<td>@thehawk</td>
											</tr>
											<tr>
												<td>Mark</td>
												<td>Otto</td>
												<td>@mdo</td>
											</tr>
											<tr>
												<td>Jacob</td>
												<td>Thornton</td>
												<td>@fat</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="panel-footer text-center p7">
							<a href="#" class="link-unstyled"> View All </a>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="dropdown menu-merge">
			<div class="navbar-btn btn-group ">
				<button data-toggle="dropdown" class="btn btn-sm dropdown-toggle active-account">
				
					{foreach from=$AccountList.row item=row name=foo}
					{if $row.id==$smarty.session.site_user_account_active}
						{$row.title} <br> <strong>{$row.value|number_format:2:".":"&nbsp;"}</strong> <i class='fa fa-rub'></i> <span class="caret"></span> 			
					{/if}							
						{/foreach}
						

			  </button>
				<ul class="dropdown-menu pv5 animated animated-short flipInX" role="menu">
					{foreach from=$AccountList.row item=row name=foo}
					{if  $row.type_account==4}{$personal_account=$row.full_account}{/if} {* переменная для нужд*}
					{if  $row.type_account==1 ||  $row.type_account==2}
					<li>
						<a class='set_account_active' data-account-id='{$row.id}'>
							<span class='fa {if $row.id==$smarty.session.site_user_account_active}fa-check-square-o{else}fa-square-o{/if}'></span> {$row.title}: <strong>{$row.value|number_format:2:".":"&nbsp;"}</strong> <i class='fa fa-rub'></i>
						</a>
					</li>						
					{/if}							
					{/foreach}
					<li class="divider"></li>
					<li><a href="#help" class='modals' data-helpId='1'>Как открыть счет?</a></li>
				</ul>
			</div>
		</li>
		<li class="dropdown menu-merge hidden">
			<div class="navbar-btn btn-group ">
				<button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
				  <span class="flag-xs flag-us"></span>
				  <!-- <span class="caret"></span> -->
			  </button>
				<ul class="dropdown-menu pv5 animated animated-short flipInX" role="menu">
					<li>
						<a href="javascript:void(0);">
							<span class="flag-xs flag-in mr10"></span> Hindu </a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span class="flag-xs flag-tr mr10"></span> Turkish </a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span class="flag-xs flag-es mr10"></span> Spanish </a>
					</li>
				</ul>
			</div>
		</li>
		<li class="menu-divider hidden-xs  hidden">
			<i class="fa fa-circle"></i>
		</li>
		<li class="dropdown menu-merge">
			<a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
				<img src="assets/img/avatars/1.jpg" alt="avatar" class="mw30 br64">
				<span class="hidden-xs pl15"> {$smarty.session.site_fio} </span>
				<span class="caret caret-tp hidden-xs"></span>
			</a>
			<ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
				<!--{*
			<li class="dropdown-header clearfix">
			  <div class="pull-left ml10">
				<select id="user-status">
				  <optgroup label="Current Status:">
					<option value="1-1">Away</option>
					<option value="1-2">Offline</option>
					<option value="1-3" selected="selected">Online</option>
				  </optgroup>
				</select>
			  </div>

			  <div class="pull-right mr10">
				<select id="user-role">
				  <optgroup label="Logged in As:">
					<option value="1-1">Client</option>
					<option value="1-2">Editor</option>
					<option value="1-3" selected="selected">Admin</option>
				  </optgroup>
				</select>
			  </div>
			</li>

			<li class="list-group-item">
			  <a href="#" class="animated animated-short fadeInUp">
				<span class="fa fa-envelope"></span> Messages
				<span class="label label-warning">2</span>
			  </a>
			</li>
			<li class="list-group-item">
			  <a href="#" class="animated animated-short fadeInUp">
				<span class="fa fa-user"></span> Friends
				<span class="label label-warning">6</span>
			  </a>
			</li>
			<li class="list-group-item">
			  <a href="#" class="animated animated-short fadeInUp">
				<span class="fa fa-bell"></span> Notifications </a>
			</li>
*}-->
		<li class="list-group-item">
			<a href="/?p=client&edit" class="animated animated-short fadeInUp">
				<span class="fa fa-id-card"></span> Личная информация</a>
		</li>
		<li class="list-group-item">
			<a href="/?p=client&edit#withdrawal" class="animated animated-short fadeInUp">
				<span class="fa fa-credit-card"></span> Методы вывода средств</a>
		</li>
		<li class="dropdown-footer">
			<a href="/?p=exit&id={$smarty.session.site_user}" class="">
				<span class="fa fa-power-off pr5"></span> Выйти из системы </a>
		</li>
	</ul>
		</li>
	</ul>
</header>