      <footer id="content-footer" class="affix">
        <div class="row">
          <div class="col-md-6">
            <span class="footer-legal">© 2015 Stock<b>Market</b></span>
          </div>
          <div class="col-md-6 text-right">
            <span class="footer-meta">Пользователей online <b>1</b> </span>
            <a href="#content" class="footer-return-top">
              <span class="fa fa-arrow-up"></span>
            </a>
          </div>
        </div>
      </footer>