<section id="content" class="table-layout animated fadeIn">

<!-- begin: .tray-center -->
<div class="tray tray-center">      

  <!-- dashboard tiles -->
<div class="row">
    {foreach from=$BondName.row item=row}    
    <div class="col-sm-4 col-md-4">            
        <div class="panel panel-tile text-center br-a br-light">
            <div class="panel-body bg-light">            
                <h1 class="fs35 mbn">{$row.par_now} <span class='fa fa-rub'></span></h1>
            </div>
              <div class="panel-footer br-t p12">
                <h6 class="text-system">{$row.title}</h6>                
                <span class="inlinesparkline  text-muted" data-spark-width="20%" data-spark-color="primary" values="{$row.price}"></span>
            </div>
            <div class="panel-footer br-t p12">

              <a href='/?p=stock&id={$row.id}' class='btn btn-primary dark btn-gradient  btn-sm br2'><i class='fa fa-open'></i> Открыть</a>
              <a href='#' class='btn btn-primary dark btn-gradient  btn-sm br2 hidden'><i class='fa fa-heart-o'></i> Отслеживать</a>
            </div>
            
        </div>
    </div>
    
    {/foreach}      
      

  
</div>
<div class='row'>
<div class='col-md-6'>    
    <div class="panel" id="p16">
        <div class="panel-heading ui-sortable-handle">
            <span class="panel-title"><span class="fa fa-credit-card"></span> Состояние счётов</span>
            <span class="panel-controls hidden"><a href="#" class="panel-control-loader"></a><a href="#" class="panel-control-remove"></a><a href="#" class="panel-control-title"></a><a href="#" class="panel-control-color"></a><a href="#" class="panel-control-collapse"></a><a href="#" class="panel-control-fullscreen"></a></span>
        </div>
        <div class="panel-body pn">
            <table class="table mbn tc-med-1 tc-bold-last">
                <thead>
                <tr class="hidden">
                    <th>Название счета</th>
                    <th>Состояние</th>
                </tr>
                </thead>
              <tbody>
                  		{foreach from=$AccountList.row item=row name=foo}
			
                    <tr>
                        <td><a href='/?p=account&edit&id={$row.id}'>{$row.title}</a></td>
                        <td><strong>{$row.value|number_format:2:".":"&nbsp;"} <i class='fa fa-rub'></i></td>
                    </tr>	
						{/foreach}


              </tbody>
            </table>
          </div>
        </div>
</div> 
<div class='col-md-6'>    
    <div class="panel" id="p16">
        <div class="panel-heading ui-sortable-handle">
            <span class="panel-title"><span class="fa fa-area-chart"></span> Открытые позиции</span>
            <span class="panel-controls hidden"><a href="#" class="panel-control-loader"></a><a href="#" class="panel-control-remove"></a><a href="#" class="panel-control-title"></a><a href="#" class="panel-control-color"></a><a href="#" class="panel-control-collapse"></a><a href="#" class="panel-control-fullscreen"></a></span>
        </div>
        <div class="panel-body pn">
            <table class="table mbn tc-med-1 tc-bold-last">
                <thead>
                <tr class="">
                    <th>Название счета</th>
                    <th>Кол-во</th>
                    <th>Цена покупки</th>
                    <th>Изменение</th>
                </tr>
                </thead>
              <tbody>
                {foreach from=$widget_open_position.row item=row}
                    <tr>
                        <td><a href='/?p=position&table&open'>{$row.title}</a></td>
                        <td>{$row.bonds_count}</td>
                        <td ><strong>{$row.total|number_format:2:".":"&nbsp;"} <i class='fa fa-rub'></i></td>
                        <td  data-id_bond_name='{$row.type_bonds}' data-price='{$row.price}'><span class='fa fa-spinner fa-spin'></span></td>
                    </tr>	
                    {foreachelse}
                    <tr><td colspan=3>Нет открытых позиций</td></tr>
						{/foreach}


              </tbody>
            </table>
          </div>
        </div>
</div> 
</div>
 <!--{* <div class=" fade-onload ">
        <div class="row">
            <div class="col-md-12">
                <div class="panel sort-disable" id="p01" data-panel-title="false">
                    <div class="panel-heading">
                        <span class="panel-title hidden-xs hidden"> Recent Activity</span>
                        <ul class="nav panel-tabs panel-tabs-left">
                            <li class="active">
                                <a href="#" data-toggle="tab"> User Activity</a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body pn">
                        <div class="tab-content">
                            <div class="tab-pane active p15" id="tab1_1" role="tabpanel" >
                                <div class="row">
                                    <div class="col-md-12 pln br-r mvn15">
                                        <h5 class="ml5 mt20 ph10 pb5 br-b fw600 hidden">Visitors
                                            <small class="pull-right fw600">13,253
                                                <span class="text-primary">(8,251 unique)</span>
                                            </small>
                                        </h5>
                                        <div id="ecommerce_chart1" style="height: 300px;"><span class='fa fa-cog fa-spin fa-2x'></span> Идет загрузка</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *}-->
</div>
</section>
