 <div id="order-open" class=" popup-lg   mfp-with-anim mfp-hide">
	<div class="panel">
		<div class="panel-heading">
			<span class="panel-title f-10"><i class="fa fa-envelope-o"></i>Распоряжение <span class='sell'>на покупку</span><span class='buy'>на продажу</span></span>
		</div>
		<form method="post" action="/" id="comment">
			<input type="hidden" name="number">
			<div class="panel-body p25">
				<div class='section row mb20'>
					<label for="multiselect1" class="col-md-4 control-label">Активный счёт</label>
					<div class="col-md-4">
						{if $smarty.session.site_user_account_demo==$smarty.session.site_user_account_active} Демо счет {$smarty.session.site_user_account_demo_amount|number_format:2:".":"&nbsp;"} <span class='fa fa-rub'></span>{/if} {if $smarty.session.site_user_account>0} {if $smarty.session.site_user_account==$smarty.session.site_user_account_active} Реальный счет {$smarty.session.site_user_account_amount|number_format:2:".":"&nbsp;"} <span class='fa fa-rub'></span>{/if} {/if}

					</div>
					<div class="col-md-4 "> <a href="#help" class="btn btn-primary modals" data-helpid=1>Как сменить счет?</a></div>
				</div>
				<div class='admin-form'>
					<div class="section row">
						<div class='col-md-3'>Акция</div>
						<div class='col-md-9'>
							<input type="text" name="order_type_bonds" class="gui-input" value='AML'>
						</div>
					</div>
					<div class="section row">
						<div class='col-md-3'>Текущая цена</div>
						<div class='col-md-9'>
							<input type="text" name="order_price" class="gui-input" placeholder="1000">
						</div>
					</div>
					<div class="section row buy">
						<div class='col-md-3'>Ваши открытые позиции</div>
						<div class='col-md-9'>
							<select name='sell_open' class='form-control'>
								<option value='0' selected="selected">Выберите открытую позицию</option>
								{foreach from=$open_position item=row}
								<option value='{$row.id}'>Номер операции: {$row.id} Цена покупки: {$row.price} Количество: {$row.bonds_count}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="section row">
						<div class='col-md-3'>Кол-во</div>
						<div class='col-md-9'>
							<input type="text" name="order_count" class="gui-input" placeholder="Введите необходимое кол-во" value=1>
						</div>
					</div>
					<div class="section row">
						<div class='col-md-3'>Итого <span class='sell'>к оплате</span><span class='buy'>получите</span></div>
						<div class='col-md-9 f16 total'>0 <span class='fa fa-rub'></span>

						</div>
					</div>
					<div class="section row">
						<div class='col-md-3'>Платежный пароль</div>
						<div class='col-md-9 f16'>
							<input type="text" name="temp_pay_pass" class="gui-input" placeholder="Введите плетжный пароль">

						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a href='#' class="btn btn-danger modal-close">Назад</a>
				<a href='#' type="submit" class="btn btn-primary  order-sell-ok sell">Подтвердить покупку</a>
				<a href='#' type="submit" class="btn btn-primary  order-buy-ok buy">Подтвердить продажу</a>
			</div>

		</form>
	</div>
</div>

<div id="help" class=" popup-lg mfp-with-anim mfp-hide">
	<div class="panel">
		<div class="panel-heading">
			<span class="panel-title f-10"><i class="fa fa-envelope-o"></i> Информация</span>
		</div>

		<div class="panel-body p25" id='help-content'>
		</div>
		<div class="panel-footer">
			<a href='#' class="btn btn-danger modal-close">Понятно</a>
		</div>

	
	</div>
</div>