<style>
	#PriceLast {
		font-size: 30px
	}
	
	#Different {
		font-size: 18px;
	}
</style>
<section id="content" class="table-layout animated fadeIn">
	<div class='row'>
		<div class="panel">
			<div class="panel-body">
				<ul class="nav nav-pills mb20 pull-right">
					<li class="{if !isset($GET.id_news)}active{/if}">
						<a href="#tab1_1" data-toggle="tab" aria-expanded="true">График</a>
					</li>
					<li class="{if isset($GET.profile)}active{/if}">
						<a href="#tab1_4" data-toggle="tab" aria-expanded="true">Профиль</a>
					</li>
					<li class="{if isset($GET.id_news)}active{/if}">
						<a href="#tab1_2" data-toggle="tab" aria-expanded="false">Новости</a>
					</li>
					<li class="">
						<a href="#tab1_3" data-toggle="tab" aria-expanded="false">Финансовая отчетность</a>
					</li>
				</ul>
				<div class="clearfix"></div>
				<div class="tab-content br-n pn">
					<div id="tab1_1" class="tab-pane {if !isset($GET.id_news)}active{/if}">
						<div class="row">
							<div class="admin-form  center-block theme-primary  col-md-12">
								<div class="panel  panel-primary">
									<!--#2f2f31-->
									<div class="panel-body bg-light pl5 pr5" style=" background: linear-gradient(to bottom right,#29292b, #3d3d40);">
										<div class="col-md-3">
											<div class='col-md-12 col-xs-6'>
												<div class='row'>
													<div class='col-md-12' style="color: #fff"><span id='PriceLast'><span class='fa fa-spinner fa-spin'></span><span class="fa fa-rub"></span></div>
													<br>
													<div class='col-md-12' id='Different'><span class='fa fa-spinner fa-spin'></div>
                            <div class='col-md-12'>Pre-market: 9:00 (МСК)</div>
													</div>
											</div>
											<div class='col-md-12 col-xs-6 mt15 pt15 pln' style=' border-top:1px solid #555;'>
													{$col1='col-md-4 col-xs-6'}{$col2='col-md-8 col-xs-6'}{$col0='col-md-12 col-xs-12 pln'}
													<div class='{$col0}'><div class='{$col1}'>Time:</div> <div class='{$col2}'>Close 16.10.2016</div></div>
													<div class='{$col0}'><div class='{$col1}'>High:</div> <div class='{$col2}' id='price_max'>-</div></div>
													<div class='{$col0}'><div class='{$col1}'>Low:</div> <div class='{$col2}' id='price_min'>-</div></div>
													<div class='{$col0}'><div class='{$col1}'>Vol:</div> <div class='{$col2}' id='tourover_all_deal'>-</div></div>
													<div class='{$col0}'><div class='{$col1}'>P/E:</div> <div class='{$col2}'>-</div></div>
													<div class='{$col0}'><div class='{$col1}'>Mkt&nbsp;Cap:</div> <div class='{$col2}'>-</div></div>
											</div>  
									</div>
									<div id="chart" class="col-md-9"><span class='fa fa-cog fa-spin fa-2x'></span> Идет загрузка</div>
												</div>
											</div>
										</div>
										<div class='col-md-12 text-center '>
											<a href="#order-open" class='btn btn-primary btn-lg  btn-rounded btn-gradient dark modals order-sell-open'><span class='fa fa-spinner fa-spin'></a>&nbsp; &nbsp;&nbsp;
											<a href="#order-open" class='btn btn-primary btn-lg btn-rounded btn-gradient dark modals order-buy-open'><span class='fa fa-spinner fa-spin'></a>
										</div>
									</div>
								</div>
					<div id="tab1_2" class="tab-pane {if isset($GET.id_news)}active{/if}">
						<div class="row">
							<div class="col-sm-4 col-md-4 col-lg-4">
								{foreach from=$news_list item=row}
								<div class="media">
									<a class="media-left" href="#">
									</a>
									<div class="media-body">
										<a href='/?p=stock&id={$GET.id}&id_news={$row.id}'>
											<h4 class="media-heading">{$row.title} <small class="text-muted">{$row.descr|truncate:50:'...':true:true}</small></h4> </a> {$row.date_create}
										<a class="text-system hidden" href="#"> Max </a>
									</div>
								</div>
								{foreachelse} У этого проекта проекта нет новостей {/foreach}
							</div>
							<div class="col-sm-8 col-md-8 col-lg-8">
								<h2>{$news.title}</h2>
								<div class='col-md-12'>
									<blockquote>{$news.descr}</blockquote>
								</div>
								<div class='col-md-12'>{$news.body}</div>
							</div>
						</div>
					</div>
					<div id="tab1_3" class="tab-pane">
						<div class="row" style=' padding:30px'>
							<div class="col-md-12">
								<div id="timeline" class="timeline-single ">
									{$date=''}
									{foreach from=$files item=row}
									{if $date!==$row.date_start}
									{$date=$row.date_start}
										<div class="timeline-divider mtn">
											<div class="divider-label">{$row.month}, {$row.date_start|date_format:"%Y"}</div>
										</div>
									{/if}
									<div class="row">
										<div class="col-sm-6 left-column">
											<div class="timeline-item">
												<div class="timeline-icon">
													<span class="{$row.ico} text-primary"></span>
												</div>
												<div class="panel">
													<div class="panel-heading" style=' height: auto; line-height: 16px; min-height:35px; padding:5px 0px 15px 0px'>
														<span class="panel-title"><span class="glyphicon glyphicon-comment"></span> {$row.title}</span>
														<div class="panel-header-menu ">  </div>
													</div>
													<div class="panel-body p15">
														<a href='/file.php?f={$row.id_file}' target="_blank"><span class='fa fa-download'></span> Скачать</a>
														<span class='pull-right mr10 text-muted fs12'>{$row.date_start|date_format:"%d.%m.%Y"}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								{/foreach}
								</div>
							</div>
						</div>
					</div>
					<div id="tab1_4" class="tab-pane">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<h1>{$profile.title}</h1>
								<h3>{$profile.descr}</h3>
								{$profile.body}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>

		<div class=" theme-primary  col-lg-12">
			<div class="panel ">
				<div class="panel-heading">
					<span class="panel-title"><i class="fa fa-circle-o"></i>Открытая позиция</span>
					<div class="pull-right hidden-xs">
						<code class="mr20"></code>
					</div>
				</div>
				<div class="panel-body pn table-responsive">
					<table class="table table-striped table-hover sort">
						<thead>
							<tr>
								<th>Номер сделки</th>
								<th>Время/Дата</th>
								<th>Биржевой продукт</th>
								<th>Кол-во</th>
								<th>Цена покупки</th>
								<th>Стоимость покупки</th>
								<th>Цена продажи</th>
								<th>Рыночная цена</th>
								<th>Изменение цены</th>
								<th>Прибыль/Убыток</th>
							</tr>
						</thead>
						<tbody>
							{foreach from=$open_position.row item=row}
							<tr>
								<td>{$row.id}&nbsp;{if ($row.is_demo == '0')}<span class="open_window button_sms" var="300" var2="sms">sms</span>{/if}</td>
								<td>{$row.date_create|date_format:"%H:%M %d/%m/%y"}</td>

								<td>{$row.title}</td>
								<td>{$row.bonds_count}</td>
								<td>{$row.price|number_format:2:".":"&nbsp;"} <span class='fa fa-rub'></span></td>
								<td>{$row.total|number_format:2:".":"&nbsp;"} <span class='fa fa-rub'></span></td>
								<td>0</td>
								<td class='table_real_price_buy' data-price='{$row.price}' data-count='{$row.bonds_count}' data-total='{$row.total}'>
									{$row.price_real_total|number_format:2:".":"&nbsp;"} <span class='fa fa-rub'></span><i class='fa fa-arrow-up text-success'></i>
								</td>
								<td>
									<span class='fa fa-spinner fa-spin'></span>
								</td>
								<td>
									<span class='fa fa-spinner fa-spin'></span>
								</td>
							</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class=" theme-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel ">
				<div class="panel-heading">
					<span class="panel-title"><i class="fa fa-times-circle-o"></i>Закрытая позиция</span>
					<div class="pull-right hidden-xs">
						<code class="mr20"></code>
					</div>
				</div>
				<div class="panel-body pn table-responsive">

					<table class="table table-striped table-hover sort ">
						<thead>
							<tr>
								<th>Номер сделки</th>
								<th>Время/Дата</th>
								<th>Биржевой продукт</th>
								<th>Кол-во</th>
								<th>Цена покупки</th>
								<th>Стоимость покупки</th>
								<th>Цена продажи</th>
								<th>Рыночная цена</th>
								<th>Изменение цены</th>
								<th>Прибыль/Убыток</th>
							</tr>
						</thead>
						<tbody>
							{foreach from=$close_position.row item=row}
							<tr>
								<td>{$row.id}</td>
								<td>{$row.date_create|date_format:"%H:%M %d/%m/%y"}</td>

								<td>{$row.title}</td>
								<td>{$row.bonds_count}</td>
								<td>{$row.price_buy}</td>
								<td>{$row.bonds_count*$row.price_buy}</td>
								<td>{$row.price_sell}</td>
								<td>{$row.price_sell_total}</td>
								<td>
									{$row.percent}%&nbsp;{if $row.polar=='up'}<i class='fa fa-arrow-up text-success'></i>{else}<i class='fa fa-arrow-down text-danger'></i>{/if}
								</td>
								<td>
									{$row.diff}руб.&nbsp;{if $row.polar=='up'}<i class='fa fa-arrow-up  text-success'></i>{else}<i class='fa fa-arrow-down  text-danger'></i>{/if}
								</td>
							</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>