﻿.clear{ clear: both; }
div.v{ visibility: hidden; }
.middle{ float: left; width: 855px; /*old version:width:735px*/ margin-top: 8px; }
.middle .title,.middle2 .title{ font-family: Georgia,'微软雅黑'; font-size: 20px; color: #178bbe; }
.middle .sec{ font-size: 14px; }
.middle .save_btn{ width: 89px; height: 30px; margin-right: 10px; cursor: pointer; background: url('/images/pages/save.png'); }
.middle .saveas_btn{ width: 138px; height: 30px; margin-right: 10px; cursor: pointer; background: url('/images/pages/saveas.png'); }
.middle .send_btn{ width: 89px; height: 30px; margin-right: 10px; cursor: pointer; background: url('/images/pages/send.png'); }
.middle .back_btn{ width: 89px; height: 30px; margin-right: 10px; cursor: pointer; background: url('/images/pages/back.png'); }
.middle .conclude_btn{ width: 197px; height: 30px; margin-right: 10px; cursor: pointer; background: url('/images/pages/conclude.png'); }
.middle a{ outline: none; }
.middle span,.middle input{ font-family: Arial,'微软雅黑'; font-size: 11px; margin-left: 0; color: #4e4e4e; }
.middle select{ font-family: Arial; font-size: 11px; height: 18px; padding-left: 8px; color: #4e4e4e; border: 1px solid #d3d4d7; background-color: #eee; }
.middle select option{ font-family: Arial; font-size: 11px; padding: 2px 0; text-indent: 10px; color: #4e4e4e; background-color: #eee; }
.middle input[type='file']{ height: 25px; border: 1px solid #d3d4d7; }
.middle img{ cursor: pointer; }
input.readonly,select.readonly{ color: #999; }
.middle .t{ font-size: 12px; margin-left: 5px; color: #f00; }
.middle .input{ height: 16px; padding-left: 10px; border: 1px solid #d3d4d7; background-color: #eee; }
.middle .textarea{ font-family: Arial,'微软雅黑'; font-size: 11px; overflow-y: auto; width: 355px; height: 45px; padding: 2px 10px; resize: none; color: #4e4e4e; border: 1px solid #d3d4d7; background-color: #eee; }
.middle .pre{ font-family: Arial,'微软雅黑'; font-size: 11px; width: 355px; min-height: 45px; padding: 2px 10px; color: #4e4e4e; border: 1px solid #d3d4d7; background-color: #eee; }
.middle .inputnull{ border: 1px solid #e30101; }
.long{ width: 365px; }
select.long{ width: 377px; }
.short{ width: 185px; }
select.short{ width: 197px; }
.shorter{ width: 125px; }
select.shorter{ width: 137px; }
.shortest{ width: 85px; }
select.shortest{ width: 97px; }
.arrow{ cursor: pointer; background: url('/images/pages/arrow.png') no-repeat right; }
.arrow2{ cursor: pointer; background: url('/images/pages/arrow2.png') no-repeat right; }
.p{ margin: 0 0 3px 0; padding: 2px 0 1px 0; border-bottom: 1px solid #d3d4d7; }
.btn{ margin-right: 10px; cursor: pointer; }
.left_part{ float: left; width: 230px; margin-left: 3px; }
.left_part2{ float: left; width: 220px; margin-left: 13px; }
.right_part{ position: relative; float: left; }
.dayimg{ position: absolute; cursor: pointer; }
.agree{ position: absolute; cursor: pointer; }
.cal{ line-height: 120%; float: left; min-width: 130px; }
.cal span,.cal a{ font-family: Arial,'微软雅黑'; font-size: 11px; cursor: pointer; text-decoration: underline; color: #4e4e4e; }
.up{ margin-right: 167px; }
.down{ margin-right: 128px; }
.content2{ width: 355px; height: 36px; padding: 5px 10px 0 10px; border: 1px solid #e30101; background-color: #eee; }
.content2 span{ font-size: 11px; }
.yesradio{ width: 212px; padding-left: 18px; cursor: pointer; background: url('/images/pages/yradio.png') no-repeat; }
.noradio{ width: 212px; padding-left: 18px; cursor: pointer; background: url('/images/pages/nradio.png') no-repeat; }
.checkbox{ width: 15px; height: 15px; cursor: pointer; }
.box{ width: 210px; padding-left: 20px; cursor: pointer; }
.n{ background: url('/images/pages/nbox.png') no-repeat 0 50%; }
.y{ background: url('/images/pages/ybox.png') no-repeat 0 50%; }

.table{ width: 855px; /*old version:width:735px*/ border: 0; }
.table tr{ height: 23px; }
.table td{ padding: 0; padding-left: 5px; }
.table .t1{ background: #e1e2e3; }
.table .t1 span{ font-family: Georgia,'微软雅黑'; font-weight: 500; color: #000; }
.table .cen span{ float: none; }

.updown{ position: absolute; display: inline-block; width: 12px; height: 14px; margin-left: 2px; cursor: pointer; }
.upimg{ margin: 1px 0 2px 0; }

.page{ margin-left: 5px; padding: 10px 0; }
.page a{ font-family: Tahoma,'微软雅黑'; font-size: 12px; margin: 0 1px; padding: 1px 2px 0 2px; cursor: pointer; color: #000; }
.page a:hover,.page .select{ text-decoration: none; color: #fff; background: #178bbe; }
.forward{ text-decoration: underline; }
.bottom{ padding-top: 10px; }
.disable{ font-family: Georgia,'微软雅黑'; font-size: 12px; font-weight: bold; line-height: 250%; float: right; margin-right: 10px; cursor: pointer; text-decoration: underline; color: #000; }
.total{ font-family: Arial,'微软雅黑'; font-size: 11px; text-align: center; color: #4e4e4e; }
.total span{ margin-right: 46px; margin-left: 10px; }

.option{ line-height: 130%; position: absolute; z-index: 1; right: 0; padding: 5px 0; border: 1px solid #d3d4d7; border-top: 0; background: #fff; }
.option .t1{ font-weight: bold; padding: 5px 0; cursor: default; color: #000; }
.option li{ font-family: Arial,'微软雅黑'; font-size: 11px; cursor: pointer; text-indent: 10px; color: #636363; }
.option .v:hover{ color: #3b3b3b; background: #e4e4e5; }
.option .select{ color: #fff; background: #178bbe; }
.option .select:hover{ color: #fff; background: #178bbe; }

.left_content{ float: left; width: 236px; margin: -10px 0 0 -10px; border: 0 solid; background-color: #f0efee; }
.left_content li{ cursor: pointer; }
.left_content a:focus{ outline: none; }
.left_menu{ padding-top: 7px; padding-bottom: 13px; }
.left_menu li a{ font-family: Georgia,'微软雅黑'; font-size: 14px; display: table; width: 226px; padding: 4px 0 5px 10px; color: #000; }
.left_menu li a:hover,.left_menu li a.select{ color: #fff; background-color: #178bbe; }

.sec_menu{ margin-bottom: 5px; padding: 1px 0 8px 0; border-bottom: 1px solid #178bbe; background-color: #eff6f9; }
.sec_menu li{ margin-top: 4px; }
.sec_menu li a{ font-family: Arial,'微软雅黑'; font-size: 12px; display: table; width: 218px; padding: 2px 0 2px 18px; color: #3b3b3b; }
.sec_menu li a:hover,.sec_menu li a.select{ color: #178bbe; background: url('/images/investments/menu_bg.png'); }

.right_content{ float: right; width: 805px; margin-top: 8px; }
.right_content .font{ font-family: Georgia,'微软雅黑'; font-size: 11px; }
.right_content .t1{ font-size: 30px; }
.right_content .t2{ font-size: 20px; }
.right_content .t3{ font-size: 16px; }
.right_content .t4{ font-size: 14px; }
.right_content .t5{ font-size: 12px; }

.blue{ color: #178bbe; }
.black{ color: #000; }
.gray{ color: #282828; }
.gray2{ color: #4e4e4e; }
.top{ position: relative; }
.table2{ width: 600px; border: 0; }
.table2 tr td{ padding: 10px 8px; }
.table2 .font{ font-family: Arial,'微软雅黑'; }
.bluearrow{ text-indent: 25px; background: url('/images/tariffs/3.png') no-repeat 1% 50%; }
.link{ text-decoration: underline; }
.alink:hover{ cursor: pointer; }
.right-menu{ position: absolute; top: 119px; right: -12px; width: 177px; }
.right-menu .t4{ height: 18px; margin-bottom: 1px; padding: 3px 10px; background: #b5adab; }
.right-menu .t6{ font-family: Tahoma,'微软雅黑'; font-size: 11px; line-height: 148%; }
.right-menu .sec{ padding: 9px 10px; background: #f0efee; }
.p2{ width: 610px; margin: 0 0 3px 0; padding: 2px 0 1px 0; border-bottom: 1px solid #d3d4d7; }
.hh{ display: block; }
.risk{ float: left; width: 311px; height: 179px; background-image: url('/images/investments/2.png'); }
.rk{ font-family: Arial,'微软雅黑'; font-size: 11px; color: #282828; }
.block{ width: 141px; height: 46px; margin-top: 10px; text-align: center; }

.option2{ line-height: 130%; position: absolute; z-index: 1; top: 40px; overflow: hidden; height: 232px; border: 1px solid #c5bebb; background: #fff; }
.option2 ul{ float: left; }
.option2 li{ font-family: Arial,'微软雅黑'; font-size: 11px; width: 69px; cursor: pointer; color: #636363; }
.option2 li img{ margin: 3px 22px 0 4px; }
.option2 .v:hover{ color: #3b3b3b; background: #e4e4e5; }
.option2 .select{ color: #fff; background: #178bbe; }
.option2 .select:hover{ color: #fff; background: #178bbe; }

.to{ top: 18px; overflow: hidden; height: 197px; padding: 0; }
.to ul{ margin-top: 7px; }
.slider_cover{ float: right; width: 18px; height: 234px; margin-top: -1px; border-left: 1px solid #c5bebb; background: #e4e4e5; }
.two{ height: 199px; margin-top: 0; }
.slider_btn{ position: absolute; top: -1px; right: 0; width: 19px; height: 27px; cursor: pointer; background: url('/images/converter/option1.png'); }

.a{ font-family: Arial,'微软雅黑'; font-size: 11px; text-decoration: underline; color: #4e4e4e; }
.a:focus{ outline: none; }
.url{ font-family: Georgia,'微软雅黑'; font-size: 13px; color: #000; }
.url:hover{ padding-left: 18px; color: #178bbe; background: url('/images/pages/yradio.png') no-repeat; }

.detail{ float: right; width: 860px; margin-top: 8px; }
.detail .title{ font-family: Georgia,'微软雅黑'; font-size: 20px; font-weight: bold; color: #178bbe; }
.detail img{ cursor: pointer; }
.detail .table{ width: 870px; border: 0; }
.detail .table tr{ height: 23px; }
.detail .table .tt1{ background: #e1e2e3; }
.detail .table .tt1 span{ font-family: Georgia,'微软雅黑'; font-size: 10px; color: #000; }
.detail .table .tt2 span{ font-family: Arial,'微软雅黑'; font-size: 10px; color: #4e4e4e; }

.message{ width: 600px; height: 350px; padding-top: 5px; padding-left: 30px; border: 1px solid #e5e5e5; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px; background-color: #fafafa; }
.message .hr{ margin-top: 5px; margin-left: -30px; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #fff; }
.message .top{ margin-top: 30px; }
.message div{ font-family: Arial,'微软雅黑'; font-size: 12px; color: #000; }
.message .title-item{ margin-right: 30px; padding: 5px 0; border-bottom: 1px solid #e5e5e5; }
.message .title-item .ldiv{ font-weight: bold; display: inline-block; width: 156px; }
.message .new-item{ display: inline-block; width: 460px; padding: 1px 3px; color: #666; border: 1px solid #e5e5e5; background-color: #f0efee; }
.message .top div{ font-family: Arial,'微软雅黑'; font-size: 12px; display: inline-block; color: #000; }
.message .top .oneclient{ font-size: 12px; line-height: 19px; position: relative; width: 150px; height: 19px; margin-right: 10px; border: 1px solid #c5c5c5; background-color: #fff; }
.message .top .client{ font-size: 12px; line-height: 20px; width: 115px; height: 20px; margin-left: 15px; background-color: #fff; }
.message .select{ line-height: 20px; width: 81px; height: 20px; cursor: pointer; text-align: center; background: url('/images/pages/select_bg.png'); }
.message .area{ font-family: Arial,'微软雅黑'; font-size: 12px; overflow-y: auto; width: 380px; height: 100px; margin-top: 10px; margin-left: 80px; padding: 5px; resize: none; color: #4e4e4e; border: 1px solid #e5e5e5; border-top: 1px solid #adadaf; background-color: #fff; }
.message .subject{ font-size: 12px; line-height: 20px; width: 250px; height: 20px; margin-right: 10px; border: 1px solid #c5c5c5; background-color: #fff; }
.message .number{ font-size: 12px; line-height: 20px; width: 250px; height: 20px; margin-right: 10px; border: 1px solid #c5c5c5; background-color: #fff; }
.message .btn{ font-size: 12px; width: 55px; height: 22px; color: #383838; background: url('/images/pages/btn_bg.png'); }
.message .ajax{ position: absolute; top: 20px; left: 75px; width: 200px; height: 25px; color: red; }

.fff .tips{ position: absolute; top: 0; left: 0; padding-left: 20px; text-align: center; opacity: .8; background: #fcfcfc; filter: alpha(Opacity=80); -moz-opacity: .8; }

.btn_create{ display: inline-block; height: 30px; margin-right: 5px; cursor: pointer; background: none; }
.btn_create .btn_l{ float: left; width: 12px; height: 30px; background: url('/images/btn_l.png') no-repeat; }
.btn_create .btn_c{ font-family: Georgia; font-size: 14px; font-weight: bold; line-height: 30px; float: left; height: 30px; color: #000; background: url('/images/btn_bg.png') repeat-x; }
.btn_create .btn_r{ float: left; width: 45px; height: 30px; background: url('/images/btn_r.png') no-repeat; }

.left_blue{ display: inline; height: 19px; color: #fff; }
.left_blue .bn1{ float: left; width: 10px; height: 19px; background: url('/images/pages/left_blue1.png') no-repeat; }
.left_blue .bn2{ float: left; width: auto; height: 19px; background: url('/images/pages/left_blue2.png') repeat-x; }
.left_blue .bn3{ float: left; width: 2px; height: 19px; background: url('/images/pages/left_blue3.png') no-repeat; }

.left_white{ display: inline; height: 19px; color: #000; }
.left_white .bn1{ float: left; width: 10px; height: 19px; background: url('/images/pages/left_white1.png') no-repeat; }
.left_white .bn2{ float: left; width: auto; height: 19px; background: url('/images/pages/left_white2.png') repeat-x; }
.left_white .bn3{ float: left; width: 2px; height: 19px; background: url('/images/pages/left_white3.png') no-repeat; }

.right_white{ display: inline; height: 19px; color: #000; }
.right_white .bn1{ float: left; width: 2px; height: 19px; background: url('/images/pages/right_white1.png') no-repeat; }
.right_white .bn2{ float: left; width: auto; height: 19px; background: url('/images/pages/right_white2.png') repeat-x; }
.right_white .bn3{ float: left; width: 10px; height: 19px; background: url('/images/pages/right_white3.png') no-repeat; }

.right_blue{ display: inline; height: 19px; color: #fff; }
.right_blue .bn1{ float: left; width: 2px; height: 19px; background: url('/images/pages/right_blue1.png') no-repeat; }
.right_blue .bn2{ float: left; width: auto; height: 19px; background: url('/images/pages/right_blue2.png') repeat-x; }
.right_blue .bn3{ float: left; width: 10px; height: 19px; background: url('/images/pages/right_blue3.png') no-repeat; }

.left_blue .bn2,.left_white .bn2,.right_blue .bn2,.right_white .bn2{ font-family: Arial; font-size: 12px; line-height: 19px; padding: 0 10px; }

/*lockradio css*/
.lockradio_yes{ width: 212px; padding-left: 18px; cursor: pointer; background: url('/images/pages/yradio.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
.lockradio_no{ width: 212px; padding-left: 18px; cursor: pointer; background: url('/images/pages/nradio.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0); }

/*task 438*/
.notify_bg{ position: fixed; z-index: 99; top: 0; left: 0; width: 100%; height: 100%; opacity: .1; background: #000; }
.notify{ font-size: 12px; position: fixed; z-index: 100; top: 50%; left: 50%; width: 300px; margin: -50px 0 0 -150px; padding: 40px 0; text-align: center; color: #666; border-radius: 5px; background: url('/images/loading.gif') 200px 30px no-repeat rgba(255, 255, 255, 1); }
.notify_2{ font-size: 12px; }
.loading_btn{ font-size: 12px; padding: 0 3px; color: #666; color: #178bbe; border: 1px solid #ccc; border-radius: 3px; }

/* receive sms notify*/
.rcsm_notify_bg{ position: fixed; z-index: 99; top: 0; left: 0; width: 100%; height: 100%; opacity: .1; background: #000; }
.rcsm_notify{ font-size: 12px; position: fixed; z-index: 100; top: 50%; left: 50%; width: 300px; margin: -50px 0 0 -150px; padding: 40px 0; text-align: center; color: #666; border-radius: 5px; background: url('/images/loading.gif') 200px 30px no-repeat rgba(255, 255, 255, 1); }
.rcsm_notify_2{ font-size: 12px; display: inline-block; padding: 0 20px; }
.schedule_table{ display: none; margin: 25px 0; }
