.flat-noty {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 6px;
  margin: 8px 0;
}
.flat-noty .noty_bar {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #f0f3f5;
  border-radius: 6px;
  color: #7f888f;
}
.flat-noty .noty_type_info {
  background-color: #b6daec;
  border-color: #8ec5e1;
  color: #31708f;
}
.flat-noty .noty_type_success {
  background-color: #d5ebb7;
  border-color: #bee08f;
  color: #3c763d;
}
.flat-noty .noty_type_warning {
  background-color: #fff4bd;
  border-color: #ffe357;
  color: #8a6d3b;
}
.flat-noty .noty_type_danger {
  background-color: #ebc1ca;
  border-color: #df9aa9;
  color: #a94442;
}
.flat-noty.noty-dark .noty_bar {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
}
.flat-noty .has-image {
  position: relative;
  padding-left: 50px;
  min-height: 40px;
  padding-top: 3px;
}
.flat-noty .has-image .noty_image {
  position: absolute;
  left: 0;
  top: 0;
}
.flat-noty .has-image .noty_image img {
  max-width: 100%;
}
.flat-noty .has-image .profile-pic {
  border-radius: 50em;
  width: 40px;
  height: 40px;
}